{% extends 'base.html' %}
{% set page_title=_('Page not found') %}


{% block head %}{% endblock %}

{% block content %}
<div class="b-page__content">
    <div class="page-title">
        <div class="page-title__inner align-center ">
            <h1 class="page-title__head background-image-title h1">{{ e.code|default(500) }}</h1>
        </div>
    </div>
    <div class="b-page__inner" style="text-align: center; padding: 24px 0;">
        {{ _(e.description)|default(gettext('Error')) }}
    </div>
</div>
{% endblock %}
