{% extends 'base.html' %}
{% set page_title = _("Legal notice") %}

{% block content %}
<div class="page-title page-title--textpage">
    <div class="b-page__inner page-title__inner page-title__inner--align-left">
        <h1 class="page-title__head h1">{{ page_title }}</h1>
    </div>
</div>
<div class="b-page__inner b-page__mrg content-page">

    <p>Biganto GmbH</p>
    <p>Schloßschmidstr. 5, </p>
    <p>c/o Acconsis GmbH Rechtsanwaltsgesellschaft, </p>
    <p>80639 Munich</p>
    <p>Germany</p>
    <br>
    <p><strong>Contact information</strong></p>
    <p>Telephone: +49 (89) 262-195-67</p>
    <p>E-Mail: info@biganto.com</p>
    <br>
    <p><strong>Authorized / Board:</strong></p>
    <p>Alexander Jazuk (managing director),</p>
    <br>
    <p><strong>Register:</strong></p>
    <p>Commercial register, Munich District Court HRB 206771</p>
    <p>VAT identification number:</p>
    <p>DE - 291306762</p>

    <p>For questions about https: // www.biganto.com please contact us</p>
    <p>E-Mail: info@biganto.com</p>

</div>
{% endblock %}
