{% extends 'base.html' %}
{% set page_title = "Hinweise zum Datenschutz" %}

{% block content %}
    <div class="page-title page-title--textpage">
        <div class="b-page__inner page-title__inner page-title__inner--align-left">
            <h1 class="page-title__head h1">{{ page_title }}</h1>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg content-page content-page__license">
        <p><strong>1. Name und Anschrift des Verantwortlichen</strong></p>
        <p><strong>2. Name und Anschrift des Datenschutzbeauftragten</strong></p>
        <p><strong>3. Serverprotokoll</strong></p>
        <p><strong>4. Newsletter und Status-Informationen</strong></p>
        <p><strong>5. Support-Kontaktformular</strong></p>
        <p><strong>6. Onlinemarketing</strong></p>
        <p><strong>7. Single-Sign-On-Anmeldung</strong></p>
        <p><strong>8. Empfänger von Daten</strong></p>
        <p><strong>9. Ihre Rechte als Betroffener</strong></p>
        <p><strong>10. Beschwerderecht</strong></p>
    
        <br>
        <p><strong>1. Name und Anschrift des Verantwortlichen</strong></p>
        <p>Der Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der
            Mitgliedstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:
        </p>
        <br>
        <p>Biganto GmbH</p>
        <p>Schloßschmidstr. 5</p>
        <p>80639 München </p>
        <p>Tel. +49 (89) 262-195-67</p>
        <p>E-Mail: info@biganto.com</p>
        <p>Geschäftsführer: Alexander Jazuk</p>
        <p><a href="{{ url_for('front.index') }}">https://www.biganto.com</a></p>
    
        <br>
        <p><strong>2. Name und Anschrift des Datenschutzbeauftragten</strong></p>
        <p>Ein Datenschutzbeauftragter ist derzeit nicht bestellt, da die gesetzlichen Voraussetzungen nicht vorliegen.
            Bitte wenden Sie sich bei Fragen zum Datenschutz an info@biganto.com.
        </p>
    
    
        <br>
        <p><strong>3. Serverprotokoll</strong></p>
        <p>Um unser Onlineangebot sicher und effizient bereitstellen zu können, nehmen wir die Leistungen von einem oder
            mehreren Webhosting-Anbietern in Anspruch, von deren Servern (bzw. von ihnen verwalteten Servern) das
            Onlineangebot abgerufen werden kann. Zu diesen Zwecken können wir Infrastruktur- und Plattform Dienstleistungen,
            Rechenkapazität, Speicherplatz und Datenbankdienste sowie Sicherheitsleistungen und technische
            Wartungsleistungen in Anspruch nehmen.
    
        </p>
    
        <p>Durch den Aufruf unserer Internetseite werden personenbezogene Daten der Besucher erhoben und von uns
            verarbeitet. Hierzu können z.B. die IP-Adresse des die Internetseite aufrufenden Systems und weitere
            Kommunikationsdaten gehören, die für den Aufruf der Internetseite erforderlich sind. Darüber hinaus hinaus
            getätigte Angaben der Besucher können ebenfalls zu den von uns erhobenen und verarbeiteten personenbezogenen
            Daten gehören.
        </p>
    
        <p>Folgende Daten werden beim Besuch unserer Webseite in einer Protokolldatei, dem sogenannten Serverprotokoll,
            gespeichert:</p>
        <ul>
            <li>Informationen über den Browsertyp und die verwendete Version
            </li>
            <li>Das Betriebssystem des Nutzers
            </li>
            <li>Den Internet-Service-Provider des Nutzers
            </li>
            <li>Die IP-Adresse des Nutzers
            </li>
            <li>Datum und Uhrzeit des Zugriffs
            </li>
            <li>Websites, von denen das System des Nutzers auf unsere Internetseite gelangt
            </li>
            <li>Websites, die vom System des Nutzers über unsere Website aufgerufen werden
            </li>
        </ul>
    
        <p>Die <strong>Rechtsgrundlage</strong> für diese Erhebung ist Art. 6 Abs. 1 lit. f) GDPR (berechtigtes Interesse).
            Eine Widerspruchsmöglichkeit besteht bei dieser Erhebung nicht, da das Serverprotokoll zur Sicherstellung der
            Bereitschaft dieser Webseite und im Falle von Angriffen auf die Webseite unverzichtbar ist.
        </p>
    
        <p>Die Daten aus dem Serverprotokoll werden nach 14 Tagen automatisch gelöscht.
        </p>
        <p>Eingesetzte Dienste und Diensteanbieter im Rahmen der Bereitstellung des Hosting Angebotes:
        </p>
        <br>
        <p><strong>Amazon Web Services (AWS):</strong> Webhosting und infrastrukturelle Dienstleistungen; Dienstanbieter:
            Amazon Web Services, Inc., 410 Terry Avenue North, Seattle WA 98109, USA; Website: <a
                href="https://aws.amazon.com/de/">https://aws.amazon.com/de/</a>; Datenschutzerklärung: <a
                href="https://aws.amazon.com/de/privacy/?nc1=f_pr">https://aws.amazon.com/de/privacy/?nc1=f_pr</a>; Privacy
            Shield (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA): <a
                href="https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active</a>.
        </p>
    
        <br>
    
        <p><strong>4. Newsletter und Status-Informationen</strong></p>
        <p>Wenn Sie sich für unseren Newsletter oder unseren Status-Service anmelden, erfolgt dies auf der Rechtsgrundlage,
            dass sie uns Ihre Einwilligung hierzu erteilt haben (Art. 6 Abs.1 lit a) GDPR).
        </p>
        <p>Sie können jederzeit der weiteren Zustellung des Newsletters widersprechen, indem sie auf den in jedem Newsletter
            am Ende angezeigten Abmeldelink klicken oder uns eine formlose Mail mit dem Betreff „Newsletter abmelden“ an die
            Adresse info@biganto.com senden.
        </p>
    
        <br>
    
        <p><strong>5. Support-Kontaktformular</strong></p>
        <p>Wenn Sie mit uns mittels des auf der Webseite bereitgestellten Kontaktformulars in Kontakt treten, erfolgt dies
            auf Grundlage ihrer Einwilligung (Art. 6 Abs. 1 lit. a) GDPR). Die mittels des Kontaktformulars übermittelten
            Daten verwenden wir nur zur Beantwortung Ihres Anliegens. Eine weitere Nutzung dieser Daten durch die Biganto
            GmbH oder Dritte findet zu keinem Zeitpunkt statt.
        </p>
    
    
        <br>
        <p><strong>6. Onlinemarketing</strong></p>
        <p>Wir verarbeiten personenbezogene Daten auch zu Zwecken des Online Marketings, hierunter können die Vermarktung
            von Werbeflächen wie auch die Darstellung gewerblicher und sonstiger Inhalte (im Folgenden „Werbeinhalte“)
            anhand potentieller Interessen der Nutzer sowie die Messung ihrer Effektivität fallen.</p>
    
        <p>Zu o.g. Zwecken werden sogenannte Nutzerprofile angelegt und in einer Datei (sogenanntes "Cookie") gespeichert
            oder ähnliche Verfahren genutzt. Angaben in den Nutzerprofilen können z. B. betrachtete Inhalte, besuchte
            Webseiten, genutzte Online Netzwerke, aber auch Kommunikationspartner und technische Angaben, wie der verwendete
            Browser, das verwendete Computersystem sowie Angaben zu Nutzungszeiten gehören.
        </p>
    
        <p>Bei der Speicherung der IP-Adressen nutzen wir das zur Verfügung stehende IP-Masking-Verfahren (d. h.,
            Pseudonymisierung durch Kürzung der IP-Adresse) zum Schutz der Nutzer. Klardaten der Nutzer werden grundsätzlich
            nicht zu Zwecken des Online Marketings gespeichert.
        </p>
    
        <p>Die in z. B. Cookies gespeicherten Profilangaben können später grundsätzlich auch auf anderen Webseiten, die
            dasselbe Onlinemarketing Verfahren einsetzen, ausgelesen und sowohl zu Zwecken der Darstellung von Inhalten
            analysiert, als auch mit weiteren Daten ergänzt und auf dem Server des Onlinemarketing Verfahrens Anbieters
            gespeichert werden.
        </p>
    
        <p>Sind Nutzer Mitglieder in einem Social Network, dessen Onlinemarketing Verfahren von Biganto eingesetzt wird, so
            besteht die Möglichkeit, dass der der Anbieter des Online Marketing Verfahrens (der ggfs. auch gleichzeitig
            Anbieter des Social Networks ist) den Profilen Klardaten zuordnen kann. Aus diesem Grund bitten wir um Beachtung
            der Datenschutz Einstellungen beim Anbieter des jeweiligen Netzwerks. Biganto erhält grundsätzlich nur Zugang zu
            zusammengefassten Informationen über den Erfolg unserer Werbeanzeigen, dies können bspw. statistische
            Auswertungen sein. Im Rahmen sogenannter Konversion Messungen kann Biganto prüfen, welche unserer
            Onlinemarketing Verfahren zu einer sogenannten „Konversion“ geführt haben, also ob es bspw. zu einem
            Vertragsschluss mit uns aufgrund einer werblichen Maßnahme gekommen ist. Diese Messungen werden nur zur Analyse
            des Erfolgs unserer Marketingmaßnahmen verwendet.
        </p>
    
        <p>Die Cookies werden - sofern nicht anders angegeben für einen Zeitraum von zwei Jahren gespeichert werden.
        </p>
    
        <p><strong>Hinweise zu Rechtsgrundlagen:</strong> Sofern wir die Nutzer um deren Einwilligung in den Einsatz der
            Drittanbieter bitten, ist die Rechtsgrundlage der Verarbeitung von Daten die Einwilligung. Ansonsten werden die
            Daten der Nutzer auf Grundlage unserer berechtigten Interessen (d.h. Interesse an effizienten, wirtschaftlichen
            und empfänger freundlichen Leistungen) verarbeitet.</p>
    
        <br>
        <p><strong>Eingesetzte Dienste und Diensteanbieter im Rahmen des Online Marketings:
            </strong></p>
    
        <ul>
            <li>
                <p><strong>Google Tag Manager:</strong></p>
                <p>
                    Google Tag Manager ist eine Lösung, mit der wir sog. Website-Tags über eine Oberfläche verwalten können
                    (und so z.B. Google Analytics sowie andere Google-Marketing-Dienste in unser Onlineangebot einbinden).
                    Der Tag Manager selbst (durch den die Tags implementiert werden) verarbeitet keine personenbezogenen
                    Daten der Nutzer. Im Hinblick auf die Verarbeitung der personenbezogenen Daten der Nutzer wird auf die
                    folgenden Angaben zu den Google-Diensten verwiesen. Dienstanbieter: Google Ireland Limited, Gordon
                    House, Barrow Street, Dublin 4, Ireland; Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway,
                    Mountain View, CA 94043, USA; Website:
                    <a href="https://marketingplatform.google.com/">https://marketingplatform.google.com</a>;
                    Datenschutzerklärung: <a
                        href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy Shield
                    (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA):
                    <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>.
                </p>
            </li>
            <li>
                <p><strong>Google Analytics:</strong></p>
                <p>Wir setzen auf Grundlage unserer berechtigten Interessen (d.h. Interesse an der Analyse, Optimierung und
                    wirtschaftlichem Betrieb unseres Onlineangebotes im Sinne des Art. 6 Abs. 1 lit. f.) GDPR) Google
                    Analytics, einen Webanalysedienst der Google LLC („Google“) ein. Google verwendet Cookies. Die durch das
                    Cookie erzeugten Informationen über Benutzung des Onlineangebotes durch die Nutzer werden in der Regel
                    an einen Server von Google in den USA übertragen und dort gespeichert.
                </p>
                <p>Google ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das
                    europäische Datenschutzrecht einzuhalten <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">(https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active)</a>.
                </p>
                <p>Google wird diese Informationen in unserem Auftrag benutzen, um die Nutzung unseres Onlineangebotes durch
                    die Nutzer auszuwerten, um Reports über die Aktivitäten innerhalb dieses Onlineangebotes
                    zusammenzustellen und um weitere, mit der Nutzung dieses Onlineangebotes und der Internetnutzung
                    verbundene Dienstleistungen, uns gegenüber zu erbringen. Dabei können aus den verarbeiteten Daten
                    pseudonyme Nutzungsprofile der Nutzer erstellt werden.</p>
                <p>Wir setzen Google Analytics nur mit aktivierter IP-Anonymisierung ein. Das bedeutet, die IP-Adresse der
                    Nutzer wird von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen
                    Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum gekürzt. Nur in Ausnahmefällen wird
                    die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.</p>
                <p>Die von dem Browser des Nutzers übermittelte IP-Adresse wird nicht mit anderen Daten von Google
                    zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung
                    ihrer Browser-Software verhindern; die Nutzer können darüber hinaus die Erfassung der durch das Cookie
                    erzeugten und auf ihre Nutzung des Onlineangebotes bezogenen Daten an Google sowie die Verarbeitung
                    dieser Daten durch Google verhindern, indem sie das unter folgendem Link verfügbare Browser-Plugin
                    herunterladen und installieren: <a
                        href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
                </p>
                <p>Weitere Informationen zur Datennutzung durch Google, Einstellungs- und Widerspruchsmöglichkeiten,
                    erfahren Sie in der Datenschutzerklärung von Google(<a
                        href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>)
                    sowie in den Einstellungen für die Darstellung von Werbeeinblendungen durch Google (<a
                        href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>).
                </p>
                <p>Die personenbezogenen Daten der Nutzer werden nach 14 Monaten gelöscht oder anonymisiert.</p>
            </li>
            <li>
                <p><strong>Google Ad Manager:</strong></p>
                <p>Wir nutzen die "Google Marketing Platform" (und Dienste wie z.B. "Google Ad Manager"), um Anzeigen im
                    Google-Werbe-Netzwerk zu platzieren (z.B., in Suchergebnissen, in Videos, auf Webseiten, etc.). Die
                    Google Marketing Platform zeichnet sich dadurch aus, dass Anzeigen in Echtzeit anhand mutmaßlicher
                    Interessen der Nutzer angezeigt werden. Dies erlaubt uns Anzeigen für und innerhalb unseres
                    Onlineangebotes gezielter anzuzeigen, um Nutzern nur Anzeigen zu präsentieren, die potentiell deren
                    Interessen entsprechen. Falls einem Nutzer z.B. Anzeigen für Produkte angezeigt werden, für die er sich
                    auf anderen Onlineangeboten interessiert hat, spricht man hierbei vom "Remarketing“. Dienstanbieter:
                    Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Ireland, parent company: Google LLC, 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, USA; Website: <a
                        href="https://marketingplatform.google.com/">https://marketingplatform.google.com</a>;
                    Datenschutzerklärung: <a
                        href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy Shield
                    (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA): <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>.
                </p>
            </li>
            <li>
                <p><strong>Facebook Pixels, Custom Audiences and Facebook Conversion</strong></p>
                <p>Innerhalb unseres Onlineangebotes wird aufgrund unserer berechtigten Interessen an Analyse, Optimierung
                    und wirtschaftlichem Betrieb unseres Onlineangebotes und zu diesen Zwecken das sog. "Facebook-Pixel" des
                    sozialen Netzwerkes Facebook, welches von der Facebook Inc., 1 Hacker Way, Menlo Park, CA 94025, USA,
                    bzw. falls Sie in der EU ansässig sind, Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal
                    Harbour, Dublin 2, Irland betrieben wird ("Facebook"), eingesetzt.
                </p>
                <p>Facebook ist unter dem Privacy-Shield-Abkommen zertifiziert und bietet hierdurch eine Garantie, das
                    europäische Datenschutzrecht einzuhalten (<a
                        href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>).
                </p>
                <p>Mit Hilfe des Facebook-Pixels ist es Facebook zum einen möglich, die Besucher unseres Onlineangebotes als
                    Zielgruppe für die Darstellung von Anzeigen (sog. "Facebook-Ads") zu bestimmen. Dementsprechend setzen
                    wir das Facebook-Pixel ein, um die durch uns geschalteten Facebook-Ads nur solchen Facebook-Nutzern
                    anzuzeigen, die auch ein Interesse an unserem Onlineangebot gezeigt haben oder die bestimmte Merkmale
                    (z.B. Interessen an bestimmten Themen oder Produkten, die anhand der besuchten Webseiten bestimmt
                    werden) aufweisen, die wir an Facebook übermitteln (sog. „Custom Audiences“). Mit Hilfe des
                    Facebook-Pixels möchten wir auch sicherstellen, dass unsere Facebook-Ads dem potentiellen Interesse der
                    Nutzer entsprechen und nicht belästigend wirken. Mit Hilfe des Facebook-Pixels können wir ferner die
                    Wirksamkeit der Facebook-Werbeanzeigen für statistische und Marktforschungszwecke nachvollziehen, in dem
                    wir sehen ob Nutzer nachdem Klick auf eine Facebook-Werbeanzeige auf unsere Website weitergeleitet
                    wurden (sog. „Conversion“).</p>
                <p>Die Verarbeitung der Daten durch Facebook erfolgt im Rahmen von Facebooks Datenverwendungsrichtlinie.
                    Dementsprechend generelle Hinweise zur Darstellung von Facebook-Ads, in der Datenverwendungsrichtlinie
                    von Facebook: <a href="https://www.facebook.com/policy.php">https://www.facebook.com/policy.php</a>.
                    Spezielle Informationen und Details zum Facebook-Pixel und seiner Funktionsweise erhalten Sie im
                    Hilfebereich von Facebook: <a
                        href="https://www.facebook.com/business/help/651294705016616">https://www.facebook.com/business/help/651294705016616</a>.
                </p>
                <p>Sie können der Erfassung durch den Facebook-Pixel und Verwendung Ihrer Daten zur Darstellung von
                    Facebook-Ads widersprechen. Um einzustellen, welche Arten von Werbeanzeigen Ihnen innerhalb von Facebook
                    angezeigt werden, können Sie die von Facebook eingerichtete Seite aufrufen und dort die Hinweise zu den
                    Einstellungen nutzungsbasierter Werbung befolgen: <a
                        href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>. Die
                    Einstellungen erfolgen plattformunabhängig, d.h. sie werden für alle Geräte, wie Desktopcomputer oder
                    mobile Geräte übernommen.
                </p>
                <p>Sie können dem Einsatz von Cookies, die der Reichweitenmessung und Werbezwecken dienen, ferner über die
                    Deaktivierungsseite der Netzwerkwerbeinitiative (<a
                        href="http://optout.networkadvertising.org/">http://optout.networkadvertising.org/</a>) und
                    zusätzlich die US-amerikanische Webseite (<a
                        href="http://www.aboutads.info/choices">http://www.aboutads.info/choices</a>) oder die europäische
                    Webseite (<a
                        href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a>)
                    widersprechen.
                </p>
            </li>
        </ul>
    
        <br>
    
        <p><strong>7. Single-Sign-On-Anmeldung - Facebook Connect und VK.com</strong></p>
    
        <p>Auf unserer Website können Sie sich zur Erstellung eines Kundenkontos bzw. zur Registrierung mittels des Social
            Plugins „Facebook Connect“ des sozialen Netzwerkes Facebook, das von der Facebook Inc., 1 Hacker Way, Menlo
            Park, CA 94025, USA („Facebook“), betrieben wird, im Rahmen der sog. Single Sign On-Technik anmelden, sofern Sie
            über ein Facebook-Profil verfügen. </p>
    
        <p>Sofern Sie über ein Profil im Socialnetwork „V Kontakte“ verfügen, können Sie sich ebenfalls über die sog, Single
            Sign On-Technik via entsprechendem Social Plugin von „V Kontakte“ anmelden. „V Kontakte“ wird betrieben von der
            LLC "V Kontakte" of 1-N, bld. 12-14, Lit. A, Khersonskaya st., St. Petersburg, Russland, 191024. Zum Zwecke der
            Umsetzung des Datenschutzes wird diese durch MGL MY.COM (Zypern) LIMITED,f 28 Oktovriou, 365 VASHIOTIS SEAFRONT,
            office 402 Neapoli, 3107, Limassol, Zypern, vertreten.</p>
    
        <p>Wenn Sie eine Seite unseres Webauftritts aufrufen, die ein solches Plugin enthält, stellt Ihr Browser eine
            direkte Verbindung zu den Servern von Facebook bzw. V Kontakte her. Der Inhalt des Plugins wird von Facebook
            bzw. „V Kontakte“ direkt an Ihren Browser übermittelt und in die Seite eingebunden. Durch diese Einbindung
            erhalten Facebook bzw. „V Kontakte“ die Information, dass Ihr Browser die entsprechende Seite unseres
            Webauftritts aufgerufen hat, auch wenn Sie kein entsprechendes Profil besitzen oder gerade nicht bei Facebook
            oder „V Kontakte“ eingeloggt sind. Diese Information (einschließlich Ihrer IP-Adresse) wird von Ihrem Browser
            direkt an einen Server von Facebook in die USA bzw. zu „V Kontakte“ Russland übermittelt und dort gespeichert.
            Diese Datenverarbeitungsvorgänge erfolgen gemäß Art. 6 Abs. 1 lit. f) GDPR auf Basis des berechtigten Interesses
            von Facebook bzw. „V Kontakte“ an der Einblendung von personalisierter Werbung auf Basis des Surfverhaltens.</p>
    
        <p>Über die Verwendung dieser Plugins auf unserer Website haben Sie außerdem die Möglichkeit, sich mittels Ihrer
            Facebook- bzw. „V Kontakte“ Nutzerdaten auf unserer Website einzuloggen bzw. zu registrieren. Ausschließlich
            dann, wenn Sie vor dem Anmeldeprozess auf Basis eines entsprechenden Hinweises über den Austausch von Daten mit
            Facebook/“V Kontakte“ Ihre ausdrückliche Einwilligung gemäß Art. 6 Abs. 1 lit. a) GDPR erteilen, erhalten wir
            bei Verwendung dieser Logon-, abhängig von Ihren persönlich getroffenen Datenschutzeinstellungen bei Facebook
            bzw. „V Kontakte“, die in ihrem Profil hinterlegten allgemeinen und öffentlichen zugänglichen Informationen. Zu
            diesen Informationen gehören die Nutzer-ID, der Name, das Profilbild, das Alter und das Geschlecht.
        </p>
    
        <p>Wir weisen darauf hin, dass es nach Änderungen der Datenschutzbedingungen und Nutzungsbedingungen von Facebook
            bzw. „V Kontakte“ bei Erteilung der Einwilligung auch zu einer Übertragung Ihrer Profilbilder, der Nutzer-IDs
            Ihrer Freunde und der Freundesliste kommen kann, wenn diese in Ihren Privatsphäreeinstellungen als „öffentlich“
            markiert wurden. Diese Daten werden bei uns zur Erstellung eines Benutzerkontos mit den notwendigen Daten, falls
            diese von Ihnen bei Facebook bzw. „V Kontakte“ dazu freigegeben wurden (Anrede, Vorname, Nachname, Adressdaten,
            Land, E-Mail Adresse, Geburtsdatum), gespeichert und verarbeitet. Umgekehrt können auf Basis Ihrer Einwilligung
            Daten (z.B. Informationen zu Ihrem Surfverhalten) von uns an Ihr Facebook- bzw. „V Kontakte“-Profil übertragen
            werden.
        </p>
    
        <p>Die erteilte Einwilligung kann jederzeit durch eine Nachricht an den zu Beginn dieser Erklärung genannten
            Verantwortlichen widerrufen werden.
        </p>
    
        <p>Facebook Inc. mit Sitz in den USA ist für das us-europäische Datenschutzübereinkommen „Privacy Shield“
            zertifiziert, welches die Einhaltung des in der EU geltenden Datenschutzniveaus gewährleistet.
        </p>
    
        <p>„V Kontakte“ mit Sitz in Russland hat aufgrund der Vereinbarung der EU Standarddatenschutzklauseln ein mit den
            europäischen datenschutzrechtlichen Vorgaben vergleichbares Datenschutzniveau sichergestellt.
        </p>
    
        <p>Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook bzw. „V
            Kontakte“ sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre
            entnehmen Sie bitte den jeweiligen Datenschutzhinweisen: <a
                href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a> bzw <a
                href="https://vk.com/privacy">https://vk.com/privacy</a></p>
    
        <p>Wenn Sie nicht möchten, dass Facebook oder „V Kontakte“ die über unseren Webauftritt gesammelten Daten
            unmittelbar Ihrem Benutzerprofil zuordnet, müssen Sie sich vor Ihrem Besuch unserer Website bei Facebook bzw. „V
            Kontakte“ ausloggen. Sie können das Laden der Anmelde-Plugins auch mit Add-Ons für Ihren Browser komplett
            verhindern, z.B. mit „Adblock Plus“ (<a href="https://adblockplus.org/de/">https://adblockplus.org/de/</a>).</p>
    
        <ul>
            <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail,
                Telefonnummern).
            </li>
            <li><strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
            </li>
            <li><strong>Zwecke der Verarbeitung:</strong> Vertragliche Leistungen und Service, Anmeldeverfahren.</li>
            <li><strong>Rechtsgrundlagen:</strong> Einwilligung (Art. 6 Abs. 1 S. 1 lit. a) GDPR ), Vertragserfüllung und
                vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) GDPR ), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit.
                f) GDPR).
            </li>
        </ul>
        <p><strong>Eingesetzte Dienste und Diensteanbieter:</strong></p>
        <ul>
            <li>Facebook Single-Sign-On: Authentifizierungsdienst; Dienstanbieter: <a
                    href="https://www.facebook.com">https://www.facebook.com</a>, Facebook Ireland Ltd., 4 Grand Canal
                Square, Grand Canal Harbour, Dublin 2, Ireland, Mutterunternehmen: Facebook, 1 Hacker Way, Menlo Park, CA
                94025, USA; Website: <a href="https://www.facebook.com">https://www.facebook.com</a>; Datenschutzerklärung:
                <a href="https://www.facebook.com/about/privacy">https://www.facebook.com/about/privacy</a>; Privacy Shield
                (Gewährleistung Datenschutzniveau bei Verarbeitung von Daten in den USA): <a
                    href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>;
                Widerspruchsmöglichkeit (Opt-Out): <a
                    href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>.
    
            </li>
    
            <li><strong>„V Kontakte“</strong> Single-Sign-On: Diensteanbieter: LLC "V Kontakte" of 1-N, bld. 12-14, Lit. A,
                Khersonskaya st., St. Petersburg, Russland, 191024. Zum Zwecke der Umsetzung des Datenschutzes wird diese
                durch MGL MY.COM (Zypern) LIMITED,f 28 Oktovriou, 365 VASHIOTIS SEAFRONT, office 402 Neapoli, 3107,
                Limassol, Zypern, vertreten.</li>
        </ul>
    
        <br>
    
        <p><strong>8. Empfänger von Daten</strong></p>
    
        <p>Für den Betrieb dieser Webseite und der bereitgestellten Dienste sowie unseres Status-Service bedienen wir uns
            Dienstleistern, die wir sorgfältig ausgewählt haben und mit denen wir zur Einhaltung der Regelungen aus der GDPR
            und dem BDSG entsprechende Verträge zur Auftragsverarbeitung abgeschlossen haben. Darüber hinaus geben wir Ihre
            Daten, weder kostenpflichtig noch kostenlos, ohne ihre Erlaubnis nicht an Dritte weiter.
        </p>
    
        <p>Sofern Sie auf unserer Webseite angebotene Zahlungsdienste in Anspruch nehmen, werden Ihre personenbezogenen
            Daten auch an die von uns sorgfältig ausgewählten Zahlungsdiensteanbieter zum Zwecke der Durchführung der
            Zahlung weitergegeben. Rechtsgrundlage hierfür ist die Durchführung des mit Ihnen geschlossenen Vertrages (Art.
            1 Abs. 1 b) GDPR).
        </p>
    
        <br>
    
        <p><strong>9. Ihre Rechte als Betroffener
            </strong></p>
    
        <p>Ihnen stehen folgende Rechte zu:
        </p>
        <ul>
            <li>das Recht auf Auskunft (Art. 15 GDPR)
            </li>

            <li>das Recht auf Berichtigung (Art. 16 GDPR)
            </li>

            <li>das Recht auf Löschung (Art. 17 GDPR)
            </li>

            <li>das Recht auf Einschränkung der Verarbeitung (Art. 18 GDPR)
            </li>

            <li>das Recht auf Widerspruch (Art. 21 GDPR)
            </li>

            <li>das Recht auf Daten Übertragbarkeit (Art. 20 GDPR)
            </li>
        </ul>
    
        <p>Zur Wahrnehmung ihrer Rechte können Sie sich unter den oben angegebenen Kontaktdaten an uns wenden.
        </p>
    
        <br>
    
        <p><strong>10. Beschwerderecht</strong></p>
    
        <p>Wenn Sie der Ansicht sind, dass auf unserer Webseite datenschutzrechtlich bedenkliche Verarbeitungen stattfinden,
            können Sie sich auch an die für Sie zuständige Aufsichtsbehörde für den Datenschutz wenden. Die für Sie
            zuständige Aufsichtsbehörde können Sie auf dem Internetauftritt des Bundesbeauftragten für den Datenschutz und
            die Informationsfreiheit unter folgendem Link ermitteln:
            <a
                href="https://www.bfdi.bund.de/ZASt/EN/Service/DatenschutzerklZASt_EN/datenschutzerklaerung-node.html">https://www.bfdi.bund.de/ZASt/EN/Service/DatenschutzerklZASt_EN/datenschutzerklaerung-node.html</a>
        </p>
        <p>Stand: Juni 2020</p>
    
    </div>
{% endblock %}