{% extends 'base.html' %}
{% set page_title = "Политика конфиденциальности" %}

{% block content %}
    <div class="page-title page-title--textpage">
        <div class="b-page__inner page-title__inner page-title__inner--align-left">
            <h1 class="page-title__head h1">{{ page_title }}</h1>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg content-page content-page__license">
        <p><strong>1. Имя и адрес ответственного лица</strong></p>
        <p><strong>2. Имя и адрес уполномоченного по правовой защите данных </strong></p>
        <p><strong>3. Лог-файлы сервера </strong></p>
        <p><strong>4. Новостная рассылка и статус предоставляемых услуг</strong></p>
        <p><strong>5. Форма обратной связи </strong></p>
        <p><strong>6. Онлайн маркетинг </strong></p>
        <p><strong>7. Технология единого входа (single sign-on login)</strong></p>
        <p><strong>8. Получатель данных</strong></p>
        <p><strong>9. Ваши права как субъекта данных</strong></p>
        <p><strong>10. Право на обжалование </strong></p>
    
        <br>
        <p><strong>1. Имя и адрес ответственного лица</strong></p>
        <p>
            Ответственным лицом согласно общему положению о защите данных и других национальных законов о защите данных
            государств участников, а также других положений о защите данных является:
    
        </p>
        <br>
        <p>Biganto GmbH</p>
        <p>Schloßschmidstr. 5</p>
        <p>80639 Мюнхен</p>
        <p>Тел. +49 (89) 262-195-67</p>
        <p>Электронная почта: info@biganto.com</p>
        <p>Управляющий директор: Alexander Jazuk</p>
        <p><a href="{{ url_for('front.index') }}">https://www.biganto.com</a></p>
    
        <br>
        <p><strong>2. Имя и адрес уполномоченного по правовой защите данных</strong></p>
        <p>Уполномоченный сотрудник по защите данных в настоящее время не назначен, поскольку требования законодательства в
            данном случае неприменимы. Если у вас есть какие-либо вопросы о защите данных, пожалуйста, свяжитесь с нами с
            помощью info@biganto.com.
        </p>
    
    
        <br>
        <p><strong>3. Лог-файлы сервера</strong></p>
        <p>Чтобы обеспечить безопасную и эффективную работу нашего сервиса, мы используем услуги одного или нескольких
            провайдеров веб-хостинга, с чьих серверов (или управляемых ими серверов) осуществляется доступ к нашему сервису.
            С этой целью мы можем использовать их инфраструктуру и платформы, вычислительные мощности, услуги хранения и
            базы данных, а также сервисы безопасности и технического обслуживания.
    
        </p>
    
        <p>При загрузке нашего веб-сайта, использовании VR плеера Biganto для настольного ПК,
            мобильных приложений Biganto или приложения Biganto для VR гарнитуры Oculus Quest (далее - Приложения)
            собираются и обрабатываются персональные данные посетителей. Они могут включать,
            например, IP-адрес системы, осуществляющей доступ к веб-сайту, и другие данные, необходимые для доступа к
            веб-сайту. Информация, предоставляемая посетителями сайта сверх этих данных, также может быть отнесена к
            персональным данным, которые мы собираем и обрабатываем.</p>
    
        <p>Следующие данные сохраняются в файле журнала, так называемом логе сервера, при посещении нашего веб-сайта:
        </p>
        <ul>
            <li>Информация о типе и версии браузера
            </li>
            <li>Операционная система пользователя
            </li>
            <li>Интернет-провайдер пользователя
            </li>
            <li>IP-адрес пользователя
            </li>
            <li>Дата и время доступа
            </li>
            <li>Сайты, с которых пользовательская система получает доступ к нашему сайту
            </li>
            <li>Сайты, которые вызываются системой пользователя через наш сайт
            </li>
        </ul>

        <p>Следующие данные сохраняются в файле журнала, так называемом логе сервера, при использовании Приложений:</p>
        <ul>
            <li>Данные об устройстве пользователя (модель, операционная система и подобные данные)</li>
            <li>IP-адрес пользователя</li>
            <li>Дата и время доступа</li>
        </ul>
    
        <p><strong>Правовой основой</strong> для сбора данной информации является ст. 6, абз. 1 лит. f) GDPR (законный
            интерес). Сбор данной информации не может быть опротестован, так как журнал сервера является неотъемлемой частью
            обеспечения доступности сайта и Приложений и в случае атак на сайт является особо необходимым.
        </p>
    
        <p>Данные из журнала сервера автоматически удаляются через 14 дней.
        </p>
        <p>Услуги и поставщики услуг, используемые для предоставления сервиса:
        </p>
        <br>
        <p><strong>Amazon Web Services (AWS):</strong> веб-хостинг и инфраструктурные услуги; Поставщик услуг: Amazon Web
            Services, Inc., 410 Terry Avenue North, Сиэтл, WA 98109, США; Веб-сайт: <a
                href="https://aws.amazon.com/de/">https://aws.amazon.com/de/</a>; Политика конфиденциальности: <a
                href="https://aws.amazon.com/de/privacy/?nc1=f_pr">https://aws.amazon.com/de/privacy/?nc1=f_pr</a>; Privacy
            Shield (гарантия обеспечения необходимого уровня защиты данных при обработке данных в США): <a
                href="https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000TOWQAA4&status=Active</a>.
        </p>
    
        <br>
    
        <p><strong>4. Новостная рассылка и статус предоставляемых услуг
            </strong></p>
        <p>Если вы соглашаетесь на нашу новостную рассылку или на получение уведомлений о статусе предоставляемых услуг,
            правовой основой этого, является ваше согласие (ст. 6, абз. 1 лит. a) GDPR).
        </p>
        <p>Вы можете отказаться от дальнейшей рассылки в любое время, нажав на ссылку «Отписаться от рассылки» в конце
            каждого сообщения или отправив нам неофициальное письмо с темой «Отписаться от рассылки» на адрес
            info@biganto.com.
        </p>
    
        <br>
    
        <p><strong>5. Форма обратной связи
            </strong></p>
        <p>Если вы обращаетесь к нам с помощью формы обратной связи, предоставленной на веб-сайте, контакт производится на
            основании данного вами согласия( (ст. 6, абз. 1 лит. a) GDPR). Мы используем данные, переданные с помощью формы
            обратной связи, только чтобы ответить на ваш запрос. Дальнейшее использование этих данных компанией Biganto GmbH
            или третьими лицами не осуществляется.</p>
    
    
        <br>
        <p><strong>6. Онлайн маркетинг</strong></p>
        <p>Мы также обрабатываем персональные данные для целей интернет-маркетинга, которые могут включать маркетинг
            рекламного пространства, а также показ рекламы и другого контента (в дальнейшем «рекламный контент») на основе
            потенциальных интересов пользователей и измерение их эффективности.
        </p>
    
        <p>Для вышеупомянутых целей создаются так называемые профили пользователей и сохраняются в файле (так называемые
            «cookie») или используются аналогичные процедуры. Информация в профилях пользователей может включать, например,
            просмотренный контент, посещенные веб-сайты, используемые онлайн-сети, а также партнеров по связи и техническую
            информацию, такую как используемый браузер, используемую компьютерную систему и информацию о времени
            использования.
        </p>
    
        <p>При хранении IP-адресов мы используем доступную процедуру маскирования IP-адресов (то есть псевдонимизацию путем
            сокращения IP-адреса) для защиты пользователя. Как правило, необработанные пользовательские данные не хранятся в
            целях онлайн-маркетинга.
    
        </p>
    
        <p>Данные пользовательского профиля, хранящиеся, например в файлах cookie в дальнейшем могут быть прочитаны и
            проанализированы с целью представления контента, дополнены другими данными и сохранены на сервере поставщика
            процедуры онлайн-маркетинга на других веб-сайтах, которые используют ту же самую процедуру онлайн-маркетинга.
        </p>
    
        <p>Если пользователи состоят в социальной сети, чью мероприятия онлайн-маркетинга используется Biganto, существует
            вероятность, что поставщик процедуры онлайн-маркетинга (который также может быть поставщиком социальной сети)
            может назначить необработанный данные пользовательским профилям. По этой причине мы просим соблюдать параметры
            защиты данных поставщика соответствующей сети. Как правило, Biganto имеет доступ только к обобщенной информации
            об успешности нашей рекламы, например, к статистическим оценкам. Как часть так называемых измерений конверсии,
            Biganto может проверить, какой из наших процессов онлайн-маркетинга привел к так называемой «конверсии», т. е.
            был ли заключен с нами договор в связи с рекламной акцией. Эти измерения используются только для анализа успеха
            наших маркетинговых мероприятий.
        </p>
    
        <p>Если не указано иное, файлы cookie будут храниться в течение двух лет.
        </p>
    
        <p><strong>Примечания о правовых основаниях:</strong> если мы просим пользователей дать согласие на обработку их
            персональных данных сторонними поставщиками услуг, правовым основанием для обработки данных является согласие
            пользователя. В противном случае данные пользователей обрабатываются на основе наших законных интересов (т.е.
            исходя из экономических и производственных интересов и удобства услуг для пользователей).
        </p>
    
        <br>
        <p><strong>Используемые услуги и поставщики услуг интернет-маркетинга:
            </strong></p>
    
        <ul>
            <li>
                <p><strong>Google Tag Manager:</strong></p>
                <p>
                    Google Tag Manager - это решение, с помощью которого мы можем управлять так называемыми тегами
                    веб-сайтов через интерфейс (и, таким образом, интегрировать, например, Google Analytics и другие
                    маркетинговые услуги Google в наши онлайн-услуги). Tag Manager сам по себе (с помощью которого
                    реализуются теги) не обрабатывает никаких личных данных пользователей. Что касается обработки
                    персональных данных пользователей, мы ссылаемся на следующую информацию об услугах Google. Поставщик
                    услуг: Google Ireland Limited, Gordon House, Barrow Street, Дублин 4, Ирландия; материнская компания:
                    Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, США; Веб-сайт:
                    <a href="https://marketingplatform.google.com/">https://marketingplatform.google.com</a>; политика
                    конфиденциальности: <a
                        href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy Shield
                    (гарантия обеспечения необходимого уровня защиты данных при обработке данных в США):
                    <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>.
                </p>
            </li>
            <li>
                <p><strong>Google Analytics:</strong></p>
                <p>Исходя из наших законных интересов (т. е. интереса в анализе, оптимизации и экономической эффективности
                    нашего онлайн сервиса в рамках ст. 6, п. 1 лит. f). GDPR), мы используем Google Analytics, службу
                    веб-анализа Google LLC. ( "Google"). Google использует куки. Информация, генерируемая куки-файлами об
                    использовании веб-сайта пользователем, обычно передается на сервер Google в США и сохраняется там.
                </p>
                <p>Google сертифицирован в соответствии с Privacy-Shield-Agreement и, таким образом, предлагает гарантию
                    соответствия европейскому закону о защите данных <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">(https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active)</a>.
                </p>
                <p>Google будет использовать эту информацию от нашего имени для оценки использования нашего веб-сайта
                    пользователями, для составления отчетов о деятельности на этом веб-сайте и для предоставления нам
                    дополнительных услуг, связанных с использованием этого веб-сайта и интернета. При этом псевдонимные
                    пользовательские профили могут быть созданы из обработанных данных.
                </p>
                <p>Мы используем Google Analytics только с активированной анонимизацией IP. Это означает, что Google
                    сокращает IP-адрес пользователей в государствах-членах Европейского Союза или в других государствах,
                    являющихся частью Соглашения о Европейском экономическом пространстве. Только в исключительных случаях
                    полный IP-адрес передается на сервер Google в США и сокращается там.
                </p>
                <p>IP-адрес, передаваемый браузером пользователя, не будет объединен с другими данными Google. Пользователи
                    могут запретить хранение файлов cookie, соответствующим образом изменив настройки своего браузера;
                    пользователи также могут запретить Google собирать данные, сгенерированные cookie-файлами и относящиеся
                    к их использованию нашего сервиса, и запретить обрабатывать эти данные Google, загрузив подключаемый
                    модуль браузера, доступный по следующей ссылке: <a
                        href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.
                </p>
                <p>Вы можете найти дополнительную информацию об использовании данных Google, настройках и возможностях
                    возражений в политике защиты данных Google (<a
                        href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a>)
                    а также в настройках отображения рекламы Google (<a
                        href="https://adssettings.google.com/authenticated">https://adssettings.google.com/authenticated</a>).
                </p>
                <p>Личные данные пользователей будут удалены или анонимизированы через 14 месяцев.
                </p>
            </li>
            <li>
                <p><strong>Google Ad Manager:</strong></p>
                <p>Мы используем "Google Marketing Platform" (и такие службы, как "Google Ad Manager") для размещения
                    рекламы в рекламной сети Google (например, в результатах поиска, в видео, на веб-сайтах и ​​т. д.).
                    Маркетинговая платформа Google характеризуется тем, что реклама отображается в режиме реального времени
                    в соответствии с предполагаемыми интересами пользователей. Это позволяет нам более точно таргетировать
                    рекламу для и внутри нашего сервиса и показывать пользователям только те объявления, которые
                    потенциально соответствуют их интересам. Например, если пользователю показываются объявления о товарах,
                    которые ему интересны, на других веб-сайтах, это называется «ремаркетинг». Поставщик услуг: Google
                    Ireland Limited, Gordon House, Barrow Street, Дублин 4, Ирландия; материнская компания: Google LLC, 1600
                    Amphitheatre Parkway, Mountain View, CA 94043, США; Веб-сайт: <a
                        href="https://marketingplatform.google.com/">https://marketingplatform.google.com</a>; политика
                    конфиденциальности: <a
                        href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy Shield
                    (гарантия обеспечения необходимого уровня защиты данных при обработке данных в США): <a
                        href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>.
                </p>
            </li>
            <li>
                <p><strong>Google Fonts</strong></p>
                <p>Google Fonts — это набор шрифтов для коммерческого и личного использования, предоставленный Google LLC или Google
                    Ireland Limited. Мы используем «Google Fonts» для предоставления различных шрифтов посетителям нашего веб-сайта и
                    пользователям наших продуктов, чтобы обеспечить наилучшее визуальное восприятие и оптимизированную
                    производительность сайта. Google Fonts не устанавливает файлы cookie. Однако, если браузер посетителя запрашивает
                    шрифт, IP-адрес посетителя регистрируется Google для отправки шрифта и может в дальнейшем использоваться в
                    аналитических целях. Поставщик услуг: Google Ireland Limited, Gordon House, Barrow Street, Дублин 4, Ирландия;
                    материнская компания: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, США; Веб-сайт:
                    <a href="https://marketingplatform.google.com">https://marketingplatform.google.com</a>; политика конфиденциальности: <a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>; Privacy
                    Shield (гарантия обеспечения необходимого уровня защиты данных при обработке данных в США):
                    <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active</a>.</p>
            </li>
            <li>
                <p><strong>Facebook Pixels, Custom Audiences and Facebook Conversion</strong></p>
                <p>В рамках нашего онлайн сервиса, на основании наших законных интересов в анализе, оптимизации и
                    экономическом использовании нашего онлайн сервиса и для осуществления этих интересов используется т.н.
                    "Facebook pixel" социальной сети Facebook, которой управляет Facebook Inc, 1 Hacker Way, Menlo Park, CA
                    94025, США, или, если вы находитесь в ЕС, Facebook Ireland Ltd, 4 Grand Canal Square, Grand Canal
                    Harbour, Дублин 2, Ирландия.
                </p>
                <p>Facebook сертифицирован в соответствии с Privacy-Shield-Agreement и, таким образом, предлагает гарантию
                    соответствия европейскому закону о защите данных (<a
                        href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>).
                </p>
                <p>С помощью Facebook pixel, Facebook определяет посетителей нашего онлайн-сервиса как целевую группу для
                    показа рекламы (т.н. "Facebook ads"). Соответственно, мы используем Facebook pixel для отображения
                    рекламы Facebook, размещенной нами только для тех пользователей Facebook, которые также проявили интерес
                    к нашему онлайн-предложению или проявляют определенные характеристики (например, интерес к определенным
                    темам или продуктам, определенным на истории посещения веб-сайтов), которые мы передаем в Facebook (так
                    называемые "custom audiences"). С помощью Facebook pixel мы также хотим убедиться, что наши объявления
                    Facebook соответствуют потенциальным интересам пользователей и не выглядят раздражающими. С помощью
                    Facebook pixel мы также можем отслеживать эффективность рекламы Facebook для статистических целей и
                    исследования рынка, отслеживая, перенаправляются ли пользователи на наш веб-сайт после нажатия на
                    рекламу Facebook (так называемая «конверсия»).
                </p>
                <p>Обработка данных Facebook осуществляется в рамках политики использования данных Facebook. Соответственно,
                    общая информация об отображении рекламы Facebook предоставляется в Политике использования данных
                    Facebook: <a href="https://www.facebook.com/policy.php">https://www.facebook.com/policy.php</a>.
                    Конкретную информацию и детали о Facebook pixel и его функциях можно найти в разделе справки Facebook:
                    <a
                        href="https://www.facebook.com/business/help/651294705016616">https://www.facebook.com/business/help/651294705016616</a>.
                </p>
                <p>Вы можете возразить против сбора данных Facebook Pixel и использования вашей информации для показа
                    рекламы Facebook. Чтобы контролировать, какие типы рекламы показываются вам в Facebook, вы можете
                    перейти на страницу настроек в Facebook, и следовать инструкциям по настройке рекламы на основе
                    предпочтений пользователя: <a
                        href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>.
                    Настройки не зависят от платформы, что означает, что они применяются ко всем устройствам, таким как
                    настольные компьютеры или мобильные устройства.
                </p>
                <p>Вы также можете отказаться от использования файлов cookie для измерения аудитории и в рекламных целях,
                    посетив страницу отказа от сетевой рекламной инициативы (<a
                        href="http://optout.networkadvertising.org/">http://optout.networkadvertising.org/</a>) и,
                    дополнительно в США на вэб-сайт (<a
                        href="http://www.aboutads.info/choices">http://www.aboutads.info/choices</a>) или на Европейский
                    веб-сайт (<a
                        href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a>).
                </p>
            </li>
        </ul>
    
        <br>
    
        <p><strong>7. Технология единого входа - Facebook Connect и VK.com</strong></p>
    
        <p>На нашем сайте вы можете войти в систему, чтобы создать учетную запись или зарегистрироваться, используя плагин
            «Facebook Connect» социальной сети Facebook, которая управляется Facebook Inc, 1 Hacker Way, Menlo Park, CA
            94025, США ("Facebook"), используя так называемый метод единого входа, при условии, что у вас есть профиль в
            Facebook.</p>
    
        <p>Если у вас есть профиль в социальной сети «ВКонтакте», вы также можете зарегистрироваться с помощью так
            называемой технологии Single Sign On через соответствующий плагин «ВКонтакте». "ВКонтакте" управляется ООО "В
            Контакте", помещение 1-н, д. 12-14, лит. А, Херсонская ул., Санкт-Петербург, Россия, 191024. В целях обеспечения
            защиты данных представлена MGL MY.COM (Cyprus) LIMITED,f 28 Oktovriou, 365 VASHIOTIS SEAFRONT, офис 402 Neapoli,
            3107, Лимассол, Кипр.
        </p>
    
        <p>Если вы заходите на страницу нашего сайта, содержащую такой плагин, ваш браузер устанавливает прямое соединение с
            серверами “Facebook” или “ВКонтакте”. Содержимое плагина передается из “Facebook” или “ВКонтакте”
            непосредственно в ваш браузер и интегрируется в страницу. Благодаря этой интеграции Facebook или ВКонтакте
            получает информацию о том, что ваш браузер вызвал соответствующую страницу нашего веб-сайта, даже если у вас нет
            соответствующего профиля или вы не вошли в Facebook или ВКонтакте. Эта информация (включая ваш IP-адрес)
            передается вашим браузером непосредственно на сервер Facebook в США или в ВКонтакте в Россия и сохраняется там.
            Эти операции обработки данных осуществляются в соответствии со ст. 6 п. 1 лит. f) GDPR на основе законного
            интереса Facebook или ВКонтакте к показу персонализированной рекламы на основе поведения пользователя в
            Интернете.
        </p>
    
        <p>Используя эти плагины на нашем веб-сайте, вы также можете войти или зарегистрироваться на нашем веб-сайте,
            используя свои данные Facebook или ВКонтакте. Только в том случае, если перед регистрацией вы дадите Ваше явное
            согласие в соответствии со ст. 6 абз.1 лит. а) GDPR, на основании соответствующего примечания об обмене данными
            с Facebook/"V Контактами", мы, в зависимости от Ваших личных настроек защиты данных в Facebook или "V
            Контактах", получим общую и общедоступную информацию, сохраненную в Вашем профиле при использовании этого входа
            в систему. Эта информация включает в себя идентификатор пользователя, имя, фотографию профиля, возраст и пол.
        </p>
    
        <p>Мы хотели бы отметить, что после внесения изменений в политику конфиденциальности и условия использования
            Facebook или ”ВКонтакте”, когда вы даете свое согласие, возможна также передача фотографий вашего профиля,
            идентификаторов пользователей ваших друзей и список ваших друзей, если они были помечены как «общедоступные» в
            настройках конфиденциальности. Эти данные хранятся и обрабатываются нами для создания учетной записи
            пользователя с необходимыми данными, если вы дали свое согласие на это в Facebook или в ”ВКонтакте” (форма
            обращения, имя, фамилия, адрес, страна, адрес электронной почты, дата рождения). В свою очередь, данные
            (например, информация о вашем поведении в браузере) могут быть переданы нами в ваш профиль Facebook или профиль
            ”ВКонтакте” с вашего согласия.</p>
    
        <p>Полученное согласие можно отозвать в любое время, отправив сообщение ответственному лицу указанному в начале
            данного документа.
        </p>
    
        <p>Facebook Inc., базирующаяся в США, сертифицирована для американо-европейского соглашения о защите данных «Privacy
            Shield», которое гарантирует соответствие уровню защиты данных, действующему в ЕС.
        </p>
    
        <p>”ВКонтакте”, базирующаяся в России, обеспечила уровень защиты данных, сопоставимый с европейскими требованиями к
            защите данных, благодаря соглашению о стандартных положениях ЕС о защите данных.
        </p>
    
        <p>Чтобы узнать цель и объемы собираемых данных и их дальнейшее использование Facebook или ”ВКонтакте”, а также ваши
            права и чтобы установить настройки для защиты вашей конфиденциальности, пожалуйста, обратитесь к соответствующей
            политике конфиденциальности: <a href="http://www.facebook.com/policy.php">http://www.facebook.com/policy.php</a>
            или <a href="https://vk.com/privacy">https://vk.com/privacy</a></p>
    
        <p>Если вы не хотите, чтобы Facebook или ”ВКонтакте” присваивали данные, собранные через наш сайт, вашему профилю
            пользователя, вы должны выйти из Facebook или ”ВКонтакте” перед посещением нашего сайта. Вы также можете
            полностью запретить загрузку плагинов для входа в систему, используя надстройки для вашего браузера, например,
            «Adblock Plus» (<a href="https://adblockplus.org/de/">https://adblockplus.org/de/</a>).</p>
    
        <ul>
            <li><strong>Типы обрабатываемых данных:</strong> общие данные (например, имена, адреса), контактные данные
                (например, электронная почта, номера телефонов).
            </li>
            <li><strong>Заинтересованные лица:</strong> пользователи (например, посетители сайта, пользователи
                онлайн-услуг).</li>
            <li><strong>Цели обработки:</strong> договорные и другие услуги, процедура регистрации.
            </li>
            <li><strong>Правовая основа:</strong> согласие (ст. 6, п. 1, пр.1 лит.а) GDPR), исполнение контракта и
                предконтрактные запросы (ст. 6, п. 1, пр.1 лит.b) GDPR), законный интерес (ст. 6, п.1 пр.1 лит. f) GDPR).
            </li>
        </ul>
    
        <p><strong>Используемые услуги и поставщики услуг:</strong></p>
        <ul>
            <li><strong>Facebook Single-Sign-On:</strong> служба аутентификации; Поставщик услуг: <a
                    href="https://www.facebook.com">https://www.facebook.com</a>, Facebook Ireland Ltd., 4 Grand Canal
                Square, Grand Canal Harbour, Дублин 2, Ирландия; материнская компания: Facebook, 1 Hacker Way, Menlo Park,
                CA 94025, США; веб-сайт: <a href="https://www.facebook.com/">https://www.facebook.com</a>; Политика
                конфиденциальности: <a
                    href="https://www.facebook.com/about/privacy">https://www.facebook.com/about/privacy</a>; Privacy Shield
                (гарантия обеспечения необходимого уровня защиты данных при обработке данных в США): <a
                    href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>;
                opt-out: <a href="https://www.facebook.com/settings?tab=ads">https://www.facebook.com/settings?tab=ads</a>.
            </li>
    
            <li><strong>"ВКонтакте",</strong> Единый вход; Поставщик услуг: ООО "В Контакте" помещение 1-н, д. 12-14, лит.
                А, Херсонская ул., Санкт-Петербург, Россия, 191024. В целях обеспечения защиты данных представлена MGL
                MY.COM (Cyprus) LIMITED,f 28 Oktovriou, 365 VASHIOTIS SEAFRONT, офис 402 Neapoli, 3107, Лимассол, Кипр.</li>
        </ul>
    
        <br>
    
        <p><strong>8. Получатель данных</strong></p>
    
        <p>Для работы этого веб-сайта, предоставляемых услуг и предоставления информации, касающейся статуса предоставляемых
            услуг, мы используем поставщиков, которых мы тщательно отобрали и с которыми мы заключили соответствующие
            контракты на оказание услуг в соответствии с положениями GDPR и BDSG. Кроме того, мы не передаем ваши данные
            третьим лицам ни за плату, ни бесплатно, без вашего согласия.
    
        </p>
    
        <p>Если вы воспользуетесь платными услугами, предлагаемыми на нашем сайте, ваши персональные данные также будут
            переданы поставщикам платежных услуг, тщательно выбранным нами для целей осуществления платежа. Правовым
            основанием для этого является исполнение договора, заключенного с вами (ст. 1, абз. 1 лит. b) GDPR).
        </p>
    
        <br>
    
        <p><strong>9. Ваши права как субъекта данных</strong></p>
    
        <p>Вы имеете право на следующее:</p>
        <ul>
            <li>право на информацию (ст. 15 GDPR)
            </li>
            <li>право на исправление (ст. 16 GDPR)
            </li>
            <li>право на отмену (ст. 17 GDPR)
            </li>
            <li>право на ограничение обработки (ст. 18 GDPR)
            </li>
            <li>право на возражение (ст. 21 GDPR)
            </li>
            <li>право на возможность передачи данных (ст. 20 GDPR)
            </li>
        </ul>
    
        <p>Чтобы воспользоваться своими правами, вы можете связаться с нами, используя контактную информацию, указанную выше.</p>
    
        <p><strong>Удаление персональных данных пользователя:</strong></p>

        <p>Ваши личные данные могут быть удалены по запросу или вы можете удалить их самостоятельно.</p>

        <p>Чтобы удалить свою учетную запись Biganto, войдите на страницу настроек учетной записи (<a href="https://biganto.com/my/settings">https://biganto.com/my/settings</a>) и выберите «Удалить учетную запись». Ваша учетная запись будет помечена для удаления, и у вас будет 28 дней, чтобы изменить решение, если вы захотите это сделать. Через 28 дней ваша учетная запись, а также все личные данные будут удалены навсегда.</p>

        <p>Вы также можете отправить нам запрос на <a href="mailto:info@biganto.com">info@biganto.com</a>, чтобы удалить все ваши личные данные.</p>

        <p>Некоторые ваши личные данные могут быть записаны в так называемый журнал сервера. Невозможно возразить против сбора данных, так как журнал сервера необходим для обеспечения доступности этого веб-сайта и Приложений, а также в случае атак на веб-сайт. Данные из журнала сервера автоматически удаляются через 14 дней.</p>

        <p>Этот сайт использует файлы cookie. Cookie — это небольшой текстовый файл, хранящий информацию о настройках интернет-браузеров, он загружается вашим браузером при первом посещении веб-сайта. Если вы хотите удалить файлы cookie Biganto со своего устройства, обратитесь к настройкам своего браузера.</p>

        <br>
    
        <p><strong>10. Право на обжалование</strong></p>
    
        <p>Если вы считаете, что обработка данных на нашем веб-сайте или в Приложениях осуществляется сомнительным образом с точки зрения
            законодательства о защите данных, вы также можете обратиться в ответственный за вас орган надзора за защитой
            данных. Вы можете узнать, какой орган надзора отвечает за вас, на веб-сайте Федерального комиссара по защите
            данных и свободе информации по следующей ссылке: <a
                href="https://www.bfdi.bund.de/ZASt/EN/Service/DatenschutzerklZASt_EN/datenschutzerklaerung-node.html">https://www.bfdi.bund.de/ZASt/EN/Service/DatenschutzerklZASt_EN/datenschutzerklaerung-node.html</a>
        </p>
        <p>По состоянию на февраль 2022 года</p>
    
    </div>
{% endblock %}
