{% extends 'base.html' %}
{% set page_title = _("Activity of the company") %}

{% block content %}
    <div class="page-title page-title--textpage">
        <div class="b-page__inner page-title__inner page-title__inner--align-left">
            <h1 class="page-title__head h1">{{ page_title }}</h1>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg content-page content-page__license">
        <p>Общество с ограниченной ответственностью “Биганто” является организацией, зарегистрированной в соответствии с законодательством Российской Федерации,  осуществляющей свою деятельность с 2014 года и является отечественным разработчиком и обладателем исключительных прав на комплекс высокотехнологичных цифровых решений. в 2017 году ООО “Биганто” получило аккредитацию Министерства связи и массовых коммуникаций Российской Федерации как организация, осуществляющая деятельность в области информационных технологий. В настоящее время наша компания осуществляет деятельность в области информационных технологий в следующих направлениях:</p>

        <p><strong>1. Разрабатываемые продукты:</strong></p>
        <ul>
            <li>программное обеспечение для создания виртуальных визуализаций 3-мерного пространства (далее - 3Д туры);</li>
            <li>программное обеспечение для создания фото-визуализаций 3-мерного пространства (далее - 3Д фото-туры);</li>
            <li>технологическое решение для создания 3Д фото-туров (инновационная разработка - профессиональная 3Д‑камера для оцифровки существующих помещений и перевода их в виртуальное пространство);</li>
            <li>программное обеспечение для редактирования 3Д туров и 3Д фото-туров;</li>
        </ul>

        <p><strong>2. Оказываемые услуги:</strong></p>
        <ul>
            <li>создание 3Д туров по техническому заданию;</li>
            <li>создание 3Д фото-туров с использованием собственных технологий;</li>
            <li>размещение и хранение 3Д и 3Д фото-туров;</li>
        </ul>

        <p>Также мы осуществляем деятельность по созданию и использованию баз данных и информационных ресурсов, включая:</p>
        <ul>
            <li>проектирование и разработку баз данных (разработку концепций, структуры, состава баз данных);</li>
            <li>реализацию разработанных баз данных;</li>
            <li>формирование и ведение баз данных, в том числе сбор данных из одного или более источников, а также ввод, верификацию и актуализацию данных;</li>
            <li>администрирование баз данных, в том числе обеспечение возможности доступа к базе данных в режиме непосредственного или телекоммуникационного доступа;</li>
            <li>поиск данных, их отбор и сортировку по запросам, предоставление отобранных данных пользователям, в том числе в режиме непосредственного доступа;</li>
            <li>разработку, адаптацию, модификацию баз данных, установку, тестирование и сопровождение баз данных;</li>
            <li>планирование, проектирование компьютерных систем;</li>
            <li>обследование и экспертиза компьютерных систем;</li>
            <li>консультативная деятельность в области компьютерных технологий</li>
        </ul>
    </div>
{% endblock %}
