{% extends 'base.html' %}
{% set page_title = _("User Agreement") %}

{% block content %}
    <div class="page-title page-title--textpage">
        <div class="b-page__inner page-title__inner page-title__inner--align-left">
            <h1 class="page-title__head h1">{{ page_title }}</h1>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg content-page content-page__license">
        <p><strong>Общие условия использования – www.biganto.com</strong></p>

        <br>
        <p><strong>1.Общие положения
        </strong></p>

        <p>Эти Общие условия использования регулируют использование веб-сайта <a href="{{ url_for('front.index') }}">www.biganto.com</a> от Biganto GmbH, Schloßschmidstr. 5, 80639 Мюнхен, зарегистрирован в торговом реестре Мюнхенского местного суда, HRB 206771 (далее: Biganto).
        </p>

        <p>Онлайн-услуги, предлагаемые Biganto, позволяют пользователям создавать и управлять интерактивными презентациями, виртуальными и фото турами, цифровыми визуализациями, рендерами и 3D-моделями.
        </p>

        <p>Онлайн-услуги, предоставляемые Biganto, включают в себя все онлайн-приложения, программное обеспечение, техническое обслуживание клиентов (поддержку), образцы контента (образцы), скрипты, инструкции и документацию, обобщенно именуемых ниже как "онлайн-сервисы".
        </p>

        <p>Эти условия использования распространяются на все онлайн-сервисы, предлагаемые Biganto; использование других услуг и разработок Biganto, предлагаемых в будущем, также регулируется этими условиями использования.
        </p>

        <p>Используя онлайн-услуги, предоставляемые Biganto, пользователь соглашается с данными условиями использования.
        </p>

        <p>Положения и условия пользователей или третьих лиц не применяются, даже если условия Biganto не противоречат им в отдельных случаях.
        </p>

        <br>

        <p><strong>2. Применимое законодательство</strong></p>

        <p>Применяется закон Федеративной Республики Германии, за исключением закона ООН о продажах, если
        </p>

        <ul>
            <li>пользователь обычно проживает в Германии, или
            </li>
            <li>пользователь обычно проживает в стране, не входящей в Европейский Союз.
            </li>
        </ul>

        <p>В случае, если пользователь обычно проживает в государстве-члене Европейского Союза, также применяется немецкое законодательство, в соответствии с которым обязательные положения государства, в котором пользователь обычно проживает, остаются неизменными.
        </p>

        <br>

        <p><strong>3. Использование онлайн-сервисов на сайте www.biganto.com</strong></p>

        <p>После регистрации у пользователей есть возможность использовать онлайн-сервисы Biganto бесплатно в ограниченном объеме или в полном объеме после выбора соответствующего платного тарифа.
        </p>

        <p>Пользователи также имеют возможность публиковать контент, созданный с помощью онлайн-сервисов Biganto, посредством размещения активной ссылки в сети Интернет.
        </p>

        <br>

        <p><strong>3.1. Требования к использованию</strong></p>

        <p>Biganto предоставляет свои услуги через Интернет в качестве поставщика инфраструктуры (программное обеспечение как услуга). Для использования онлайн-сервисов Biganto требуется работающее интернет-соединение и соответствующее устройство (см. Также раздел 3.3 настоящих Условий использования).
        </p>

        <br>

        <p><strong>3.2. Регистрация</strong></p>

        <p>Регистрация пользователя необходима как для бесплатного, так и для платного использования онлайн-сервисов. Для этого требуется действующий адрес электронной почты пользователя. После назначения пароля и подтверждения регистрации пользователем он получает учетную запись пользователя.
        </p>

        <p>В случае, если данные, предоставленные пользователем во время регистрации, не позволяют идентифицировать пользователя, Biganto имеет право отказать пользователю в доступе к учетной записи и использованию онлайн-сервисов.
        </p>

        <p>Учетная запись пользователя не может быть предоставлена ​​третьим лицам для использования онлайн-сервисов Biganto.
        </p>

        <p>Пользователь обязан обеспечить конфиденциальное использование и хранение своих данных доступа к онлайн-сервисам Биганто.
        </p>

        <p>Biganto, разумеется, обрабатывает регистрационные данные конфиденциально и использует их только в рамках <a
                href="{{ url_for('front.privacy_policy') }}">Политики конфиденциальности</a>.
        </p>

        <br>

        <p><strong>3.3. Системные Требования</strong></p>

        <p>Чтобы использовать онлайн-сервисы, пользователь должен обеспечить соответствие конечных устройств, которые будут использоваться техническим системным требованиям. Технические системные требования можно найти по ссылке <a
                href="{{ url_for('tutorials.system_requirements') }}">https://biganto.com/tutorials/system_requirements/</a>.
        </p>

        <p>Пользователь подтверждает, что ознакомился с исходными материалами и инструкциями на <a
                href="{{ url_for('tutorials.index') }}">https://biganto.com/virtoaster/tutorials/</a> перед использованием онлайн-сервисов.</p>

        <br>

        <p><strong>4. Услуги предоставляемые Biganto</strong></p>

        <p>Biganto предоставляет онлайн-услуги в соответствии с тарифами, бонусными программами или специальными предложениями, указанными на сайте. В ограниченной степени у пользователя также есть возможность бесплатного использования.
        </p>

        <p>Использование тарифа, выходящего за рамки бесплатного использования, возможно по ценам, указанным на сайте.
        </p>

        <br>

        <p><strong>4.1. Заключение договора</strong></p>

        <p>Презентация онлайн-услуг на сайте www.biganto.com не является юридически обязывающим предложением, а является приглашением к заказу (invitatio ad offerendum).
        </p>

        <p>Отправляя заказ в конце процесса заказа, пользователь делает обязывающее предложение забронировать онлайн-услуги, указанные в обзоре заказа. Сразу после отправки заказа пользователь получает подтверждение заказа, которое, однако, еще не означает принятие его предложения по контракту. Контракт между пользователем и Biganto заключается, как только Biganto принимает заказ и / или бронирование пользователя через отдельное электронное письмо или активирует желаемые онлайн-услуги для пользователя.
        </p>

        <p>Пользователь регулярно проверяет папку «СПАМ» в своем почтовом ящике.
        </p>

        <br>

        <p><strong>4.2. Условия оплаты</strong></p>

        <p>Платные онлайн-услуги, выбранные пользователем, должны быть оплачены заранее при заказе / бронировании. Оплата забронированной услуги может быть произведена с использованием способов оплаты, указанных в процессе заказа, через нашего поставщика платежных услуг.
        </p>

        <p>Все цены и тарифы Biganto указаны в валюте «евро» (EUR).
        </p>

        <p>Biganto использует поставщиков платежных услуг для осуществления платежей через сайт, которые проводят платежи через общедоступные сети в соответствии с международными стандартами (такими как "verified by VISA", "Mastercard SecureCode"), применяя современные технологии для обеспечения безопасности платежных транзакций, такие как 3D-Secure. Аутентификация пользователя или авторизация платежа в рамках этих технологий осуществляется кредитной организацией-эмитентом пользователя.
        </p>

        <br>

        <p><strong>4.3. Продолжительность</strong></p>

        <p>Если пользователь выбирает платный тариф, стоимость тарифа будет списываться ежемесячно используя способ оплаты, указанный при осуществлении заказа.
        </p>

        <p>Контракт между пользователем и Biganto каждый раз продлевается на один месяц, если пользователь не прекращает договорные отношения до следующего списания.
        </p>

        <br>

        <p><strong>4.4. Расторжение</strong></p>

        <p>Пользователи имеют право расторгнуть контракт с Biganto в любое время, чтобы контракт больше не продлевался ежемесячно. Платежи, уже сделанные за текущий месяц, не возвращаются. Прекращение действия контракта пользователем не освобождает пользователя от уплаты ранее начисленных сумм.
        </p>

        <p>Право на расторжение договора по исключительным причинам остается в силе.
        </p>

        <p>Причинами, дающими Biganto право на экстренное расторжение договора, являются, среди прочего, нарушение обязательств пользователя, в особенности, в противоречии с пунктом 7.1. настоящих Условий пользования, прекращение работы Интернет-сервисов со стороны Biganto, нарушение пользователем правовых норм при пользовании Интернет-сервисами, задержка оплаты более чем на 30 дней или бездействие бесплатного аккаунта более чем на 6 месяцев.
        </p>

        <p>Последствием расторжения контракта Biganto в чрезвычайном порядке является окончательное и безвозвратное удаление профиля пользователя или блокировка доступа к нему. В этом случае пользователю сообщается, что его профиль пользователя и данные, хранящиеся в системах Biganto, будут удалены Biganto в течение разумного периода времени.
        </p>

        <br>

        <p><strong>5. Срок исполнения и приемки</strong></p>

        <br>

        <p><strong>5.1. Срок исполнения</strong></p>

        <p>Сроки предоставления услуг являются обязательными для Biganto только в случае письменного подтверждения или подтверждения со стороны Biganto в текстовой форме для окончательного утверждения.
        </p>

        <p>Задержки обслуживания связанные с зоной ответственности пользователя (например, неспособность сотрудничества в срок) или из-за форс-мажорных обстоятельств (таких как забастовки, официальные приказы, общие сбои в телекоммуникационных сетях и т. д.) дают Biganto право отложить предоставление соответствующих услуг на время существования помех плюс разумное время для запуска.
        </p>

        <br>

        <p><strong>5.2. Приемка</strong></p>

        <p>Если Biganto несет ответственность за достижение определенного успеха (договорное обязательство), пользователь и Biganto определяют требования и процедуру приемки в индивидуальном договоре или в рамках управления проектом.</p>

        <p>Приемка пользователем может происходить также путем логичности своего поведения, в частности, задействуя систему в продуктивной деятельности, через безоговорочную оплату или используя другие дополнительные услуги.
        </p>

        <p>Пользователь проверяет и тестирует переданную ему услугу в соответствии с согласованным порядком; Biganto может также передавать услуги  независимыми частями. Общая приемка осуществляется только в том случае, если не производилось приемок по частям.
        </p>

        <p>Пользователь заботится о том, что услуги Biganto не будут использоваться продуктивно до завершения тестирования и приемки, если только между партнёрами по договору не была достигнута иная договоренность.
        </p>

        <p>Если услуги или частичные услуги Biganto соответствуют согласованным требованиям или если есть лишь незначительные отклонения, пользователь немедленно заявляет о принятии услуг. Это должно быть сделано в текстовой форме (например, по электронной почте). Незначительными отклонениями считаются те отклонения, которые не существенно затрагивают функциональность.
        </p>

        <p>Если пользователь не заявляет о принятии услуги в течение пяти рабочих дней после предоставления услуги или после запроса о принятии услуги и если он не сообщил Biganto о каких-либо существенных дефектах в течение этого времени, услуги или частичные услуги считаются принятыми.
        </p>

        <br>

        <p><strong>6. Право на отказ</strong></p>

        <p>Если пользователь является потребителем, он имеет право  на отзыв (возврата товара). Потребитель - это любое физическое лицо, которое заключает юридическую сделку в целях, которые нельзя причислить  преимущественно ни к коммерческой, ни к самостоятельной профессиональной деятельности.
        </p>

        <p>В конце этих Условий пользования находятся разъяснение прав на возврат, а также произвольный образец для оформления возврата со стороны потребителя.
        </p>

        <br>

        <p><strong>7. Права и обязанности пользователей</strong></p>

        <p>Независимо от того, выбрал ли пользователь бесплатное или платное использование онлайн-сервисов, Biganto предоставляет пользователям неисключительное и непередаваемое право использовать онлайн-сервисы, которые они выбрали (платные или бесплатные), на время отношений с пользователем в рамках этих Условий и использовать соответствующие тарифы.
        </p>

        <br>

        <p><strong>7.1. Обязанности пользователя</strong></p>

        <p>Пользователь обязуется не совершать никаких противозаконных действий во время и при использовании онлайн-сервисов. Это обязательство включает в себя также принятие  во внимание пользователем, при возможном использовании онлайн услуг, противоречащих друг другу авторских прав и прав на товарный знак, а также прав на имя, патент и конкуренцию, а также прав интеллектуальной собственности на файлы и содержание, загруженные или сохраненные им в системах Biganto, а также авторских прав Biganto на онлайн-сервисы, сами по себе.
        </p>

        <p>Кроме того, пользователь обязан использовать онлайн-сервисы только таким образом, чтобы веб-сайт и / или сами онлайн-сервисы не работали со сбоями;
        </p>

        <p>Пользователю запрещается:
        </p>

        <ul>
            <li>загружать и / или сохранять незаконный контент в системах Biganto;
            </li>
            <li>загружать или сохранять аморальный или морально сомнительный контент( нравственно  или морально непристойный материал), например, содержащие порнографические или восславляющие насилие материалы в системы Biganto;
            </li>
            <li>предлагать третьим лицам онлайн-услуги Biganto за плату или бесплатно;
            </li>
            <li>копировать, изменять, продавать или иным образом предоставлять или лицензировать Онлайн-сервисы третьим лицам;
            </li>
            <li>копировать или собирать интерактивные презентации, виртуальные - и фототуры, цифровые визуализации, рендеринг и 3D модели, созданные с помощью онлайн-сервисов Biganto или программного обеспечения в целях создания систематизированных групп, например, для хранения в базе данных, если это превышает права, предоставленные Пользователю в разделе 9 настоящих Условий пользования;
            </li>
            <li>обходить или пытаться  обходить установленные ограничения пользования или права к доступу; то же самое применимо к обходу и к попыткам обхода деактивированных нами онлайн-сервисов.
            </li>
            <li>загружать вредоносное ПО, код или другой контент, наносящий ущерб системе, например, загружать или хранить компьютерные вирусы в системах Biganto.
            </li>
            <li>продвигать онлайн-услуги Biganto без нашего явного разрешения;
            </li>
            <li>извлекать или копировать онлайн-сервисы или другое программное обеспечение или интерфейсы, предоставляемые Biganto;
            </li>
        </ul>

        <p>Поскольку Biganto предоставляет пользователю пространство для хранения в системах Biganto, пользователь обязуется использовать это пространство только для использования выбранных им сервисов Biganto. При этом пользователь должен убедиться, что никакой контент, нарушающий права третьих лиц, не сохраняется, используя данное пространство для хранения. При хранении файлов в системах Biganto пользователь должен обеспечить их резервное копирование (резервное копирование данных) самостоятельно.
        </p>

        <p>Если пользователь нарушает эти условия использования, он полностью освобождает Biganto от ответственности по претензиям третьих лиц, включая любые дополнительные расходы, которые Biganto понесет в результате защиты от этих претензий.
        </p>

        <br>

        <p><strong>7.2. Запрет на изменения, запрет реверс-инжиниринга</strong></p>

        <p>Если это прямо не разрешено Biganto, Пользователь не имеет права изменять, передавать, адаптировать или переводить части Услуг или программного обеспечения, восстанавливать, декомпилировать, дизассемблировать или иным образом определять, копировать или другим образом использовать исходный код или части Онлайн Услуг или Программного обеспечения в целях выходящих за рамки согласованного.
        </p>

        <p>Biganto может - с учетом своих авторских прав, прав производителя и прав пользования - по своему усмотрению предоставить пользователям соответствующую информацию об онлайн-услугах или программном обеспечении, а также интерфейсах, и при этом наложить на пользователя соответствующие условия (включая соответствующую оплату) для декомпиляции услуг или программного обеспечения. Обязательств к этому Биганто не несет.
        </p>

        <br>

        <p><strong>8. Образцы файлов</strong></p>

        <p>Biganto предоставляет демонстрационные версии, изображения, 3D-модели, готовые сцены или аудиофайлы на сайте <a href="{{ url_for('front.index') }}">www.biganto.com</a> (далее образцы файлов). Они используются в качестве руководства для пользователей или для других демонстрационных целей, установленных Biganto. Пользователь не может использовать образцы файлов для целей, отличных от указанных выше. Распространение этих файлов пользователем категорически запрещено.
        </p>

        <br>

        <p><strong>9. Авторские права и права использования</strong></p>

        <p>Пользователь предоставляет Biganto все права на использование, необходимые в рамках исполнения договора в т.ч. на использование авторских прав, дополнительных авторских прав и других прав на коммерческую собственность (включая права на товарные знаки), в частности, право воспроизводить, распространять, делать общедоступными и редактировать с точки зрения времени, местоположения и содержания в объеме, необходимом для исполнения договора. Это также включает в себя передачу этих прав или соответствующую сублицензию третьим лицам, которым Biganto поручила выполнить договор.
        </p>

        <p>По согласованию с пользователем Biganto имеет право изменять контент пользователя.
        </p>

        <p>Все авторские права,  права производителя и другие права на созданные и реализованные Биганто или третьими лицами по заказу Биганто,  анализы, концепции и материал, остаются за Biganto. Однако Biganto предоставляет клиенту право использовать анализы и концепции на неограниченное время в объеме, необходимом для его собственных маркетинговых целей. Это также относится и к периоду после окончания срока действия договора.
        </p>

        <p>Если третьи стороны предъявляют претензии к Biganto, утверждая, что контент, созданный пользователем с помощью онлайн-сервисов Biganto, нарушает положения закона и / или их публикация нарушает права третьей стороны, пользователь освобождает Biganto от всех претензий третьих лиц по первому запросу. Пользователь возмещает любые расходы и ущерб, понесенные Biganto, путем использования соответствующей правовой защиты, поскольку пользователь несет ответственность за нарушение прав третьих лиц или нарушение положений закона.
        </p>

        <p>Пользователь обязан поддерживать Biganto в разумных пределах, предоставляя информацию и документы в защиту от претензий третьих лиц.
        </p>

        <br>

        <p><strong>10. Ссылки</strong></p>

        <p>Пользователь разрешает Biganto включать его в свой собственный список ссылок на сайте www.biganto.com и другие рекламные и презентационные материалы, а также в учетные записи Biganto в социальных сетях, в частности, путем указания и отображения названий компаний / продуктов, снимков экрана с контентом онлайн-услуг или других услуги, выполненных Biganto для пользователя.</p>

        <br>

        <p><strong>11. Ограничение ответственности</strong></p>

        <p><strong>11.1.</strong> Biganto несет ответственность за умышленную и грубую небрежность. Biganto также несет ответственность за небрежное исполнение обязательств, выполнение которых в первую очередь делает возможным надлежащее исполнение контракта, нарушение которых ставит под угрозу достижение цели контракта и на соблюдение которых вы как пользователь можете полагаться. В последнем случае Biganto несет ответственность только за предсказуемый ущерб, типичный для контракта. Biganto не несет ответственности за нарушение обязательств по небрежности, кроме упомянутых в предыдущих предложениях.
        </p>

        <p>Biganto не несет ответственности за любые травмы, причиненные третьим лицам, которые пользователь может нанести при использовании онлайн-сервисов. Кроме того, Biganto не несет ответственности за контент, на который пользователи ссылаются при переходе на веб-сайт Biganto или с него.
        </p>

        <p>Вышеуказанные исключения ответственности не распространяются на причинение вреда жизни, телесным повреждениям или здоровью. Ответственность в соответствии с Законом об ответственности за качество продукции (Product Liability Act) остается в силе.
        </p>

        <p><strong>11.2.</strong> В соответствии с текущим состоянием технологий передача данных через Интернет не может быть гарантирована безошибочной и / или доступной в любое время. Biganto не несет ответственности за постоянную и бесперебойную доступность онлайн-услуг.
        </p>

        <p><strong>11.3.</strong> Biganto не несет ответственности за действия пользователей в связи с использованием онлайн-сервисов. Пользователи используют наши онлайн-службы на свой страх и риск; они несут полную ответственность за любую потерю данных или повреждение своей компьютерной системы в результате использования онлайн-сервисов или программного обеспечения и доступа к ним.</p>

        <br>

        <p><strong>12. Заключительные положения</strong></p>

        <br>

        <p><strong>12.1. Возможны изменения, уведомление об изменении и согласие</strong></p>

        <p>Приведенные здесь условия использования могут быть изменены. В случае изменения правовой ситуации, которая повлияла или может повлиять на использование онлайн-сервисов, или в случае значительного изменения онлайн-сервисов, предлагаемых Biganto, эти условия использования могут быть изменены.
        </p>

        <p>В случае изменения настоящих условий использования, пользователи будут в явном виде проинформированы Biganto по электронной почте об изменениях и будут иметь возможность отреагировать на изменение условий использования в течение разумного периода времени.
        </p>

        <p>Если пользователь не отвечает на уведомление об изменении в течение разумного периода времени, оно считается принятым пользователем. Biganto всегда будет указывать на это в уведомлении об изменении условий.
        </p>

        <br>

        <p><strong>12.2. Юрисдикция</strong></p>

        <p>Если пользователь имел постоянное место жительства или место пребывания в Германии на момент заключения контракта и либо переехал из Германии на момент подачи нами иска, либо его место жительства или обычное место жительства неизвестны в то время, местом юрисдикции для решения всех споров является юридический адрес нашей компании в Мюнхене.
        </p>

        <br>

        <p><strong>12.3. Разрешение потребительских споров</strong></p>

        <p>Мы хотели бы отметить, что пользователь, помимо обычных  правовых действий - если он является потребителем (см. Раздел 5 настоящих Условий использования), - также имеет возможность внесудебного урегулирования споров в соответствии с Регламентом (ЕС) № 524/2013. Подробности можно найти в Регламенте (ЕС) № 524/2013 и по адресу в Интернете: <a href="http://ec.europa.eu/consumers/odr">http://ec.europa.eu/consumers/odr</a>
        </p>

        <p>Наш электронный адрес: info@biganto.com
        </p>

        <p>В соответствии с § 36 VSBG мы хотели бы отметить, что не обязаны принимать участие во внесудебной процедуре урегулирования споров в арбитражной комиссии потребителей.
        </p>

        <br>

        <p><strong>12.4. Соответствующая языковая версия</strong></p>

        <p>В случае, если эти условия использования предоставляются пользователю на языке, отличном от немецкого, немецкая версия имеет приоритет в случае расхождений между немецкой версией и переводом.
        </p>

        <p>Немецкая версия данных условий доступна по ссылке <a href="{{ url_for('front.user_agreement', force_lang='de') }}">https://biganto.com/user_agreement/</a>
        </p>

        <br>

        <p><strong>12.5. Если отдельные положения настоящих условий использования не действуют, это не влияет на остальные условия использования.
        </strong></p>

        <br>

        <p><strong>ПРИЛОЖЕНИЕ: Политика отмены для потребителей</strong></p>

        <br>

        <p><strong>Право на отказ</strong></p>

        <p>Вы имеете право отказаться от договора, заключенного с Biganto, в течение четырнадцати дней без объяснения причин.
        </p>

        <p>Срок расторжения - четырнадцать дней со дня заключения договора.
        </p>

        <p>Чтобы воспользоваться своим правом на отказ, вы должны сообщить нам, Biganto GmbH, Schloßschmidstr. 5, 80639 Мюнхен, телефон +49 (89) 262-195-67, электронная почта info@biganto.com, с помощью четкого заявления (например, письма, отправленного по почте или электронной почте) о вашем решении отозвать этот контракт.
        </p>

        <p>Вы можете использовать образец формы отказа ниже, но это не обязательно.
        </p>

        <p>Чтобы уложиться в крайний срок отмены, вам достаточно отправить уведомление об использовании вашего права на отмену до истечения срока отмены.
        </p>

        <br>

        <p><strong>Последствия отказа
        </strong></p>

        <p>Если вы отказываетесь от этого контракта, мы возместим вам все платежи, которые мы получили от вас, включая любые расходы на доставку (за исключением дополнительных расходов, которые возникают в результате выбора иного типа доставки, отличного от самой дешевой стандартной доставки, которую мы предлагаем), которые будут возвращены немедленно, не позднее, чем в течение четырнадцати дней со дня, когда мы получили ваше уведомление о расторжении этого контракта. Для этого погашения мы используем те же средства платежа, которые вы использовали для исходной транзакции, если иное не было прямо согласовано с вами; Ни при каких обстоятельствах с вас не будет взиматься комиссия за эту выплату.
        </p>

        <p>Если вы сообщили об отказе, во время периода предоставления услуг, вы должны заплатить нам разумную сумму, которая соответствует доле услуг, уже предоставленных до того момента времени, когда вы сообщили нам об осуществлении права на отказ в отношении этого контракта.
        </p>

        <br>

        <p><strong>Причины исключения или истечение срока действия
            </strong></p>

        <p>Право отзыва истекает в договоре на оказание услуг, когда подрядчик полностью предоставил услугу и когда начал оказывать услугу в момент, когда потребитель дал свое прямое согласие и подтвердил свое понимание того, что он потеряет право отзыва, если подрядчик  полностью выполнит  договор.
        </p>

        <br>

        <p><strong>Типовая форма возврата</strong></p>

        <br>

        <p><strong>(Если вы хотите расторгнуть договор, заполните эту форму и отправьте ее обратно.)</strong></p>

        <p>На</p
        <p>Biganto GmbH</p>
        <p>Schloßschmidstr. 5</p>
        <p>80639 München: </p>
        <p>info@biganto.com</p>

        <ul>
            <li>Я / мы (*) аннулирую заключенный мной / нами (*) договор на покупку следующих товаров (*) / на предоставление следующих услуг (*)</li>
            <li>Заказано (*) / получено (*)</li>
            <li>Имя потребителя (ей)
            </li>
            <li>Адрес потребителя (ей)</li>
            <li>Подпись потребителя (-ей) (только при уведомлении на бумаге)
            </li>
            <li>Дата</li>
        </ul>

        <p>(*) Удалить, если не применимо.</p>

        <br>

    </div>
{% endblock %}