{% extends 'base.html' %}
{% set page_title = _("Tour Branding") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/branding/branding-tile.jpg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage" {% if background_head %}
         style="background-image: url({{ background_head }});" {% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--green">{{ _("extra") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="terms" class="b-anchor"></div>
            <div class="content-page__main">

                <h2>Terms and Conditions</h2>
                <p>
                    Tour branding allows you to disable all mentions of Biganto and replace them with your own images
                    and texts.
                </p>
                <ul>
                    <li>Branding costs €50 per year/per tour</li>
                    <li>Branding is available only for Virtoaster subscribers of Business tariff.</li>
                    <li>
                        If you no longer have a subscription to Business tariff you can no longer purchase branding for
                        your tours. Existing branding, however, will remain unaffected for the remainder of branding
                        period or for the period of active paid subscription plus 6 months, whichever is shorter.
                    </li>
                    <li>
                        At the end of the paid period branding preferences will be reset to default. You will receive a
                        notification prior to this within a reasonable time.
                    </li>
                    <li>Branding is attached to an individual tour and cannot be transferred to a different tour.</li>
                    <li>Branding should be purchased for each tour individually.</li>
                    <li>You can purchase several years of branding at once.</li>
                </ul>

                <div id="preferences" class="b-anchor"></div>
                <h2>Branding preferences</h2>
                <p>
                    To purchase branding or change branding preferences enter the tour from your account and switch to
                    Branding tab.
                </p>
                <img src="/static/public/img/tutorials/branding/screenshot_branding.jpg" alt="">
                <p>Press Purchase branding to gain access to branding preferences.</p>
                <p>You can change the following:</p>
                <ul>
                    <li>
                        Text above minimap. Default text: “Made in biganto.com”. Leave it empty if you do not want any
                        text.
                    </li>
                    <li>
                        Help pop-up bottom text. Default text: “Made in biganto.com”. Help pop-up is shown when the user
                        sees the tour for the first time. Leave the field empty if you do not want any text.
                    </li>
                    <li>
                        Help pop-up logo image. Default image: Biganto logo. Help pop-up is shown when the user sees the
                        tour for the first time. Upload your own logo or uncheck the box to disable the logo entirely.
                    </li>
                    <li>
                        Help pop-up destination URL. Default URL: none. This is the web address of a site, the user will
                        be redirected, when clicking on the logo. Leave the field empty if you do not want any link.
                    </li>
                    <li>
                        Generate link button. Default: enabled. This option can enable or disable the “Generate link”
                        button in the tour toolbar. Links, generated by this button look like:
                        “https://biganto.com/tour/.../”. You can disable this feature if you do not want users to see
                        Biganto mentioned while sharing a link to the tour.
                    </li>
                </ul>

                <p>
                    <span class="warning">Important</span>: completely removing Biganto from tour web address is not
                    technically viable. Instead you
                    can use the so-called “i-frame” to embed tour on your website. You can generate an i-frame code from
                    the list of your tours. Hover over the tour and select “Generate embed code”.
                </p>
                <img src="/static/public/img/tutorials/branding/screenshot_branding_2.png" alt="">

                <br/>
                <br/>
                <p>Tours with purchased branding are marked with red “ribbon” on their preview in the tour list:</p>
                <img src="/static/public/img/tutorials/branding/screenshot_branding_3.jpg" alt="">
            </div>

            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#terms" class="side-menu__link link-scroll-to">Terms and Conditions</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#preferences" class="side-menu__link link-scroll-to">Branding preferences</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>

{% endblock %}