{% extends 'base.html' %}
{% set page_title = _("Creating interactive objects") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/creating-interactive-objects/creating-interactive-objects.jpeg' %}

{% block head %}{% endblock %}

{% block content %}
<div class="content-page">
    <div class="page-title page-title--textpage"{% if background_head %} style="background-image: url({{ background_head }});"{% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--green">{{ _("extra") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="short" class="b-anchor"></div>
            <div class="content-page__main">

                <h2>Краткое руководство:</h2>
                <ol>
                    <li>Войдите в режим редактирования.</li>
                    <li>Выберите тип интерактивного объекта, кликните на поверхность в туре, на которой вы желаете его расположить.</li>
                    <li>Нажмите на объект правой клавишей мыши, чтобы передвинуть, повернуть или изменить его размер.</li>
                    <li>Используйте левую кнопку мыши, чтобы редактировать свойства объекта, добавить действия, видео, изображения и т.д.</li>
                    <li>Вы можете копировать объект с помощью выпадающего списка (правая клавиша мыши).</li>
                </ol>

                <div id="creating" class="b-anchor"></div>
                <h2>{{ _("Creating an interactive object") }}</h2>

                <p>Так называемый “Оверлей” это интерактивный объект, существующий в 3d пространстве тура. Данные объекты могут взаимодействовать с 3d моделью сцены, реагировать на перемещение камеры и вызывать различные действия.</p>
                <p>У каждого оверлея есть две основные составляющие. Первая - визуальная (текст или изображение, размер, положение в пространстве, реакция на наведение курсора мыши и т.д.), вторая - действие (т.н. Action), которое произойдет при взаимодействии с объектом. Например, вы можете использовать оверлеи для демонстрации мебели, изображений, просмотра видео, перехода по ссылкам и т.д.</p>
                <p>Чтобы создать интерактивный объект перейдите в режим редактирования (вы можете узнать больше о режиме редактирования в <a href="{{ url_for('tutorials.tour_editing_mode') }}">этой статье</a>). Наверху экрана вы увидите панель инструментов, где вы можете выбрать какой тип интерактивного объекта вы хотите создать:</p>
                <p>
                    <img src="/static/public/img/tutorials/creating-interactive-objects/Screenshot_1.jpg" alt="">
                </p>
                <p>На данный момент существует пять типов оверлеев, с незначительными различиями в процессе их создания:</p>
                <ul>
                    <li>Чтобы создать Текст или Изображение выберите объект и нажмите на поверхности чтобы его разместить.</li>
                    <li>Чтобы создать Линию нажмите левой кнопкой мыши там где вы хотите начать первый отрезок и нажмите левой клавишей снова, чтобы начать рисовать следующий отрезок. нажмите Enter чтобы сохранить все сегменты (кроме последнего - активного сегмента, следующего за курсором мыши).</li>
                    <li>Чтобы создать Полигон, нажмите на поверхность и нарисуйте замкнутую фигуру. Как только вы замкнете фигуру - объект будет создан.</li>
                    <li>Чтобы создать Овал нажмите и держите левую клавишу мыши, перемещая курсор для придания формы.</li>
                </ul>
                <p><span class="warning">Важно:</span> нажмите Escape если вы хотите отменить создание объекта.</p>
                <p>Выберите тип объекта и “нарисуйте” его на поверхности в туре, где вы хотите его расположить. Вновь созданный объект будет выделен автоматически и содержание правово контекстного меню изменится. Разные типы объектов имеют разные визуальные настройки, интуитивно понятные (такие как текст, цвет, толщина линий, заливка и т.п.).</p>
                <p>Все оверлеи используют одинаковое меню настройки действий (Actions). Вы можете выбрать существующий или создать новый action для любого типа оверлея. Возможно добавление нескольких действий к одному оверлею, но не все комбинации будут работать.</p>

                <div id="example" class="b-anchor"></div>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>{{ _("Interactive object example") }}</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p>Лучше всего продемонстрировать работу оверлеев на примере, который вы можете повторить в собственном туре. Допустим, вы хотите соединить тур по интерьеру квартиры с туром по лобби, чтобы показать заказчику. Начнем с размещения интерактивного объекта “Полигон” на входной двери интерьера:</p>
                    <p>
                        <img src="/static/public/img/tutorials/creating-interactive-objects/Screenshot_3.jpg" alt="">
                    </p>
                    <div class="interactive-objects__wrap-text">
                        <p class="interactive-objects__wrap-text__image-wrapper">
                            <img class="interactive-objects__wrap-text__image" src="/static/public/img/tutorials/creating-interactive-objects/Screenshot_2.png" alt="">
                        </p>
                        <div>
                            <p>По умолчанию вы увидите объект яркого цвета, для облегчения навигации. Однако вы можете сделать его полностью прозрачным или даже настроить появление цвета только при наведении на объект мышью. Изменим настройки цветов и добавим подпись при наведении мышью на дверь.</p>
                            <p>Обратите внимание, что четвертая цифра в rgba отвечает за прозрачность объекта (0 для настроек цвета, 0.2 для настроек цвета по ховеру в данном примере). Для того чтобы открыть меню выбора цвета нажмите на строку с настройками. Вы также можете вставить Hex код оттенка для точности.</p>
                        </div>
                    </div>
                    <p>Нажмите “Сохранить” чтобы применить измененные настройки. В результате наших манипуляций мы получили оверлей, невидимый сам по себе, но заметный при наведении на него мышью:
                    </p>
                    <p>
                        <img src="/static/public/img/tutorials/creating-interactive-objects/door.png" alt="">
                    </p>
                </div>

                <div id="transformation" class="b-anchor"></div>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>{{ _("Interactive object transformation, actions") }}</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p>Чтобы изменить настройки оверлея выберите его в левом нижнем меню или нажмите на него левой кнопкой мыши в туре. Если вы нажмете на него правой кнопкой мыши откроется меню трансформации (оно также доступно в нижнем правом углу при выбранном оверлее).</p>
                    <p>
                        <img src="/static/public/img/tutorials/creating-interactive-objects/Screenshot_5.jpg" alt="">
                    </p>
                    <p>С помощью данного меню вы можете  переместить, повернуть, масштабировать объект так же как и в распространенных 3д пакетах. Нажмите Сохранить, когда будете довольны результатом или Отмена, чтобы отменить изменения. Кроме того, вы можете скопировать или удалить объект из данного меню.</p>
                    <p>Теперь рассмотрим более подробно т.н. действия - Actions. Вы можете добавить новое или выбрать существующее действие в меню оверлея, справа (оверлей должен быть выбран).</p>
                    <p>Каждый тип действия немного отличается в настройках, большинство из которых интуитивно понятны. Вот краткое описание типов действий:</p>
                    <ul>
                        <li>
                            <p><strong>Перейти в другой тур</strong></p>
                            <p>Позволяет осуществить переход в другой тур в вашем аккаунте. Выберите тур из списка, перейдите в точку, в которую вы хотите переходить и где в браузере вы хотите осуществлять переход (новое\текущее окно).</p>
                            <p>Если вы хотите перейти в другую версию текущего тура (например текущий тур - без отделки, а целевой тур - с отделкой и мебелью), вы можете отметить флажок “При переходе сохранять положение камеры”, чтобы перейти в ту же точку в целевом туре.</p>
                        </li>
                    <li>
                        <p><strong>Перейти к точке</strong></p>
                        <p>Перемещает пользователя в определенную точку в данном туре. Нажмите “Задать”, переместитесь в нужную точку и нажмите Сохранить. По нажатию на оверлей пользователь будет перемещен в целевую точку.</p>
                    </li>
                    <li>
                        <p><strong>Открыть попап (popup)</strong></p>
                        <p>Открывает внутри тура новое окно, которое может содержать почти любую информацию - новые туры, web-страницы, текст и т.д. Выберите тип попапа, настройте визуальные опции, заголовок и добавьте контент. Используется для добавления контента с внешних сайтов, без его прямой загрузки в тур.</p>
                    </li>
                    <li>
                        <p><strong>Перейти по ссылке</strong></p>
                        <p>Открывает любую ссылку, указанную в настройках. Вставьте ссылку и укажите, где в браузере вы хотите ее открывать (в новом или текущем окне)</p>
                    </li>
                    <li>
                        <p><strong>Проиграть видео\аудио</strong>
                        </p>
                        <p>Используется для загрузки видео\аудио контента в тур напрямую. Загрузите файл и укажите размер окна воспроизведения для видео.</p>
                    </li>
                    </ul>

                    <p>Чтобы сохранить настроенный Action вернитесь назад в меню оверлея (Esc или стрелка “Назад”) и нажмите “Сохранить”. Чтобы удалить существующее действие, зайдите в его меню и нажмите “Удалить”.</p>
                    <p><span class="warning">Важно:</span> в данный момент как только Action сохранен, его тип невозможно изменить. 
                    </p>
                    <p>Теперь вернемся к нашему примеру и закончим добавлять Action. В нашем примере по нажатию на интерактивный объект мы хотим перемещаться в другой тур. Настройки действия будут выглядеть следующим образом:</p>
                    <p>
                        <img src="/static/public/img/tutorials/creating-interactive-objects/Screenshot_6.jpg" alt="">
                    </p>
                </div>

                <div id="other" class="b-anchor"></div>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>{{ _("Other suggestions") }}</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p>Мы описали только один пример того, как можно использовать систему overlay + action в туре. Вот еще несколько идей, которыми вы можете воспользоваться:
                    </p>
                    <ul>
                        <li>Создайте оверлей Изображение чтобы добавить точки интереса в туре</li>
                        <li>Создайте описание мебели или материалов с помощью оверлея Текст + действия Перейти по ссылке для перехода на сайт производителя</li>
                        <li>Создайте кнопку “Play” на экране ТВ + действие Воспроизвести видео</li>
                        <li>Создайте свой дизайн всплывающего окна (popup) с помощью действия Открыть попап и HTML кода</li>
                        <li>Добавьте словесное описание проекта с помощью действия Воспроизвести аудио</li>
                        <li>Добавьте изображение большего размера при наведении мышью на оверлей Изображение, чтобы создать эффект анимации</li>
                        <li>и т.д.</li>
                    </ul>
                    <p>
                        Это лишь несколько предложений, как использовать интерактивные объекты. Применяйте эти инструменты с фантазией, чтобы получить максимум от ваших проектов!
                    </p> 
                </div>
            </div>

            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#short" class="side-menu__link link-scroll-to">{{ _("Summary") }}</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#creating" class="side-menu__link link-scroll-to">{{ _("Creating an interactive object") }}</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#example" class="side-menu__link link-scroll-to">{{ _("Interactive object example") }}</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#transformation" class="side-menu__link link-scroll-to">{{ _("Interactive object transformation, actions") }}</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#other" class="side-menu__link link-scroll-to">{{ _("Other suggestions") }}</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>

{% endblock %}

