{% extends 'base.html' %}
{% set page_title = _("Manual model replacement") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/model-replacement/title_bg.jpeg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage" {% if background_head %}
         style="background-image: url({{ background_head }});" {% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--green">{{ _("extra") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="terms" class="b-anchor"></div>
            <div class="content-page__main">
            
                <p>
                    Замена модели вручную это функция для продвинутых пользователей, используйте ее с осторожностью и всегда
                    сохраняйте резервную копию оригинальной модели. Данная функция может быть использована для устранения проблем в
                    туре, без его полной пересборки (например вы можете скачать модель, внести изменения и загрузить ее обратно в
                    тур).
                </p>
                <p>
                    Чтобы заменить модель вручную, перейдите на соответствующую вкладку в свойствах тура:
                </p>
            
                <p>
                    <img src="/static/public/img/tutorials/model-replacement/model_replacement_screenshot.jpg" />
                </p>
            
                <p>
                    Из тура вы можете загрузить следующие файлы:
                </p>
                <ol>
                    <li>
                        Низкополигональную модель в .obj формате
                    </li>
                    <li>
                        Файл MTL, который определяет какие текстуры используют различные части модели
                    </li>
                    <li>
                        Текстуры для режима 3д панорамы
                    </li>
                </ol>
            
                <p>
                    На данный момент вы можете скачать любые файлы из списка, однако заменить можно только саму модель. Текстуры и
                    МТЛ вручную заменить нельзя.
                </p>
            
                <p>
                    В каких случаях может потребоваться замена модели? Например, вы получили комментарии от вашего заказчика и вам
                    нужно убрать мебель из тура. Вы можете отрендерить новые изображения и заменить их, не пересобирая тур целиком,
                    однако удаленная мебель все еще будет существовать в старой модели и может повлиять на то, как пользователь
                    перемещается по туру, или может повлиять на его визуальную сторону.
                </p>
            
                <p>
                    Раньше вы должны были полностью пересобрать тур, чтобы исправить это, однако теперь вы можете скачать модель из
                    тура, удалить из нее ненужный меш и загрузить модель обратно в тур.
                </p>
            
                <p>
                    Загружаемая 3d модель должна быть в формате .obj, масштабирована в метрах, иметь те же координаты и в целом
                    должна быть похожа на исходную модель. При замене вручную нет автоматической оптимизации модели, поэтому модель,
                    которую вы загружаете в тур, должна быть низкополигональной, иначе она либо не будет работать, либо сильно
                    замедлит тур. Если вы хотите сохранить режим 3D-панорамы, новая модель также должна иметь те же текстурные
                    координаты, что и старая, поэтому примите это во внимание при редактировании загруженной модели.
                </p>
            
                <p>
                    Что касается режима 3d-панорамы, имейте в виду, что туры без него не будут иметь в списке ни текстур, ни MTL (в
                    турах с отключенным режимом 3d-панорамы они будут присутствовать). На текущий момент уже существующие текстуры
                    не будут обновляться при изменении модели вручную. Таким образом, если вы внесли существенные изменения в тур
                    (например, убрали большой предмет мебели, такой как диван, или полностью заменили цвет стен), вы не увидите его
                    в режиме 3d-панорамы. Если режим 3d-панорамы для вас приоритетен, мы рекомендуем полностью пересобрать тур,
                    когда требуются существенные изменения.
                </p>
            
            </div>
        </div>
    </div>
</div>

{% endblock %}