{% extends 'base.html' %}
{% set page_title = _("Post production") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/post-production/preview_big.jpg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage"{% if background_head %} style="background-image: url({{ background_head }});"{% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--red">{{ _("must-read") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="short" class="b-anchor"></div>
            <div class="content-page__main">

                <div id="more" class="b-anchor"></div>
                <p>Как только рендер панорам завершен, время приступать к постобработке. Учитывая, что у каждого свой собственный подход к постобработке, в данном гайде будут раскрыты только общие рекомендации и основные правила для обработки cubemap панорам. Не обязательно следовать им от и до, но данные рекомендации нужно учитывать, чтобы избежать нежелательных эффектов на изображении. </p>
                <p>Первое, для естественного вида каждый кадр в туре должен иметь приблизительно одинаковую постобработку. Это вопрос здравого смысла - если на кухне яркое солнце, соседняя комната не должна быть освещена лунным светом. В 3d туре, в отличие от статичного изображения, сразу будут заметны различия в посте соседних кадров. Аналогично, различия в посте между бинокулярными и обычными рендерами одной точки будут бросаться в глаза. </p>
                <p>Процесс постобработки весьма похож на редактирование видеоряда. Хотя вы и можете выполнять пост в Photoshop, мы рекомендуем использовать такие редакторы как Fusion, Nuke или Natron. Данные инструменты существенно облегчают процесс обработки множества изображений одновременно. </p>
                <p>Далее, существуют некоторые технические ограничения по редактированию cubemap панорам. Любые правки, которые затрагивают края квадратов (швы) приведут к заметным искажениям в туре (поэтому нельзя использовать эффекты вроде виньетрования). Любые эффекты, перетекающие с одного квадрата на другой создадут видимые швы в туре. Любые эффекты, применяемые ко всему изображению одновременно могут быть использованы. </p>
                <p><img src="/static/public/img/tutorials/post-production/image_1.jpg" alt=""></p>
                <p>Например:</p>
                <ol>
                    <li>Эффекты, которые можно использовать свободно: настройки кривых, экспозиция, цветокоррекция, режимы наложения и т.д.</li>
                    <li>Эффекты, которые нельзя использовать: blur, виньетирование, depth of field</li>
                    <li>Эффекты, которые можно использовать при соблюдении определенных условий: glow, flare, sharp.</li>
                </ol>
                <p>Касательно последнего пункта - данные эффекты можно использовать только если они не влияют на границы квадратов панорамы!</p>
                <p>Существует два способа добавить glow и flare эффекты:</p>
                <ul>
                    <li>вы можете свободно добавлять эффекты, если они не затрагивают границ квадратов на изображении, например на точечном светильнике или слуховом окне </li>
                    <li>вы можете использовать встроенные эффекты Corona render (но не в  VRay). До тех пор пока изображение имеет достаточно высокое разрешение и значения эффектов не выставлены до экстремальных, встроенные эффекты Corona не будут влиять на края квадратов. </li>
                </ul>
                <p>Чтобы добавить “sharp” требуется разбить панораму на шесть отдельных изображений и применить sharp к каждому по отдельности. </p>
                <p>В Photoshop вы можете применить <a href='/static/scripts3d/sharp_action.atn' target='_blank' rel='noopener'>данный action</a> чтобы упростить процесс. Чтобы установить action откройте “Actions panel” в меню Window->Actions или нажмите Alt+F9, перетащите загруженный action на панель.</p>
                <p><img src="/static/public/img/tutorials/post-production/image_2.jpg" alt=""></p>
                <p>Используйте “Slice” чтобы разделить изображение на отдельные части, затем используйте “SmartSharpCube” чтобы применить sharp. </p>
                <p>Альтернативно, вы можете собрать похожую нодовую систему во Fusion или Nuke: </p>
                <p><img src="/static/public/img/tutorials/post-production/image_3.jpg" alt=""></p>

                <p>В остальном постобработка не отличается от обработки статичных изображений. Теперь вы можете перейти к разделу <a href='{{ url_for('tutorials.uploading_assets') }}'>Загрузка контента</a></p>
                <p><span class='warning'>Важно:</span> вы можете свободно менять панорамы после сборки тура с помощью загрузчика в личном кабинете.</p>

            </div>
        </div>
    </div>
</div>

{% endblock %}
