{% extends 'base.html' %}
{% set page_title = _("Preparing geometry for Virtoaster, Export tool") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/preparing-geometry/preview_big.jpg' %}

{% block head %}{% endblock %}

{% block content %}
<div class="content-page">
    <div class="page-title page-title--textpage"{% if background_head %} style="background-image: url({{ background_head }});"{% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--red">{{ _("must-read") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div class="content-page__wrapper">

            <div id="short" class="b-anchor"></div>
            <div class="content-page__main">

                <h2>Краткое руководство</h2>
                <ol>
                    <li>Перетяните скрипт <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>Virtoaster export tool</a> во вьюпорт сцены для его запуска</li>
                    <li>Откройте секцию “Delete modifiers” и поочередно нажмите кнопки для удаления соответствующих модификаторов в сцене</li>
                    <li>Откройте секцию “Remove extra geometry” и поочередно нажмите кнопки для удаления соответствующих объектов в сцене</li>
                    <li>Откройте секцию “Edit geometry”. Если в вашей сцене есть сложные объекты, объединенные в группы (например группа из столешницы и ножек стола), последовательно выберите эти группы и нажмите “Collapse selected group” чтобы объединить группу в единый меш.</li>
                    <li>Выберите прозрачные объекты (например оконные стекла) и нажмите “Make transparent”</li>
                    <li>Нажмите “Convert proxy to mesh” чтобы выбрать все прокси в сцене и конвертировать их в меш</li>
                    <li>Откройте секцию “Export geometry”, укажите путь, куда экспортировать .obj файл с помощью кнопки “Save as”. Нажмите “Export” чтобы экспортировать сцену.</li>
                    <li>Перейдите к разделу <a href='{{ url_for('tutorials.setting_up_render') }}'>Настройка рендера</a> или <a href='{{ url_for('tutorials.uploading_assets') }}'>Загрузка контента</a></li>
                </ol>

                <iframe style="width: 100%; height: 460px;" src="https://www.youtube.com/embed/vvz6r3p7r6E"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <div id="more" class="b-anchor"></div>
                <h2>Полное руководство</h2>

                <p>Основной принцип туров Virtoaster - использование низко полигональной 3d модели в сочетание с панорамными 360 рендерами. Модели, используемые в турах Virtoaster содержат меньше 200 тысяч полигонов, чтобы их могли с легкостью обрабатывать мобильные и VR устройства. Хотя наш алгоритм оптимизации дает хороший результат в большинстве случаев, конечный результат в некоторой степени зависит от исходной геометрии.</p>
                <p>Хотя, технически вы можете загрузить модель напрямую, мы рекомендуем выполнить инструкции ниже. Следуя данным инструкциям вы заранее предотвратите появление большинства возможных проблем, связанных с геометрией сцены и уменьшите размер загружаемого .obj файла. Большая часть действий выполняется по одному нажатию кнопки в скрипте, подробное описание которого вы найдете ниже, шаг за шагом. Вы можете загрузить скрипт “Virtoaster Export Tool” по <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>ссылке</a>.</p>
                <p>Чтобы использовать данный инструмент вы можете ориентироваться на всплывающие подсказки и просто выполнить все действия последовательно, одно за другим.</p>
                <p><span class='warning'>Важно</span>: данный набор инструментов изменит геометрию сцены, а соответственно и рендеры. <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>Выполняйте экспорт</a> в отдельной копии сцены или только после завершения рендера.</p>

                <h3>1. Delete modifiers</h3>
                <p>Данный набор инструментов удалит соответствующие модификаторы с объектов (а также некоторые модификаторы из сторонних плагинов, например “Quad Chamfer”), таким образом уменьшая количество полигонов. Модификаторы, поверх которых в стэке находятся “Editable poly” или “Editable mesh” не будут удалены.</p>
                <p><img src="/static/public/img/tutorials/preparing-geometry/image_1.jpg" alt="" width="360"></p>

                <h3>2. Remove extra geometry</h3>
                <p>Данный набор инструментов удалит лишнюю геометрию в сцене, такую как порталы в Corona (объекты с материалом CoronaPortalMtl) и отключит различные объекты типа “scatter”.</p>
                <p>Если вы все же хотите использовать scatter в вашей сцене, конвертируйте их в меш до использования кнопки “Disable Scatters”. Учтите, что существуют технические ограничения касающиеся таких объектов, например нет смысла использовать скаттер травы с большим количеством отдельных травинок. В этом случае объекты либо будут удалены, как несущественные (слишком маленького размера), либо модель не будет обработана и тур не будет собран (тур будет возвращен на доработку для загрузки компонентов). </p>
                <p><img src="/static/public/img/tutorials/preparing-geometry/image_2.jpg" alt="" width="360"></p>

                <h3>3. Edit geometry</h3>
                <p><img src="/static/public/img/tutorials/preparing-geometry/image_5.jpg" alt="" width="360"></p>
                <p>Кнопка “Collapse selected group” конвертирует все объекты в выделенной группе в один меш. Алгоритм оптимизации модели работает на уровне объектов, таким образом, объединение сложных объектов в единый меш позволяет достичь оптимального результата. Например:</p>
                <p>Люстра состоит из 60 отдельных объектов, каждый из которых будет оценен для оптимизации. Небольшие объекты будут удалены как несущественные или будут оптимизированы отдельно друг от друга. Таким образом, форма люстры сохранится хуже и с большим количеством полигонов, по сравнению с оптимизацией единого меша. Не обязательно обрабатывать все группы в сцене, но мы рекомендуем не оставлять объекты, состоящие из множества подобъектов. </p>
                <p><img src="/static/public/img/tutorials/preparing-geometry/image_3.jpg" alt="" width="600"></p>
                <p><span class='warning'>Важно:</span> объекты площадью меньше 5мм2 или размером больше 200м в любой плоскости будут удалены из модели. Данные объекты слишком маленькие, чтобы отображаться в модели или слишком велики для обработки. Количество объектов в сцене не должно превышать 6000.</p>
                <p><span class='warning'>Важно:</span> оптимизация геометрии работает на уровне объектов. Если по какой-либо причине в сцене есть геометрия не принадлежащая к объекту в .obj файле, 3d модель тура будет содержать ошибки.</p>
                <p>Кнопка “Make transparent” добавит суффикс “_glass” в имя выбранных объектов. Это выключит проекцию рендера на данные объекты, таким образом симулируя прозрачность. Выбирайте исключительно объекты, через которые можно видеть, без непрозрачных частей (например оконные стекла, без оконных рам).</p>
                <p>“Convert proxy to mesh” определит, какие прокси объекты существуют в сцене (VRay или Corona) и конвертирует данные объекты в меши. По умолчанию прокси объекты экспортируются в .obj так, как они отображаются во вьюпорте (например как боксы при использовании режима отображения bounding box). Использование данного инструмента может привести к снижению производительности в 3d Max. Если в вашей сцене существует много прокси объектов, вы можете также конвертировать и оптимизировать их вручную. </p>

                <h3>4. Export geometry</h3>
                <p>Раздел “Export geometry” поможет вам выгрузить модель с корректными настройками экспорта. Выберите путь, по которому вы хотите сохранить модель в формате .obj (по умолчанию - там-же где хранится сцена) и нажмите “Export”. Экспорт больших сцен может занять какое-то время.</p>
                <p><span class='warning'>Важно:</span> технически, модель ограничена 5000 объектов. Если количество объектов в вашей сцене больше 5000, вы увидите сообщение об ошибке и экспорт не будет выполнен. Воспользуйтесь функцией “Collapse selected groups” в скрипте, чтобы уменьшить число объектов.</p>
                <p><img src="/static/public/img/tutorials/preparing-geometry/image_4.jpg" alt="" width="360"></p>
                <p>Как только экспорт геометрии завершен, вы можете перейти к разделу <a href='{{ url_for('tutorials.uploading_assets') }}'>Загрузка контента</a>. </p>

            </div>
            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#short" class="side-menu__link link-scroll-to">Краткое руководство</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#more" class="side-menu__link link-scroll-to">Полное руководство</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>

</div>

{% endblock %}

