{% extends 'base.html' %}
{% set page_title = _("Quick start guide") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/quick-start-guide/quick-start-guide.jpeg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage" {% if background_head %}
         style="background-image: url({{ background_head }});" {% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--red">{{ _("must-read") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">
        <div class="content-page__wrapper">

            <div class="content-page__main">

                <div id="basic" class="b-anchor"></div>
                <p>
                    В данной статье мы даем основные инструкции для быстрого старта, прочитав ее вы получите
                    представление о создании тура от А до Я, без лишней информации. Хороший способ научиться чему-либо -
                    попробовать сделать это самому, для чего мы подготовили пробный тур, со всеми компонентами,
                    необходимыми для его создания.
                </p>
                <p>Процесс можно разделить на два этапа:</p>
                <ul>
                    <li>Этап 1 - интерфейс загрузки туров</li>
                    <li>Этап 2 - наши инструменты для 3d max, выгрузка компонентов, необходимых, для создания тура</li>
                </ul>

                <iframe style="width: 100%; height: 460px;" src="https://www.youtube.com/embed/E3jAPOUG9RM" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                <h2>Этап 1 - Сборка пробного тура</h2>
                <p>Следуя данным инструкциям вы научитесь создавать 3d туры, такие как этот:</p>
                <iframe src="https://biganto.com/tour/21432/" frameborder="0"
                        style="width: 100%; height: 460px;"></iframe>
                <p class="italic">Пример тура</p>
                <p>
                    <a class="link-button" href="/static/downloads/virtoaster_trial_basic.rar">
                        <button id="download-basic-components" type="submit"
                                class="generate-form__button button button--small fill blue">
                            Загрузить базовые компоненты (382 Мб)
                        </button>
                    </a>
                </p>
                <p>
                    Начните с загрузки архива с основными компонентами тура. Базовый пакет содержит готовые ассеты,
                    которые вы можете использовать как наглядный пример или загрузить их на сайт как есть. Базовый архив
                    содержит:
                </p>
                <ul>
                    <li>панорамные изображения с постобработкой</li>
                    <li>.obj файл с 3d моделью</li>
                    <li>опциональный .txt файл с координатами точек</li>
                </ul>
                <p>
                    Если вы зарегистрировались на сайте, у вас уже подключен бесплатный “Trial” тариф, вы можете создать
                    несколько тестовых туров. В противном случае - создайте аккаунт Biganto, чтобы продолжить.
                </p>
                <p>Чтобы создать пробный тур, выполните следующее:</p>
                <ol>
                    <li>Загрузите и распакуйте архив с ассетами на ваш ПК</li>
                    <li>
                        Нажмите “Создать тур” на сайте, на самом верху экрана. Создайте новую папку с турами или
                        выберите существующую, после чего вы будете перенаправлены на экран создания тура.
                        <img src="/static/public/img/tutorials/quick-start-guide/create-tour.png" alt="">
                    </li>
                    <li>
                        <p>
                            Вы увидите три функциональных блока, в которые вы должны загрузить компоненты тура. Более
                            детальную информацию вы можете найти в статье <a href="/tutorials/uploading_assets/">Загрузка
                            компонентов</a>. Однако для начала, просто загрузите ассеты:
                        </p>
                        <ul>
                            <li>
                                <strong>3D модель</strong> (highpoly.obj): нажмите “Выберите файл” и загрузите .obj файл
                                из архива. Вы также можете выбрать “highpoly.obj” и перетащить файл на кнопку “Выберите
                                файл” (drag’n’drop)
                            </li>
                            <li>
                                <strong>Выберите рендер</strong>: для тестового тура выберите Corona
                            </li>
                            <li>
                                <strong>Панорамы</strong> (файлы Post_room_00xx.png): нажмите “Выберите файл” и
                                загрузите все панорамы или просто перетащите все панорамы на кнопку “Выберите файл”
                                (drag’n’drop)
                            </li>
                            <li>
                                <strong>Координаты</strong>: оставьте флаг “Распознать координаты из модели .OBJ”
                                отмеченным, других действий не требуется.
                            </li>
                        </ul>
                    </li>
                </ol>
                <img src="/static/public/img/tutorials/quick-start-guide/basic-1.png" alt="">
                <br/>
                <br/>
                <p>
                    В интерфейсе сборщика также есть дополнительные опции. Вы можете узнать о них больше в статье
                    <a href="/tutorials/uploading_assets/">Загрузка компонентов</a> или раскрыв список ниже.
                </p>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Дополнительные опции:</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <ul>
                        <li>
                            Оптимизировать 3d модель: изредка ваша трехмерная модель может быть очень легкой, меньше 200
                            тыс. полигонов. В этой ситуации вы можете отключить оптимизацию модели на стороне сервера,
                            однако кроме отдельных случаев, мы рекомендуем оставить опцию включенной
                        </li>
                        <li>
                            Подготовить режим 3d панорамы: режим 3d панорамы это экспериментальная функция, позволяющая
                            увидеть весь интерьер с высоты птичьего полета. Если вы не заинтересованы в данной функции
                            вы можете отключить ее и сэкономить небольшое количество времени на обработке тура. Однако,
                            вы должны знать, что не сможете создать режим 3d панорамы отдельно от сборки тура.
                        </li>
                        <li>
                            Загрузить бинокулярные панорамы: бинокулярные панорамы это изображения, в которых для
                            каждого глаза показывается своя часть изображения. Они используются для улучшения
                            стереоскопического эффекта при просмотре на VR устройствах (например для иллюзии объема в
                            отражениях).

                        </li>
                        <li>
                            Координаты: существует два способа загрузки координат. По умолчанию наша система распознает
                            координаты из трехмерной модели (флаг “Распознать координаты из модели .OBJ” отмечен),
                            однако данный способ работает только если вы тщательно следовали нашему процессу по созданию
                            камеры в 3d сцене. Для решения возникающих проблем и нестандартных случаев (например
                            использование других 3d пакетов, вместо 3d Max) предусмотрена опция загрузки координат в
                            текстовом файле. Получения текстового файла с координатами - отдельный процесс, за рамками
                            данной статьи (см. <a href="/tutorials/setting_up_camera/">Настройка камеры</a>).
                        </li>
                    </ul>
                </div>

                <br>
                <br>
                <p>
                    В момент, когда все компоненты тура загружены, процесс фактически закончен! Однако перед тем, как
                    нажать “Создать тур”, обратите внимание на следующее:
                </p>
                <ul>
                    <li>
                        в нижнем левом углу вы увидите детали вашего тарифа: количество оставшихся туров, обработок и
                        т.д. Вы не сможете создать тур, если некоторые из лимитов превышены
                    </li>
                    <li>
                        в нижнем правом углу вы увидите трекер ошибок. Вы не сможете создать тур, если существуют
                        неразрешенные ошибки
                    </li>
                    <li>
                        некоторые из ошибок невозможно выявить на этапе загрузки компонентов. Если что-то пойдет не так
                        при сборке тура, он будет возвращен в статус “загрузка”, а вам на почту придет уведомление с
                        выявленными ошибками
                    </li>
                    <li>
                        вы можете выйти со страницы сборщика туров в любое время, при этом часть вашего прогресса будет
                        сохранена. Это удобно в ситуации, когда вам требуется время для устранения ошибок
                    </li>
                </ul>

                <img src="/static/public/img/tutorials/quick-start-guide/basic-2.png" alt="">

                <br>
                <br>
                <p>
                    Нажмите “Создать тур” чтобы завершить сборку своего первого виртуального тура! Как только вы
                    сделаете это, тур отправится в очередь обработки к другим собираемым в данный момент турам. Сборка
                    непосредственно тестового тура занимает около 10 минут, однако создание более сложных туров может
                    занять больше времени. Вы увидите примерную оценку времени, как только нажмете “Создать тур”.
                </p>
                <p>
                    Мы надеемся, вам понравится полученный тур! Откройте продолжение статьи, если вы хотите узнать о
                    самостоятельной подготовке компонентов тура.
                </p>


                <div id="advanced" class="b-anchor"></div>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Этап 2 - Создание компонентов тура</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p>
                        <a class="link-button" href="/static/downloads/virtoaster_trial_advanced.rar">
                            <button id="download-advanced-components" type="submit"
                                    class="generate-form__button button button--small fill blue adaptive">
                                Загрузить “Продвинутые” компоненты (88 Мб)
                            </button>
                        </a>
                    </p>
                    <br/>
                    <br/>
                    <p>
                        Данный набор ассетов предоставлен с целью дать вам “песочницу”, где вы сможете попробовать
                        подготовить компоненты тура Virtoaster, не создавая для этого отдельную сцену. Вы также можете
                        использовать и свою сцену, общие принципы одни и те же, просто внимательно следуйте данному
                        руководству.
                    </p>
                    <p>Начните с загрузки архива с основными компонентами тура. Продвинутый пакет содержит:</p>
                    <br/>
                    <ul>
                        <li>сцену в 3d max, (формат 3d max 2016, Corona render)</li>
                        <li>
                            мы не предоставляем полный набор текстур по юридическим причинам и из-за их большого объема,
                            соответственно материалы в сцене настроены на простой серый шэйдер (базовый Corona Mtl), с
                            базовам вариантом освещения (Corona Sky и Corona Sun).
                        </li>
                    </ul>
                    <p>
                        Мы используем Corona для упрощения настройки сцены. Если вы пользуетесь VRay, просто назначьте
                        базовые материалы и примените любую схему освещения. Наши скрипты поддерживают и VRay и Corona,
                        но в дальнейшем вы должны указать, каким рендером вы пользуетесь при загрузке компонентов (см.
                        первую часть статьи).
                    </p>
                    <br/>
                    <p>
                        Далее, загрузите наши инструменты:
                        <a href="/static/scripts3d/Biganto-UTL_VirtoasterCamTools_0.73.ms">Virtoaster Camera tool</a>
                        и <a href="/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms">Virtoaster Export
                        tool</a>.
                        Теперь вы можете начать подготовку компонентов тура:
                    </p>
                    <br/>
                    <p>
                        <strong>Шаг 1. Настройка камеры.</strong>
                    </p>
                    <p>
                        Откройте файл .max. Начните с настройки камеры (в деталях вы можете узнать о процессе в статьях
                        <a href="/tutorials/setting_up_camera/">Настройка камеры</a>
                        и <a href="/tutorials/setting_up_render/">Настройка рендера</a>).
                    </p>
                    <br/>
                    <ul>
                        <li>
                            Перейдите в сцене в проекцию “сверху” (горячая клавиша “T”), перетяните “Virtoaster cam
                            tools” скрипт во вьюпорт и нажмите “Point”. Нажмите левую клавишу мыши, чтобы установить
                            точку там, где вы хотите перемещаться по туру. Нажмите правую клавишу, чтобы закончить.
                            Распределите точки равномерно по помещению.
                            <br/>
                            <span class="warning">Важно</span>: в целях тренировки рекомендуем не ставить больше 3-4
                            точек, т.к. вам будет необходимо выполнить их рендер.
                        </li>
                        <li>
                            Выберите все созданные точки и поместите их на высоту 1,5 метров от пола. Не забудьте учесть
                            изменения в высоте полов, например высоту подиума в данной сцене.
                        </li>
                        <li>
                            Выберите все точки и нажмите “Create camera” в скрипте. Будет создана анимированная камера,
                            где каждая точка отвечает одному кадру. Обратите внимание, что будут созданы дополнительный
                            объекты и геометрия.
                        </li>
                        <li>
                            С выбранной камерой, нажмите “Apply Virtoaster render settings” в скрипте. Скрипт
                            автоматически выставит основные настройки рендера и выведет сообщение об изменениях.
                        </li>
                    </ul>
                    <img src="/static/public/img/tutorials/quick-start-guide/camscript.jpg" alt="">
                    <br/>
                    <br/>
                    <p>
                        <span class="warning">Важно</span>: скрипт выставит только основные настройки с целью сделать
                        рендер совместимым с нашей системой. Визуальная составляющая изображения остается на ваше
                        усмотрение. Обратите внимание, что большинство пост эффектов, например “sharp”, должны быть
                        отключены. Более подробная информация в статьях
                        <a href="/tutorials/setting_up_camera/">Настройка камеры</a> и
                        <a href="/tutorials/setting_up_render/">Настройка рендера</a>
                    </p>
                    <br/>
                    <p>
                        В обычных условиях можно приступать к рендеру, однако в целях тренировки есть еще один
                        дополнительный шаг:
                    </p>
                    <br/>
                    <ul>
                        <li>
                            По умолчанию наша система распознает координаты из трехмерной модели. Однако вы можете
                            вручную загрузить координаты точек, процесс объяснен более детально в статье
                            <a href="/tutorials/uploading_assets/">Загрузка компонентов тура</a>. В блоке “Create
                            coordinates file” нажмите “Select camera” и выберите камеру VirtoasterCam. С выбранной
                            камерой нажмите “Create” в скрипте - вам будет предложено указать место на вашем PC, где
                            сохранить .txt файл с координатами.
                        </li>
                    </ul>
                    <br/>
                    <p>
                        Выполните рендер панорам для всех точек, рендер может быть с шумами и в низком качестве, но
                        должен быть в разрешении, выставленном скриптом камеры. Т.к. разрешение достаточно большое, мы
                        советуем выставить лимит по количеству пассов на 2 или 3 пасса. Это только тестовый тур и
                        качество изображения несущественно в данном случае.
                    </p>
                    <br>
                    <p>
                        <span class="warning">Важно</span>: т.к. вы создали новые точки с новыми координатами,
                        готовые рендеры из Базового набора не подойдут, они просто не совпадут с координатами.
                    </p>


                    <br/>
                    <p>
                        <strong>Шаг 2. Экспорт геометрии</strong>
                    </p>
                    <p>
                        Для экспорта модели из .max файла с корректными настройками, пожалуйста воспользуйтесь скриптом
                        Virtoaster Export tools (вы можете узнать о процессе более детально в статье
                        <a href="/tutorials/preparing_geometry/">Подготовка геометрии, экспорт</a>).
                    </p>
                    <br>
                    <ul>
                        <li>Перетяните скрипт “Virtoaster Export tools” во вьюпорт</li>
                        <li>
                            Разверните блок “Delete modifiers” и последовательно нажмите все кнопки одну за другой чтобы
                            очистить сцену от лишних модификаторов
                        </li>
                        <li>
                            Разверните блок “Remove extra geometry” и последовательно нажмите все кнопки одну за другой
                            чтобы удалить лишние объекты (например порталы Corona для данной конкретной сцены).
                        </li>
                        <li>
                            Разверните блок “Edit geometry”. Если в сцене есть сложные объекты в группах (например
                            объект столешница и объекты ножки или люстра состоящая из множества элементов) выберите
                            группу и нажмите “Collapse selected group” чтобы получить единый меш. Повторите для
                            остальных подобных групп.Это не слишком актуально для данной сцены, но вы можете посмотреть
                            слой “_books to collapse” для примера.
                        </li>
                        <li>
                            Выберите прозрачные объекты (например оконные стекла) и нажмите “Make transparent”. См. слой
                            “_glass” для примера.
                        </li>
                        <li>
                            Нажмите “Convert proxy to mesh” чтобы выбрать все прокси объекты в сцене и конвертировать их
                            в меш (не актуально для данной сцены).
                        </li>
                        <li>
                            Разверните блок “Export geometry” и выберите место на вашем ПК, куда вы хотите
                            экспортировать сцену, с помощью кнопки “Save as”. Нажмите “Export”.
                        </li>
                    </ul>
                    <img src="/static/public/img/tutorials/quick-start-guide/export.jpg" alt="">
                    <br/>
                    <br/>
                    <p>В результате вы должны получить следующие ассеты:</p>
                    <br/>
                    <ul>
                        <li>несколько панорамных 360 изображений, выполненных вами</li>
                        <li>высокополигональная модель сцены, экспортированная вами</li>
                        <li>.txt файл с координатами (опционально)</li>
                    </ul>
                    <p>
                        Теперь вы можете использовать данные компоненты для создания тура, точно так же, как описано в
                        первой части статьи.
                    </p>
                    <br/>
                    <p>
                        <span class="warning">Важно</span>: тариф Trial может быть ограничен в количестве
                        одновременно собранных туров. Если у вас не хватает туров - удалите тур, созданный по первой
                        части руководства.
                    </p>
                    <br/>
                    <p>
                        Как вы видите, создать 3d и VR туры с использованием наших инструментов не так сложно, надеемся,
                        эта статья была вам полезна!
                    </p>
                </div>

            </div>

            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#basic" class="side-menu__link link-scroll-to">Этап 1 - Сборка пробного тура</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#advanced" class="side-menu__link link-scroll-to">Этап 2 - Создание компонентов
                                тура</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>

{% endblock %}