{% extends 'base.html' %}
{% set page_title = _("Releasing your tour") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/releasing-tour/releasing-your-tour.jpeg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage" {% if background_head %}
        style="background-image: url({{ background_head }});" {% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--red">{{ _("must-read") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="short" class="b-anchor"></div>
            <div class="content-page__main">

                <div id="more" class="b-anchor"></div>
                <p>Итак, вы получили уведомление, что ваш тур готов. Теперь тур доступен в списке ваших туров и вы можете путешествовать в его виртуальном пространстве. Чтобы завершить создание осталась еще пара финальных штрихов.
                </p>
                <p>Чтобы открыть тур вы можете использовать ссылку, которую вы получили по email или из вашего личного кабинета. Нажмите левой клавишей мыши на имя аккаунта на сайте и выберите “Туры” из выпадающего списка чтобы открыть список ваших папок.
                </p>
                <p>Существует три способа взаимодействия с туром:</p>
                <ul>
                    <li>Режим просмотра</li>
                    <li>Режим редактирования</li>
                    <li>Редактирование компонентов тура</li>
                </ul>
                <p>“Режим просмотра” - режим по умолчанию, без доступа к инструментам редактирования. Чтобы открыть тур в режиме просмотра нажмите кнопку  “Посмотреть тур” или “Открыть в новом окне”. Все ссылки на тур открывают его в режиме просмотра.
                </p>
                <p>“Режим редактирования” - альтернативный режим Web-плеера. В данном режиме вы можете путешествовать по туру аналогично режиму просмотра, но также получаете доступ к набору инструментов для добавления специальных возможностей и интерактивных объектов.
                </p>
                <p>“Редактирование компонентов тура” - web-страница, на которой вы можете добавлять, удалять, редактировать и заменять компоненты и точки в туре. Чтобы открыть данный режим нажмите на превью изображение тура. Режим редактирования компонентов необходим для внесения изменений в проект или исправления возникших проблем.
                </p>
                <p>Теперь, когда вы знаете как получить доступ к разным режимам вы можете проверить тур и завершить его создание:
                </p>
                <ul>
                    <li>откройте режим просмотра и проверьте что тур работает как задумано и рендеры смотрятся достойно. При возникновении ошибок, пожалуйста воспользуйтесь статьей <a href='{{ url_for('tutorials.troubleshooting') }}'>Устранение проблем</a>.
                    </li>
                    <li>откройте режим редактирования и измените стартовую точку тура, добавьте дополнительные интерактивные объекты, навигацию, маршруты и т.д. если необходимо. Подробнее вы можете узнать в разделе <a href='{{ url_for('tutorials.tour_editing_mode') }}'>Режим редактирования тура</a>
                    </li>
                    <li>откройте редактирование компонентов и добавьте миникарту в ваш тур (см. <a href='{{ url_for('tutorials.rendering_floor_plan') }}'>Рендер миникарты</a>).
                    </li>
                </ul>
                <p>Сразу после создания тур находится в статусе “Тестирование”. Теперь вы можете редактировать тур или поделиться им. Имейте в виду, что у таких туров ограничен срок хранения, они удаляются через некоторое время (удаление необходимо, т.к. при статусе “Тестирование” сохраняются оригинальные компоненты тура, т.е. он может занимать до нескольких гигабайт).
                </p>
                <p>Чтобы избежать удаления, необходимо перевести тур в статус “Опубликован”. Откройте режим редактирования компонентов и измените статус тура когда закончите с редактированием. Исходные компоненты тура при этом будут удалены и вы потеряете возможность редактировать их без пересборки тура.
                </p>
                <p>Вы можете создать ссылку для просмотра тура. Для этого в списке туров наведите курсор мыши на тур и выберите “Копировать ссылку”.
                </p>
                <p><img src="/static/public/img/tutorials/releasing-tour/image_1.jpg" alt=""></p>
                <p>В режиме просмотра вы также можете сгенерировать ссылку на конкретное место в туре, для этого воспользуйтесь кнопкой “Ссылка на тур” в панели инструментов.
                </p>
                <p>Наконец, вы можете добавить тур как встроенный контент на сайт с помощью т.н. iFrame. iFrame это web-технология, с помощью которой встроенный контент можно просматривать непосредственно на определенной странице, например видео с YouTube в статье или блоге на стороннем сайте.
                </p>
                <p>Чтобы сгенерировать iFrame код, наведите курсор мыши на тур в списке и нажмите “Получить встраиваемый код”.
                </p>
                <p><img src="/static/public/img/tutorials/releasing-tour/image_2.jpg" alt=""></p>
                <p>По нажатию на кнопку будет сгенерирован код. Вы можете изменить размер окна, в котором будет показан тур, что будет отражено в iFrame коде.
                </p>
                <p><img src="/static/public/img/tutorials/releasing-tour/image_3.jpg" alt="" width="480"></p>
                <p>Теперь ваш тур готов и вы можете поделиться им с вашими заказчиками и близкими! Добавьте <a href='{{ url_for('tutorials.creating_interactive_objects') }}'>интерактивные объекты</a>, <a href='{{ url_for('tutorials.rendering_floor_plan') }}'>миникарту</a> и <a href='{{ url_for('tutorials.tour_editing_mode') }}'>другие возможности</a> в тур, чтобы получить максимум из вашего проекта!
                </p>

            </div>

        </div>
    </div>
</div>

{% endblock %}
