{% extends 'base.html' %}
{% set page_title = _("Rendering floor plan") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/rendering-floor-plan/rendering-floor-plan.jpeg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage"{% if background_head %} style="background-image: url({{ background_head }});"{% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--green">{{ _("extra") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div id="short" class="b-anchor"></div>
            <div class="content-page__main">

                <p>Миникарта - рендер помещения из ортографической камеры в проекции “сверху”. Она упрощает навигацию в туре и помогает лучше понять, как устроено пространство. </p>
                <p>Для упрощения рендера, мы предлагаем использовать простейший инструмент - скрипт <a href='/static/scripts3d/Biganto-UTL_CameraTopMap.v28.ms'>Camera TopMap</a>. Перетащите скрипт во вьюпорт 3d max, вы увидите следующий интерфейс:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_1.jpg" alt="" ></p>
                <p>Данный инструмент создаст ортографическую камеру, установит настройки клиппинга , установит правильные пропорции кадра и разрешение рендера. Скрипт адаптируется к вашему рендеру и создаст соответствующую камеру для VRay или Corona.  </p>
                <p>Перейдите в проекцию “Top” во вьюпорте (горячая клавиша T). Кнопка “Select bounding object” позволяет выбрать объект, который будет обрамлять кадр. Этот объект, должен в виде сверху накрывать собой всю сцену. В большинстве случаев для этих целей может служить потолок интерьера, если он выполнен одним мешем, например как на скриншоте ниже (красный): </p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_2.jpg" alt="" width="600" ></p>
                <p>Если в вашей сцене нет подходящего объекта, вы можете создать бокс поверх вашего интерьера (синий):</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_3.jpg" alt="" width="600" ></p>
                <p>Скрипт автоматически установит разрешение и угол камеры, чтобы пропорции кадра совпадали с пропорциями обрамляющего объекта. В данном примере пропорции миникарты точно совпадают с выбранным объектом:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_4.jpg" alt="" ></p>
                <p>Нажмите “Pick bounding object” в интерфейсе скрипта и выберите подходящий объект левой кнопкой мыши. </p>
                <p>Укажите значение “Clipping offset” - это значение, насколько “глубоко” камера будет заглядывать внутрь интерьера (см. изображение ниже).</p>
                <p>Нажмите “Create TV cam” чтобы создать камеру. Камера будет создана чуть выше, по центру обрамляющего объекта:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_5.jpg" alt="" ></p>
                <p><span class='warning'>Важно:</span> из нашего опыта, наиболее удачные миникарты получаются если секущая плоскость камеры находится чуть ниже дверных проемов. Таким образом, пол под дверными проемами виден на рендере и сразу очевидно, где можно перемещаться в интерьере. Вы всегда можете изменить положение плоскости в настройках камеры (значение “Near”, в разделе Environment & Clipping).</p>
                <p>Теперь вы можете приступить к рендеру миникарты! Разберем процесс ее загрузки в тур. </p>
                <p>Откройте режим редактирования компонентов тура нажав на превью (маленькое изображение) в списке туров. Найдите секцию “Этажи”:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_6.jpg" alt="" ></p>
                <p>По умолчанию в каждом туре существует по меньшей мере один этаж. Измените название этажа, если нужно и нажмите “Загрузить” чтобы добавить миникарту. Для этого вы можете перетащить ваш рендер с помощью мыши или указать путь к файлу. </p>
                <p><span class='warning'>Важно:</span> направление миникарты должно совпадать с направлением низкополигональной модели. Нельзя поворачивать или вращать миникарту, сделанную с помощью наших скриптов.</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_7.jpg" width="600" alt="" ></p>
                <p>Для удобства пользователя миникарта представлена в двух размерах, она может быть отключена или развернута во время просмотра тура. По умолчанию большее изображение имеет размер в 300 пикселей по большей стороне, меньшее - 150 пикселей. Вы можете изменить размер изображения как захотите. Если вы не загрузите маленькое изображение самостоятельно, оно будет создано из большего. </p>
                <p>Как только вы загрузили изображение миникарты, наведите курсор мыши на строку с этажом и выберите “Изменить положение миникарты”:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_8.jpg" alt="" ></p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_9.jpg" alt="" ></p>
                <p>Если точки в интерфейсе не совпадают с правильным положением на миникарте, вы можете изменить это здесь. Перемещайте и масштабируйте изображение, чтобы выровнять точки в туре.</p>
                <p>Если в вашем проекте больше одного этажа, вы можете поменять порядок этажей (миникарт) перетаскивая их мышью:</p>
                <p><img src="/static/public/img/tutorials/rendering-floor-plan/image_10.jpg" alt="" ></p>

            </div>

        </div>
    </div>
</div>

{% endblock %}

