{% extends 'base.html' %}
{% set page_title = _("Troubleshooting") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/troubleshooting/troubleshooting.jpeg' %}

{% block head %}{% endblock %}

{% block content %}
<div class="content-page">
    <div class="page-title page-title--textpage" {% if background_head %}
        style="background-image: url({{ background_head }});" {% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--yellow">{{ _("support") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">

        <div id="camera" class="b-anchor"></div>
        <div class="content-page__wrapper">
            <div class="content-page__main">

                <p>Ниже - краткое описание известных проблем, которые могут возникнуть и способов их решения. Большинство из них являются результатом НЕ использования наших инструментов или некорректного выполнения инструкций.
                </p>
                <p>Если вы не нашли в списке вашей проблемы или не можете её решить, пожалуйста обратитесь в <a href='{{ url_for('support.index') }}'>техническую поддержку</a>.
                </p>
                <div id="general-issues" class="b-anchor"></div>
                <h2>Общие проблемы</h2>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Мой тур тормозит, у меня низкое количество кадров в секунду или другие проблемы с производительностью.</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Такое может происходить по ряду причин:</p>
                    <ol type="a">
                        <li>Ваше устройство сейчас выполняет ресурсоемкую задачу, например PC выполняет рендер или симуляции, что влияет на производительность тура
                        </li>
                        <li>3d модель тура недостаточно оптимизирована, если вы создавали низкополигональную модель самостоятельно
                        </li>
                        <li>ваше устройство недостаточно производительное для проигрывания тура</li>
                        <li>ваш браузер не поддерживается</li>
                    </ol>
                    <p>Решение “a” - проверьте, какие еще задачи выполняет ваше устройство, перезагрузите если необходимо
                    </p>
                    <p>Решение “b” - если вы оптимизируете модель самостоятельно, убедитесь, что она содержит 200 т. полигонов или меньше. Загрузите высокополигональную модель для обработки нашим алгоритмом. Обратите внимание, что растения и объекты scatter занимают значительную долю полигонов 3d сцен.
                    </p>
                    <p>Решение “c” - попробуйте использовать другие устройства. Большинство смартфонов и планшетов с 2018 и новее (а также флагманы более ранних лет) не должны испытывать проблем с производительностью
                    </p>
                    <p>Решение “d” - попробуйте использовать Google Chrome</p>
                    <p>Общий совет - при возникновении проблем с производительностью, попробуйте открыть тур на другом устройстве</p>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Загрузка тура занимает значительное время, я постоянно вижу значок загрузки, перемещаясь по туру.
                    </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение: в данный момент ваше интернет соединение недостаточно стабильное\быстрое для полноценного просмотра тура.
                    </p>
                    <p>Решение “a” - используйте VR плеер для PC или мобильные приложения для iOS и Android устройств для офлайн просмотра тура.
                    </p>
                    <p>Решение “b” - проверьте ваше интернет соединение и решите связанные с ним проблемы, при их наличии.</p>
                    <p>Решение “c” - на крайний случай вы можете открыть тур и подождать некоторое время, периодически перемещаясь в новые точки. Когда большая часть точек сохранится в кэше вашего браузера, вы сможете получить лучший опыт просмотра тура.
                    </p>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Точки на миникарте не совпадают с вашим положением в туре.</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Если вы следовали нашему гайду по рендеру миникарты, скорее всего несовпадение - результат какого-либо объекта\части объекта в 3d модели, которые находятся за пределами отрендеренной области.
                    </p>
                    <p>Решение: откройте режим редактирования контента и наведите курсор мыши на строку с миникартой, нажмите “Редактировать положение миникарты”:
                    </p>
                    <p><img src="/static/public/img/tutorials/troubleshooting/image_1.jpg" alt=""></p>
                    <p><img src="/static/public/img/tutorials/troubleshooting/image_2.jpg" alt="" width="800"></p>
                    <p>Если точки в интерфейсе не совпадают с правильным положением на миникарте, вы можете изменить это здесь. Перемещайте и масштабируйте изображение, чтобы выровнять точки в туре.
                    </p>
                </div>
                <div id="model-issues" class="b-anchor"></div>
                <h2>Проблемы, связанные с 3d моделью</h2>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Объект смотрится “плоско”, оставляет размытый след при перемещении между точками</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Если возникает похожий эффект, скорее всего объект отсутствует в модели. Это может быть вызвано следующим:
                    </p>
                    <ol type="a">
                        <li>Не была подготовлена геометрия с помощью наших инструментов</li>
                        <li>Не была преобразована в единый меш группа из множества мелких объектов (например, люстра, состоящая из десятков элементов)
                        </li>
                        <li>Геометрия слишком сложная, чтобы сохранить ее в сцене (например растение с несколькими десятками тысяч листьев)
                        </li>
                        <li>Объект был создан с помощью scatter (scatter объекты отключаются при использовании скрипта для подготовки геометрии
                        </li>
                    </ol>

                    <p>Решение “a” и “b”:</p>
                    <ol>
                        <li>Используйте <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>наши инструменты</a> по подготовке геометрии в сцене. Внимательно следуйте <a href='{{ url_for('tutorials.preparing_geometry') }}'>инструкциям</a> и экспортируйте корректную модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                    <p>Решение “c”:</p>
                    <ol>
                        <li>Сложные, высокополигональные объекты с множеством отдельных маленьких элементов существенно снижают производительность тура. Вы можете вручную создать “прокси” объект, который будет напоминать по форме исходный и поместить его в сцену. Подготовьте геометрию и экспортируйте новую модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>

                    <p>Решение “d”:</p>
                    <ol>
                        <li>Если вы хотите сохранить объекты, сделанные с помощью scatter - конвертируйте их в меш, перед использованием скрипта по подготовке геометрии. Подготовьте геометрию и экспортируйте новую модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                        <li>Учитывайте, что сложные объекты существенно влияют на производительность тура. Чтобы его минимизировать, вы можете поступить аналогично Решению “c” (в тексте выше).
                        </li>
                    </ol>
                </div>
                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Кажется, что объекта не существует, при перемещении между точками </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Если возникает похожий эффект, скорее всего объект отсутствует в модели. Это может быть вызвано следующим:
                    </p>
                    <ol type="a">
                        <li>Не была подготовлена геометрия с помощью наших инструментов</li>
                        <li>Не была преобразована в единый меш группа из множества мелких объектов (например, люстра, состоящая из десятков элементов)
                        </li>
                        <li>Геометрия слишком сложная, чтобы сохранить ее в сцене (например растение с несколькими десятками тысяч листьев)
                        </li>
                        <li>Объект был создан с помощью scatter (scatter объекты отключаются при использовании скрипта для подготовки геометрии
                        </li>
                    </ol>

                    <p>Решение “a” и “b”:</p>
                    <ol>
                        <li>Используйте <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>наши инструменты</a> по подготовке геометрии в сцене. Внимательно следуйте <a href='{{ url_for('tutorials.preparing_geometry') }}'>инструкциям</a> и экспортируйте корректную модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                    <p>Решение “c”:</p>
                    <ol>
                        <li>Сложные, высокополигональные объекты с множеством отдельных маленьких элементов существенно снижают производительность тура. Вы можете вручную создать “прокси” объект, который будет напоминать по форме исходный и поместить его в сцену. Подготовьте геометрию и экспортируйте новую модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>

                    <p>Решение “d”:</p>
                    <ol>
                        <li>Если вы хотите сохранить объекты, сделанные с помощью scatter - конвертируйте их в меш, перед использованием скрипта по подготовке геометрии. Подготовьте геометрию и экспортируйте новую модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                        <li>Учитывайте, что сложные объекты существенно влияют на производительность тура. Чтобы его минимизировать, вы можете поступить аналогично Решению “c” (в тексте выше).
                        </li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>В сцене присутствуют объекты - “призраки”, которых нет на рендере, но заметны при перемещении между точками.
                    </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Ваша 3d модель не совпадает с рендерами. Это может быть вызвано (a) изменениями в рендерах, которые не были отражены в 3d модели (например замена рендеров на новую версию, без замены модели) или (b) наличием анимированных объектов в сцене.
                    </p>
                    <p>Решение “a”:</p>
                    <ol>
                        <li>Проверьте, из каких версий сцены в тур загружены рендеры и 3d модель, выберите корректную версию компонентов тура.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                    <p>Решение “b”</p>
                    <ol>
                        <li>Удалите всю анимацию в сцене, кроме Virtoaster camera. Если вы будете следовать инструкциям по созданию камеры внимательно (что и следует сделать!), скрипт удалит анимацию автоматически.
                        </li>
                        <li>Вручную проверьте, наличие анимации в сцене, не вызывает ли она нежелательных эффектов (например анимированное кресло меняет свое положение на разных кадрах). Пересчитайте новые, корректные изображения.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Вместо объекта в сцене виден прямоугольник при перемещении между точками.</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Это является результатом неправильного экспорта прокси объекта. В 3d max прокси экспортируются в .obj в том виде, в каком они отображаются во вьюпорте, например в режиме отображения “bounding\solid box” прокси экспортируется в виде прямоугольника.
                    </p>
                    <p>Решение:</p>
                    <ol>
                        <li>Используйте <a href='/static/scripts3d/Biganto-UTL_VirtoasterExportTools_0.53.ms'>наши инструменты</a> по подготовке геометрии в сцене. Внимательно следуйте <a href='{{ url_for('tutorials.preparing_geometry') }}'>инструкциям</a> и экспортируйте корректную модель.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Невозможно перемещаться между точками. Невозможно перемещаться по нажатию “назад”. При переходе между точками вся сцена смазывается, возникает размытое изображение вместо плавного перехода. Перемещение через стены.
                    </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>3d модель не совпадает с рендерами, т.к. :</p>
                    <ol type="a">
                        <li>Выбран не корректный рендер. Cubemap панорамы в Vray и Corona имеют разный порядок сторон куба, таким образом, если выбран неправильный рендер, модель не совпадает с рендерами.
                        </li>
                        <li>Неправильный масштаб 3d модели</li>
                    </ol>
                    <p>Решение “a” - выбран не корректный рендер:</p>
                    <ol>
                        <li>Проверьте, правильный ли рендер вы выбрали в туре. Если вы не знаете какой должен быть рендер, вы все равно можете попробовать решение - результат манипуляций легко отменяется.
                        </li>
                        <li>Откройте редактирование компонентов тура и нажмите “Перезалить” над списком панорам. Выберите ваши рендеры и выберите правильный рендер.
                        </li>
                    </ol>
                    <p><img src="/static/public/img/tutorials/troubleshooting/image_3.jpg" alt=""></p>
                    <p>Решение “b” - неправильный масштаб модели:</p>
                    <ol>
                        <li>Используйте наши инструменты для подготовки геометрии. Внимательно следуя <a href='{{ url_for('tutorials.preparing_geometry') }}'>инструкциям</a> подготовьте геометрию и экспортируйте модель.
                        </li>
                        <li>Если вы экспортируете модель из другого 3d пакета или нет возможности использовать наши инструменты, убедитесь что модель экспортируется в метрах.
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Невозможно перейти в какую либо точку. </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Наиболее вероятно, в 3d модели существует объект, препятствующий перемещению в данную точку. Это может быть результатом (a) некорректного размещения точек или (b) по какой-то причине между точками остался 3d объект.
                    </p>
                    <p>Решение “a”:</p>
                    <ol>
                        <li>Откройте вашу 3d сцену, чтобы убедиться что между точками есть линия прямой видимости и нет мешающих 3d объектов.
                        </li>
                        <li>Чтобы изменить положение точек, удалите существующую Virtoaster камеру и вспомогательную геометрию (но не объекты типа helper). Исправьте положение точек и создайте камеру, следуя инструкциям.
                        </li>
                        <li>Из скрипта создания камеры сформируйте файл с координатами точек (используйте <a href='{{ url_for('tutorials.setting_up_camera') }}'>раздел по созданию камеры</a>)
                        </li>
                        <li>Выполните рендер для новых точек. </li>
                        <li>
                            В режиме редактирования компонентов, наведите мышью на измененные панорамы и выберите “Редактировать”. Вы можете узнать номер панорамы например из интерфейса редактирования миникарты.
                            <p><img src="/static/public/img/tutorials/troubleshooting/image_4.jpg" alt=""></p>
                        </li>
                        <li>Загрузите новый рендер и скопируйте координаты из файла с точками в текстовое поле.
                        </li>
                    </ol>
                    <p><img src="/static/public/img/tutorials/troubleshooting/image_5.jpg" alt="" width="800"></p>
                    <p>Решение “b”</p>
                    <ol>
                        <li>Откройте вашу 3d сцену, чтобы убедиться что между точками есть линия прямой видимости и нет мешающих 3d объектов.
                        </li>
                        <li>Удалите\сдвиньте мешающий объект и пересчитайте эти изменения на рендерах.
                        </li>
                        <li>Экспортируйте новую 3d модель.</li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”).
                        </li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>3d модель тура сдвинута относительно рендеров, при передвижении кажется, что границы объектов сдвинуты и размыты..
                    </h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Вероятно, координаты точек сдвинуты относительно рендеров. Это может быть результатом непреднамеренного сдвига сцены, вспомогательных 3d объектов или камеры относительно друг друга перед рендером.
                    </p>
                    <p>Решение:</p>
                    <ol>
                        <li>Откройте 3d сцену и убедитесь что камера, хэлперы и вспомогательные 3d объекты не сдвинуты относительно друг друга. Выгрузите координаты камеры и убедитесь, что именно они используются в туре (режим редактирования компонентов, откройте одну из панорам, чтобы увидеть, какие координаты в ней используются). Если где-то обнаружилось несоответствие, <a href='{{ url_for('tutorials.setting_up_camera') }}'>пересоздайте камеру</a> и пересчитайте рендеры. Соберите новый тур используя корректное положение модели и камеры.
                        </li>
                        <li>В качестве альтернативного решения, вы можете попробовать вручную вернуть 3d модель в правильную позицию, соответствующую рендерам. Например, восстановить модель из предыдущей версии сцены при ее наличии. Соберите новый тур используя корректное положение модели и камеры.
                        </li>
                        <li>Так или иначе в данном случае нет простого пути решения проблемы. Часто лучшим вариантом будет начать заново, с шага создания камеры и внимательно следить за тем, чтобы не сместить по ошибке компоненты тура.
                        </li>
                    </ol>
                </div>

                <div id="image-camera-issues" class="b-anchor"></div>
                <h2>Проблемы, связанные с камерой и изображениями</h2>

                <div
                    class="troubleshooting__wrapper troubleshooting__wrapper__arrow troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Видимые швы на гранях куба в туре.</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>Видимые швы на границах кубических рендеров являются результатом некорректной постобработки или включенных
                        постэффектов во время рендера. Такие эффекты как размытие, DoF, Bloom, виньетирование или sharp оставляют видимые
                        швы, если применены неправильно. Некоторые из этих эффектов нельзя применять для cubemap панорам совсем. Если вы
                        используете Corona 4.0 или новее, High Quality Image Filter (вкладка System в настройке рендера) также может
                        вызывать видимые швы.
                    </p>
                    
                    <p>Решение:</p>
                    <ol>
                        <li>Проверьте настройки, с которыми выполнялся рендер и постобработка. Используя статьи по <a
                                href='{{ url_for('tutorials.post_production') }}'>постобработке</a> и <a
                                href='{{ url_for('tutorials.setting_up_render') }}'>настройке рендера</a> исправьте ваши панорамы. Замените
                            панорамы, с помощью режима редактирования компонентов тура.
                        </li>
                        <li>Проверьте Image Filter type во вкладке System в настройках рендера. Отключите High Quality Image Filter и
                            установите тип фильтра "None" или "Tent".</li>
                    </ol>
                </div>

                <div class="troubleshooting__wrapper troubleshooting__wrapper--closed troubleshooting__wrapper__arrow">
                    <h3>Камера в туре находится на уровне пола, точки в туре имеют некорректную высоту.</h3>
                </div>
                <div class="troubleshooting__explanation">
                    <p class="troubleshooting__explanation__title">Разъяснение:</p>
                    <p>При создании камеры для всех или только некоторых точек был пропущен шаг, в котором изменялась высота камеры.</p>
                    <p>Решение “a” - все точки в туре имеют некорректную высоту:</p>
                    <ol>
                        <li>Внимательно следуйте <a href='{{ url_for('tutorials.setting_up_camera') }}'>инструкциям по созданию камеры</a>, выставите новую камеру, пересчитайте рендеры
                        </li>
                        <li>Или экспортируйте новую модель и выгрузите файл с новыми координатами точек (с помощью скрипта по созданию камеры).
                        </li>
                        <li>Нажмите “Вернуться к загрузке компонентов” в интерфейсе сборки тура. Загрузите исправленную модель и отправьте тур на повторную обработку (кнопка “Создать тур”). В качестве альтернативы, вы можете использовать экспортированную ранее модель, но при сборке тура использовать координаты, сформированные в предыдущем шаге (снимите галочку “Распознать координаты из 3d модели” и загрузите файл).
                        </li>
                    </ol>

                    <p>Решение “b” - только отдельные точки тура имеют некорректную высоту:</p>
                    <ol>
                        <li>Пересчитайте рендеры для проблемных точек, с корректной высотой</li>
                        <li>
                            В режиме редактирования компонентов, наведите мышью на измененные панорамы и выберите “Редактировать”. Вы можете узнать номер панорамы например из интерфейса редактирования миникарты.
                            <p><img src="/static/public/img/tutorials/troubleshooting/image_4.jpg" alt=""></p>
                        </li>
                        <li>
                            В загрузчике компонентов тура наведите на проблемные точки и выберите “Редактировать”. Вы можете узнать номер точки из окна редактирования миникарты.
                            <p>Загрузите новые изображения и вручную измените высоту точек (координата Z). Стандартная высота - 1,5 метра над уровнем пола. Вы можете узнать правильную высоту из координат других, правильных точек в туре или использовать скрипт камеры, чтобы выгрузить координаты редактированных точек (детальная информация в статье <a href='{{ url_for('tutorials.setting_up_camera') }}'>Настройка камеры</a>).
                            </p>
                            <p><img src="/static/public/img/tutorials/troubleshooting/image_6.jpg" alt="" width="600">
                            </p>
                        </li>
                        <li>Повторите процесс для всех некорректных точек</li>
                        <li>Обратите внимание, что из-за того, что точки находились на уровне пола, текстура на модели в режиме 3D panorama может быть некорректна.
                        </li>
                    </ol>
                </div>
            </div>

            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#general-issues"
                                class="side-menu__link link-scroll-to">Общие проблемы</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#model-issues"
                                class="side-menu__link link-scroll-to">Проблемы, связанные с 3d моделью</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#image-camera-issues"
                                class="side-menu__link link-scroll-to">Проблемы, связанные с камерой и изображениями</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>

{% endblock %}

