{% extends 'base.html' %}
{% set page_title = _("Uploading assets") %}
{% set corpus_class = 'tutorials' %}
{% set background_head = '/static/public/img/tutorials/uploading-assets/assets-uploading.jpeg' %}

{% block head %}{% endblock %}

{% block content %}

<div class="content-page">
    <div class="page-title page-title--textpage"{% if background_head %} style="background-image: url({{ background_head }});"{% endif %}>
        <div class="b-page__inner">
            <div class="page-title__inner">
                <h1 class="h1 page-title__head">{{ page_title }}</h1>
                <div class="page-title__tags tags">
                    <span class="tags__item tags__item--red">{{ _("must-read") }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="b-page__inner b-page__mrg">
        <div class="content-page__wrapper">

            <div id="more" class="b-anchor"></div>
            <div class="content-page__main">
                <h2>Создание нового тура</h2>

                <p>Чтобы начать создание тура, нажмите “Создать тур” в верхней части страницы Virtoaster или зайдите в существующую папку с турами и найдите соответствующий пункт в конце списка туров. Вы увидите интерфейс загрузки контента.</p>
                <p><img src="/static/public/img/tutorials/uploading-assets/image_1.png" alt="" /></p>
                <p>Любой тур в Virtoaster требует три основных компонента. Первый - панорамные 360 рендеры. На данный момент мы поддерживаем следующие изображения:</p>
                <ul>
                    <li>Cubemap 6x1 панорамы (12x1 для бинокулярных рендеров)</li>
                    <li>Разрешение 9216x1536 пикселей (18432x1536  для бинокулярных рендеров)</li>
                    <li>.jpg или .png формат (мы рекомендуем использовать только .png чтобы избежать двойной компрессии при использовании .jpg)</li>
                    <li>имена файлов должны содержать последовательные номера для того, чтобы была возможность совместить панорамы с координатами точек в туре (нумерация должна быть непрерывной и с явно читаемым номером, например “Render_01.png”, “Render_02.png” и т.д., изображения с именами файла вида “10001.png” применять нельзя).</li>
                </ul>

                <div id="uploading_panoramas" class="b-anchor"></div>
                <h3>Загрузка панорам</h3>
                <p>Если вы внимательно следовали инструкциям по установке и <a href='{{ url_for('tutorials.setting_up_camera') }}'>настройке камеры</a> и <a href='{{ url_for('tutorials.setting_up_render') }}'>настройке рендера</a>, у вас уже должна быть готова необходимая последовательность изображений. Выберите тип рендера и файлы для загрузки - вы увидите список загруженных изображений под заголовком “Результат”. Из этого списка вы можете заменить отдельные изображения (наведите курсор на пункт списка и нажмите “Удалить центральную панораму”) или удалить точки совсем (“Удалить точку”).</p>
                <p>Если загруженные файлы не отвечают требованиям, вы получите сообщение с ошибкой в нижней части экрана. Создать тур при наличии сообщений с ошибками невозможно.</p>
                <p><img src="/static/public/img/tutorials/uploading-assets/image_2.jpg" width="360" alt="" /></p>
                <p>Вы также можете загрузить бинокулярные панорамы. Каждая бинокулярная 12x1 панорама должна иметь соответствующую обычную 6x1 панораму.</p>

                <div id="uploading_3d_model" class="b-anchor"></div>
                <h3>Загрузка 3d модели</h3>
                <p>Далее, загрузите 3d модель сцены. По умолчанию мы рассчитываем получить высокополигональную модель в формате .obj, для оптимизации нашим алгоритмом. Следуйте инструкциям в статье <a href='{{ url_for('tutorials.preparing_geometry') }}'>Подготовка геометрии</a> чтобы выполнить все необходимые предварительные действия и экспортировать .obj файл с правильными настройками.</p>
<!--                <p><span class='warning'>Важно:</span> вероятно высокополигональная модель сцены занимает значительный объем на диске. Используйте zip архив, чтобы уменьшить размер файла для загрузки.</p>-->
                <p>Альтернативно вы можете загрузить низкополигональную модель сцены самостоятельно. Размер модели не должен превышать 50 мегабайт и 200-300 тысяч полигонов, в противном случае, вы можете столкнуться с низкой производительностью при просмотре тура. Модель может не иметь текстурных координат и должна быть экспортирована в метрах. Снимите галочку “Оптимизировать 3d модель” при загрузке.</p>
                <p>Вы также можете снять флаг "Подготовить режим 3d панорамы" чтобы не создавать ее во время обработки
                    тура. Это может сэкономить некоторое время на обработку, если вы не заинтересованы в этой функции.
                    Однако, вы должны понимать, что создать 3d панораму отдельно, без полной пересборки тура невозможно
                    и она будет недоступна вам.
                </p>
                <p><span class='warning'>Важно:</span> вы можете в любое время выключить и включить режим 3d панорамы в опциях внутри тура.</p>

                <div id="uploading_coordinates" class="b-anchor"></div>
                <h3>Загрузка координат</h3>
                <p>Наконец, третий компонент - координаты точек. По умолчанию координаты распознаются из 3d модели сцены (с помощью вспомогательной геометрии, создаваемой одновременно с камерой). Пропустите этот шаг, если вы создавали камеру по нашим инструкциям и загружаете высокополигональную модель. </p>
                <p>В противном случае используйте наш скрипт по созданию камеры чтобы выгрузить координаты точек в .txt файле (более детальное описание в разделе <a href='{{ url_for('tutorials.setting_up_camera') }}'>Настройка камеры</a>). Загрузите файл с координатами или скопируйте координаты в поле для ввода текста. Загрузчик выполнит проверку координат и сообщит, если существуют какие-либо проблемы. </p>
                <p>Как только все компоненты загружены и отсутствуют сообщения об ошибках вы можете инициировать сборку тура с помощью кнопки “Создать тур” в нижней части страницы. Ваш тур будет добавлен в очередь сборки, вы получите сообщение на email по завершению сборки.</p>
                <p>По завершению сборки, не забудьте изменить статус тура на “Опубликован”. Для более подробной информации, перейдите в раздел <a href='{{ url_for('tutorials.releasing_tour') }}'>Публикация 3d тура</a>.</p>
                <p>Если по каким либо причинам вы не можете завершить создание тура, вы сможете вернуться к этому позже - тур будет доступен в списке туров в статусе “Загрузка”. Тур можно удалить окончательно, если вы не хотите завершать его сборку.</p>
                <p><img src="/static/public/img/tutorials/uploading-assets/image_3.jpg" alt="" /></p>
            </div>

            <aside class="content-page__side content-page__side--hide">
                <nav class="side-menu sticky" data-top-spacing="96" data-res="lg">
                    <ul class="side-menu__list">
                        <li class="side-menu__item">
                            <a href="#more" class="side-menu__link link-scroll-to">Создание нового тура</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#uploading_panoramas" class="side-menu__link link-scroll-to">Загрузка панорам</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#uploading_3d_model" class="side-menu__link link-scroll-to">Загрузка 3d модели</a>
                        </li>
                        <li class="side-menu__item">
                            <a href="#uploading_coordinates" class="side-menu__link link-scroll-to">Загрузка координат</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>

{% endblock %}

