{% macro bladerunner_messages(_, pgettext) %}
var BLADERUNNER_MESSAGES = {
    // navigation and notifications
    tours: "{{ _("Tours") }}",
    projects: "{{ _("Projects") }}",
    scenes: "{{ _("Scenes") }}",
    statistics: "{{ _("Statistics") }}",
    settings: "{{ _("Settings") }}",
    support: "{{ _("Support") }}",
    CameraOperator: "{{ _("Camera operator") }}",
    logout: "{{ _("Logout") }}",
    notifications: "{{ _("Notifications") }}",
    notificationEmpty: "{{ _("No notifications yet") }}",
    notificationBilling: "{{ _("Billing") }}",
    notificationCommon: "{{ _("Common") }}",
    notificationOther: "{{ _("Other") }}",

    profile: "{{ _("Profile") }}",
    uploadPhoto: "{{ _("Upload photo") }}",

    // order statuses
    scheduled: "{{ _("scheduled") }}",
    canceled: "{{ _("canceled") }}",
    enroute: "{{ _("enroute") }}",
    shooting: "{{ _("shooting") }}",
    shoot_complete: "{{ _("shot success") }}",
    processing: "{{ _("processing") }}",
    review: "{{ _("review") }}",
    reschedule: "{{ _("reschedule") }}",
    failed: "{{ _("failed") }}",
    success: "{{ _("ready") }}",
    smoking: "{{ _("smoking") }}",

    today: "{{ _("Today") }}",
    goToCurrentDate: "{{ _("Go to current date") }}",
    noCapturesYet: "{{ _("No captures yet.") }}",

    // order form
    Property: "{{ _("Property") }}",

    // Property types
    apartments: "{{ _("apartments") }}",
    room: "{{ _("room") }}",
    house: "{{ _("house") }}",
    commercial: "{{ _("commercial") }}",
    parking: "{{ _("parking") }}",
    other: "{{ _("other") }}",

    Type: "{{ _("Type") }}",
    Rooms: "{{ _("Rooms") }}",
    AprSquare: "{{ _("Apr. Square") }}",
    CityTown: "{{ _("City / town") }}",
    Address: "{{ _("Address") }}",
    DateAndTime: "{{ _("Date and time") }}",
    Day: "{{ _("Day") }}",
    TimeSlot: "{{ _("Time slot*") }}",
    NoTimeSlots: "{{ _("No available timeslots for this address on this day. Try selecting another day.") }}",
    SelectDate: "{{ _("Select date and provide approx. square to request available timeslots") }}",
    Living: "{{ _("Living") }}",
    New: "{{ _("New") }}",
    AddContactsRows: "{{ _("Add more contacts") }}",
    IHaveNotifiedOwner: "{{ _("I have notified owner that site must be prepared for capturing:") }}",
    RemoveRubbish: "{{ _("• Remove rubbish, hide excess items, clear surfaces") }}",
    HidePrivate: "{{ _("• Hide any items containing private information (photos, documents), so that they won't get in the shot") }}",
    RemoveReligiousSymbols: "{{ _("• Remove all religious symbols if present") }}",
    Delete: "{{ _("Delete") }}",

    Owner: "{{ _("Owner") }}",
    Name: "{{ _("Name") }}",
    Contact: "{{ _("Contact") }}",

    Agent: "{{ _("Agent") }}",
    Manager: "{{ _("Manager") }}",
    OrderNewCapture: "{{ _("Order new capture") }}",

    Required: "{{ _("Required") }}",
    SelectAddress: "{{ _("Select address") }}",

    AdditionDetails: "{{ _("Addition details") }}",
    Comment: "{{ _("Comment") }}",
    Location: "{{ pgettext("bladerunner", "Location") }}",
    Date: "{{ _("Date") }}",
    Time: "{{ _("Time") }}",
    Details: "{{ _("Details") }}",
    Properties: "{{ _("Properties") }}",
    NewOrder: "{{ _("New order") }}",
    Captures: "{{ _("Captures") }}",
    CaptureScheduled: "{{ _("Capture scheduled") }}",
    Undo: "{{ _("Undo") }}",
    forXSec: "{{ _(" for {timeLeft} sec.") }}",
    OrderEditing: "{{ _("Order editing") }}",
    EditOrder: "{{ _("Edit order") }}",
    ApNumber: "{{ _("Ap. number") }}",
    Entrance: "{{ _("Entrance") }}",
    Floor: "{{ _("Floor") }}",
    IntercomeCode: "{{ _("Intercome code") }}",

    // Assets
    Tours: "{{ _("Tours") }}",
    AddTours: "{{ _("Add tours") }}",
    Photos: "{{ _("Photos") }}",
    AddPhotos: "{{ _("Add photos") }}",
    Videos: "{{ _("Videos") }}",
    AddVideos: "{{ _("Add videos") }}",
    BankValuation: "{{ _("Bank valuation") }}",
    AddImages: "{{ _("Add images") }}",
    tourIdOrLink: "{{ _("Tour ID or link") }}",
    AddTour: "{{ _("Add tour") }}",
    InvalidData: "{{ _("Invalid data") }}",
    TourNotFound: "{{ _("Tour not found") }}",
    Deletetour: "{{ _("Delete tour") }}",
    Deletephoto: "{{ _("Delete photo") }}",
    Deleteimage: "{{ _("Delete image") }}",
    Deletevideo: "{{ _("Delete video") }}",
    Deletebank: "{{ _("Delete photo") }}",

    phone: "{{ _("Phone") }}",
    phone_cell: "{{ _("Cell phone") }}",
    phone_work: "{{ _("Work phone") }}",
    phone_home: "{{ _("Home phone") }}",
    telegram: "{{ _("Telegram") }}",
    whatsapp: "{{ _("Whatsapp") }}",
    viber: "{{ _("Viber") }}",
    link: "{{ _("Link") }}",
    instagram: "{{ _("Instagram") }}",
    facebook: "{{ _("Facebook") }}",
    vk: "{{ _("VK") }}",
    linkedin: "{{ _("LinkedIn") }}",
    SaveChanges: "{{ _("Save changes") }}",
    InvalidEmail: "{{ _("Invalid contact email.") }}",
    InvalidName: "{{ _("Invalid name") }}",

};
{% endmacro %}