
{% macro common_messages(_, pgettext) %}
var COMMON_MESSAGES = {
    // Tasks
    by: "{{ _("by") }}",
    tasks: "{{ _("Tasks") }}",
    addTask: "{{ _("Add task") }}",
    addFile: "{{ _("Add file") }}",
    filesExceedSizeLimit: "{{ _("Following files exceed maximum size limit of $sizeLimit$MB") }}",
    filesExceedNumberLimit: "{{ _("The number of attached files exceeds maximum limit of $numberLimit$ files per upload") }}",
    download: "{{ _("Download") }}",
    delete: "{{ _("Delete") }}",
    due: "{{ _("Due") }}",
    showMore: "{{ _("Show more") }}",
    showLess: "{{ _("Show less") }}",
    newFirst: "{{ _("New first") }}",
    oldFirst: "{{ _("Old first") }}",
    recentActivityFirst: "{{ _("Recent activity first") }}",
    mostImportantFirst: "{{ _("Most important first") }}",
    lessImportantFirst: "{{ _("Less important first") }}",
    earliestDueDate: "{{ _("Earliest due date") }}",
    latestDueDate: "{{ _("Latest due date") }}",
    files: "{{ _("Files") }}",
    archive: "{{ _("Archive") }}",
    canceled: "{{ _("Cancel") }}",
    debug: "{{ _("Debug") }}",
    done: "{{ _("Done") }}",
    draft: "{{ _("Draft") }}",
    progress: "{{ _("In progress") }}",
    pause: "{{ _("Pause") }}",
    review: "{{ _("Review") }}",
    todo: "{{ _("To do") }}",
    deleteTask: "{{ _("Delete task") }}",
    archivedTitle: "{{ _("Archived and cancelled tasks") }}",
    back: "{{ _("Back") }}",
    noTasksYet: "{{ _("No tasks yet") }}",
    noTasksMatching: "{{ _("No tasks matching the filters") }}",
    createFirstTask: "{{ _("Create first task") }}",

    error: "{{ _("Error") }}",
    errorUnexpected: "{{ _("An unexpected error occurred. Changes could not be saved.") }}",
    errorOffline: "{{ _("Please check your network connection and try again.") }}",
    errorPermission: "{{ _("You don't have permission to access on this server.") }}",
    errorNotAuthorized: "{{ _("You have attempted to access a page for which you are not authorized. Please <a href='/my/login/'>login</a>.") }}",
    default: "{{ _("Unfortunately the server is temporarily not available. Please, try again later.") }}",

    systemFilter: "{{ _("System") }}",
    chatFilter: "{{ _("Chat") }}",
    chatTitle: "{{ _("Activity") }}",

    // roles
    super: "{{ _("Owner") }}",
    admin: "{{ _("Admin") }}",
    cameraman: "{{ _("Camera operator") }}",
    plotman: "{{ _("Drawing management") }}",
    viewer: "{{ _("Viewer") }}",
    taskman: "{{ _("Create tasks") }}",
    worker: "{{ _("Execute tasks") }}",

    // TasksModal
    titlePlaceholder: "{{ _("Title") }}",
    descriptionPlaceholder: "{{ _("Description") }}",
    contractor: "{{ _("contractor") }}",
    contractorSelect: "{{ _("Select") }}",
    nobody: "{{ _("Nobody") }}",
    chooseArea: "{{ _("Choose area") }}",
    save: "{{ _("Save") }}",
    saveAsDraft: "{{ _("Save as draft") }}",
    selectAreaModalHeader: "{{ _("Select area to link") }}",
    areaSelectSubmitTitle: "{{ _("Select") }}",
    areaSelectLabel: "{{ _("Linked to area") }}",
    tourSelectModalHeader: "{{ _("Select tour to link") }}",
    tourSelectSubmitTitle: "{{ _("Select") }}",
    tourSelectEmpty: "{{ _("There are no tours in this area") }}",
    share: "{{ _("Share") }}",
    regular: "{{ _("Regular") }}",
    important: "{{ _("Important") }}",
    veryImportant: "{{ _("Very important") }}",
    ultraImportant: "{{ _("Ultra important") }}",
    area: "{{ _("Area") }}",
    view: "{{ _("View") }}",
    viewArea: "{{ _("View area") }}",
    changeArea: "{{ _("Change area") }}",
    tour: "{{ _("Tour") }}",
    viewTour: "{{ _("View tour") }}",
    changeTour: "{{ _("Change tour") }}",
    linkTour: "{{ _("Link to tour in this area") }}",
    linkedToTour: "{{ _("Linked to tour") }}",
    viewMarker: "{{ _("View marker") }}",
    moveMarker: "{{ _("Move marker") }}",
    linkMarker: "{{ _("Create marker and link to it") }}",
    linkedToMarker: "{{ _("Linked to marker") }}",
    linkTo: "{{ _("Link to") }}",
    unlink: "{{ _("Unlink") }}",
    deleteCommentButton: "{{ _("Delete") }}",
    // TODO i18n
    userChangedTitle: "{{ _("changed title to:") }}",
    userRemovedTitle: "{{ _("removed title") }}",
    userChangedDescription: "{{ _("changed description to:") }}",
    userRemovedDescription: "{{ _("removed description") }}",
    userAddedFiles: "{{ _("added files") }}",
    userAddedPhotos: "{{ _("added photos") }}",
    userSetPriority: "{{ _("set priority") }}",
    userRemovedPriority: "{{ _("removed priority") }}",
    userSetStatus: "{{ _("set status") }}",
    userCreatedTask: "{{ _("created task") }}",
    userChangedAssignee: "{{ _("changed contractor to:") }}",
    userRemovedAssignee: "{{ _("removed contractor") }}",
    userChangedDeadline: "{{ _("changed due date to:") }}",
    userRemovedDeadline: "{{ _("removed due date") }}",
    userChangedAreaId: "{{ _("changed linked area to:") }}",
    userDeletedFiles: "{{ _("deleted file") }}",
    errorTaskCreating:  "{{ _("An error occurred while creating the task") }}",
    errorTaskFileCreating:  "{{ _("An error occurred while uploading the file") }}",
    showMore: "{{ _("Show more") }}",
    showLess: "{{ _("Show less") }}",
    photos: "{{ _("Photos") }}",
    delete: "{{ _("Delete") }}",
    changeTo: "{{ _("Change to") }}",
    cancel: "{{ _("Cancel") }}",

    // Gallery
    noVideoSupport: "{{ _("Sorry, your browser doesn't support embedded videos") }}",

    // DevconTourModeOnly
    placeTask: "{{ _("Place task") }}",
};
{% endmacro %}
