
{% macro devcon_messages(_, pgettext) %}
var DEVCON_MESSAGES = {
    // header
    project: "{{ _("Project") }}",
    areas: "{{ pgettext("devcon|projects", "Areas") }}",
    notifications: "{{ _("Notifications") }}",
    notificationBilling: "{{ _("Billing") }}",
    notificationCommon: "{{ _("Common") }}",
    notificationOther: "{{ _("Other") }}",
    notificationEmpty: "{{ _("No notifications yet") }}",
    projectName: "{{ _("Project name") }}",
    projectLocation: "{{ pgettext("devcon|projects", "Location") }}",
    addContact: "{{ _("Add contact") }}",
    contact: "{{ _("Contact") }}",
    namePlaceholder: "{{ _("Name") }}",
    contactsPlaceholder: "{{ _("Contacts") }}",
    downloadDrawingTitle: "{{ _("Upload drawings") }}",
    addDrawing: "{{ _("Add drawing") }}",
    downloadDrawingContent: "{{ _("Upload drawing") }}",

    addImage: "{{ pgettext("devcon|projects", "Add image") }}",
    changeImage: "{{ pgettext("devcon|projects", "Change image") }}",
    created: "{{ pgettext("devcon|projects", "Created") }}",
    members: "{{ _("Members") }}",
    tours: "{{ _("Tours") }}",
    drawings: "{{ _("Drawings") }}",
    pending: "{{ _("Pending") }}",
    invite: "{{ _("Invite") }}",
    includeSubareas: "{{ _("Include subareas") }}",
    showNewOnly: "{{ _("Show new only") }}",
    showNewActivityOnly: "{{ _("New activity only") }}",
    projects: "{{ _("Projects") }}",
    scenes: "{{ _("Scenes") }}",
    statistics: "{{ _("Statistics") }}",
    settings: "{{ _("Settings") }}",
    support: "{{ _("Support") }}",
    logout: "{{ _("Logout") }}",
    inviteMember: "{{ _("Invite member") }}",
    addMember: "{{ _("Add member") }}",
    leaveProject: "{{ _("Leave project") }}",
    changeRole: "{{ _("Change role") }}",
    remove: "{{ _("Remove") }}",
    addTour: "{{ _("Add tour") }}",
    roles: "{{ _("Roles") }}",
    email: "{{ _("E-mail") }}",

    myTours: "{{ _("My tours") }}",
    published: "{{ _("Published") }}",
    addTourToArea: "{{ _("Add tour to area:") }}",
    addTour: "{{ _("Add tour") }}",
    addArea: "{{ _("+ Add area") }}",
    newTours: "{{ _("New tours") }}",
    renameArea: "{{ _("Rename area") }}",
    rename: "{{ _("Rename") }}",
    deleteArea: "{{ _("Delete area") }}",
    areYouSure: "{{ _("Are you sure?") }}",
    deleteAreaText: "{{ _("All attached tours will be removed from the project.") }}",
    byName: "{{ _("By name") }}",
    byDateAdded: "{{ _("By date added") }}",
    custom: "{{ _("Custom sort") }}",
    noToursYet: "{{ _("No tours yet") }}",
    noDrawingsYet: "{{ _("No drawings yet") }}",
    viewArea: "{{ _("View area") }}",
    by: "{{ _("by") }}",
    changeParent: "{{ _("Change parent") }}",
    changeParentOfArea: "{{ _("Change parent of area") }}",
    changeAreaFor: "{{ _("Change area for") }}",
    userNotRegistred: "{{ _("The user with this email is not registered. To invite a participant to the project, he must have a Biganto account") }}",
    CameraOperator: "{{ _("Camera operator") }}",
    Captures: "{{ _("Captures") }}",
};
{% endmacro %}
