{% set tax_types = [
    ('ae_trn', gettext('United Arab Emirates TRN')),
    ('au_abn', gettext('Australian Business Number (AU ABN)')),
    ('br_cnpj', gettext('Brazilian CNPJ number')),
    ('br_cpf', gettext('Brazilian CPF number')),
    ('ca_bn', gettext('Canadian BN')),
    ('ca_qst', gettext('Canadian QST number')),
    ('ch_vat', gettext('Switzerland VAT number')),
    ('cl_tin', gettext('Chilean TIN')),
    ('es_cif', gettext('Spanish CIF number')),
    ('eu_vat', gettext('European VAT number')),
    ('hk_br', gettext('Hong Kong BR number')),
    ('id_npwp', gettext('Indonesian NPWP number')),
    ('in_gst', gettext('Indian GST number')),
    ('jp_cn', gettext('Japanese Corporate Number (Hōjin Bangō)')),
    ('kr_brn', gettext('Korean BRN')),
    ('li_uid', gettext('Liechtensteinian UID number')),
    ('mx_rfc', gettext('Mexican RFC number')),
    ('my_frp', gettext('Malaysian FRP number')),
    ('my_itn', gettext('Malaysian ITN')),
    ('my_sst', gettext('Malaysian SST number')),
    ('no_vat', gettext('Norwegian VAT number')),
    ('nz_gst', gettext('New Zealand GST number')),
    ('ru_inn', gettext('Russian INN')),
    ('sa_vat', gettext('Saudi Arabia VAT')),
    ('sg_gst', gettext('Singaporean GST')),
    ('sg_uen', gettext('Singaporean UEN')),
    ('th_vat', gettext('Thai VAT')),
    ('tw_vat', gettext('Taiwanese VAT')),
    ('us_ein', gettext('United States EIN')),
    ('za_vat', gettext('South African VAT number'))
] %}