<script>
    MESSAGES_COMMON = {
        // buttons
        uploadButton: "{{ _("Upload") }}",
        labelChooseFile: "{{ _("Select file") }}",
        noFileChoosen: "{{ _("No file selected") }}",
        filesChoosen: "{{ _("Files selected") }}",
        refreshButton: "{{ _("Refresh") }}",
        uploadingProccess: "{{ _("Uploading") }}",
        statisticsButton: "{{ _("Statistics") }}",
        breadcrumbsListTour: "{{ _("To my tours") }}",
        breadcrumbsListFolder: "{{ _("To my folders") }}",
        breadcrumbsTourFolder: "{{ _("Tour folder") }}",
        addButton: "{{ _("Add") }}",
        rename: "{{ _("Rename") }}",
        deleteButton: "{{ _("Delete") }}",
        cancelButton: "{{ _("Cancel") }}",
        saveButton: "{{ _("Save") }}",
        copyButton: "{{ _("Copy") }}",
        moveButton: "{{ _("Move") }}",
        proceedButton: "{{ _("Proceed") }}",
        retry: "{{ _("Retry now")}}",
        // errors
        errorUploadingFiles: "{{ _("There was an error when uploading the files. Please, try again.") }}",
        errorOffline: "{{ _("Unable to connect to server. Please, check your network connection.") }}",
        errorAny: "{{ _("Service temporarily unavailable, try reloading the page or try again later.") }}",
        errorFileRead: "{{ _("Unable to read the file.") }}",
        errorFormat: "{{ _("Error format") }}",
        errorCoordinatesFormat: "{{ _("Invalid coordinates format for point #{id}") }}",
        missing: "{{ _("Missing") }}",
        autoreconnection: "{{ _("Reconnection in {seconds}...") }}",
        wrongFileFormat: "{{ _("Wrong file format") }}",
        ERROR_UNEXPECTED: "{{ _("An unexpected error occurred. Changes could not be saved.") }}",
        ERROR_OFFLINE: "{{ _("Please check your network connection and try again.") }}",
        DEFAULT: "{{ _("Unfortunately the server is temporarily not available. Please, try again later.") }}",
        ERROR_PERMISSION: "{{ _("You don't have permission to access on this server.") }}",
        ERROR_NOT_AUTHORIZED: "{{ _("You have attempted to access a page for which you are not authorized. Please <a href='/my/login/'>login</a>.") }}",        
        // statuses
        loading: "{{ _("loading") }}",
        enqueued: "{{ _("in a queue") }}",
        processing: "{{ _("processing...") }}",
        testing: "{{ _("testing") }}",
        published: "{{ _("published") }}",
        banned: "{{ _("banned") }}",
        hidden: "{{ _("hidden") }}",
        
        //
        allSaved: "{{ _("All changes have been saved.") }}",
        dropZone: "{{ _("Drop files here to upload.") }}",
        numberOfSkyboxes: "{{ _("Number of points") }}",
        queued: "{{ _("queued") }}",
        copyingTour: "{{ _("We are copying your tour in the background. Please, refresh the page to see when it's done!") }}",
        disassemble: "{{ _("Disassemble") }}",
        rootFolderTitle: "{{ _("My tours (root)") }}",
        filesSuccessfullUploaded: "{{ _("Files succesfully uploaded") }}",
        //
        traffic: "{{ _("Traffic") }}",
        yearly: "{{ _("Yearly") }}",
        monthly: "{{ _("Monthly") }}",
        daily: "{{ _("Daily") }}",
        hourly: "{{ _("Hourly") }}",
        sessionTime: "{{ _("Session time (last two weeks)") }}",
        sessionMin: "{{ _("Min") }}",
        sessionMid: "{{ _("Mid") }}",
        sessionMax: "{{ _("Max") }}",
        location: "{{ _("Location") }}",
        cities: "{{ _("Cities") }}",
        countries: "{{ _("Countries") }}",
        users: "{{ _("Users") }}",
        sessions: "{{ _("Sessions") }}",

    }
</script>
