{% extends 'admin/base.html' %}
{% set menu_current = 'statistics' %}


{% block head %}
    <style type="text/css">
        .chart {
            position: relative;
            margin: 0 0 30px 0;
        }
        .chart__canvas {
            height: 500px;
        }
        .chart__download {
            position: absolute;
            right: 13px;
            top: -2px;
            font-size: 16px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
    <script>
        var BG = {};
        window.BG = BG;
    </script>
{% endblock %}


{% block content %}
<h1>Статистика сервиса</h1>

{% include('admin/statistics/_tabs.html') %}

<form method="get" class="row table-filters" id="form-filters">
    <div class="col-auto">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Отобрать</span>
            <input type="text" name="daterange" value="{{ daterange }}" class="form-control">
        </div>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-sm">Ok</button>
    </div>
</form>

<div class="chart">
    <div class="chart__download" id="download"></div>
    <div class="chart__legend" id="legend"></div>
    <div class="chart__canvas" id="chart"></div>
</div>

{% endblock %}


{% block tail %}

<script>
    BG.CONST = {};
    BG.CONST.LANG = 'ru';
</script>
{% include 'admin/statistics/js_libs.html' %}
<script>
    var statData = {{ rejects|tojson|safe }};

    $(function() {
        AmCharts.makeChart('chart', {
            "type": "serial",
            "language": BG.CONST.LANG,
            "theme": "light",
            "fontFamily": "Verdana, Tahoma, Helvetica Neue, Lucida Grande, sans-serif",
            "legend": {
                "horizontalGap": 10,
                "position": "top",
                "align": "center",
                "fontSize": 11,
                "divId": "legend"
            },
            "responsive": {
                "enabled": true
            },
            "chartCursor": {
                "valueLineEnabled": false,
                "valueLineBalloonEnabled": false,
                // "pan": true,
                "cursorPosition": "mouse",
                "cursorAlpha": 1,
                "cursorColor": "#cd3339"
            },
            "valueAxes": [{
                "id": "v1",
                "min": 0,
                "integersOnly": true,
                "includeAllValues": true,
                "position": "left"
            },
            {
                "id": "v2",
                "axisColor": "#FCD202",
                "min": 0,
                "integersOnly": true,
                "includeAllValues": true,
                "position": "right"
            }],
            "numberFormatter": {
                "precision": -1,
                "decimalSeparator": ".",
                "thousandsSeparator": " "
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
            },
            "chartScrollbar": {
                "oppositeAxis": false,
                "offset": 40,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "graphs": [{
                "valueAxis": "v1",
                "balloonText": "Всего сессий: <b>[[value]]</b>",
                "title": "Все сессии",
                "id": "total",
                "useLineColorForBulletBorder": true,
                "valueField": "total",
                "lineThickness": 2,
            }, {
                "valueAxis": "v1",
                "balloonText": "Отказы: <b>[[value]]</b>",
                "title": "Отказы",
                "id": "rejects",
                "useLineColorForBulletBorder": true,
                "valueField": "rejects",
                "lineThickness": 2,
            }, {
                "valueAxis": "v2",
                "balloonText": "Процент отказов: <b>[[value]]%</b>",
                "title": "Процент отказов",
                "id": "fraction",
                "useLineColorForBulletBorder": true,
                "valueField": "fraction",
                "lineThickness": 4,
            }],
            "dataProvider": statData,
            "listeners": [{
                "event": "rendered",
                "method": function(e) {
                    // задание отображаемого интервала по умолчанию
                    var len = e.chart.dataProvider.length;
                    e.chart.zoomToIndexes(len - 30, len - 1);
                }
            }],
            "export": {
                "enabled": true,
                "divId": "download",
                "menu": [{
                    "class": "export-main",
                    "menu": [
                        {
                            "label": BG.CONST.STAT.MESSAGES.DOWNLOAD_AS,
                            "menu": ["PNG", "JPG", "PDF"]
                        },
                        {
                            "label": BG.CONST.STAT.MESSAGES.PRINT,
                            "format": "PRINT"
                        }
                    ]
                }]
            },
        });

        $('input[name="daterange"]').daterangepicker({
            locale: {
                format: 'DD.MM.YYYY'
            }
        }).on('apply.daterangepicker', function(ev, picker) {
            console.log($('input[name="daterange"]').val())
            $('#form-filters').submit();
        });
    });
</script>

{% endblock %}
