<style>
    a {
        color: #4a90e2;
    }

    .footer-text {
        margin: 16px 0;
    }

    .footer-text a {
        text-decoration: none;
    }
</style>
<table id="common" align="center" border="0" cellpadding="0" cellspacing="0" width="576"
    style="border-collapse: collapse; font-family: Arial; color: #474a4e; font-size: 16px;">
    <tr>
        <td>
            <img src="{{ url_for('static', filename='public/img/header.jpg', _external=True, _scheme='https') }}"
                alt="">
        </td>
    </tr>
    <tr>
        <td>
            <p>
                {{ _("Good day") }},
            </p>

            <p>{{ _('You or someone else have requested a password recovery on the web site <a href="%(url)s">biganto.com</a>.', url=url_for('front.index', _external=True)) }}
            </p>

            <p>
                {{ _("Follow the link to restore the password.") }}
                <a href="{{ url_for('users.restore_password', user_id=user.id, token=token.token, _external=True) }}">
                    {{ url_for('users.restore_password', user_id=user.id, token=token.token, _external=True) }}
                </a>
            </p>

            <p>
                {{ _("If you have not requested a link for password recovery, you can just ignore this message.") }}
            </p>

            <p>
                {{ _("Kind regards,") }}
                <br>
                {{ _("Biganto team") }}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <hr>
        </td>
    </tr>
    <tr style="font-size: small;">
        <td>
            <p class="footer-text">
                {{ _("This email was sent to you as a registered member of biganto.com. To unsubscribe") }} <a
                    href='{{ url_for('front.unfollow', user_id=user.id, token=user.unsubscribe_token, _external=True, _scheme='https') }}'>{{ _("click here") }}</a>.
            </p>
            <p class="footer-text">
                {{ _("Biganto GmbH · Schloßschmidstr. 5 · 80639 Munich · Germany") }}<br />
                {{ _("Registered: Munich Local Court HRB 206771 VAT ID No.: 291306762") }}<br />
                <a
                    href="{{ url_for('front.user_agreement', _external=True, _scheme='https') }}">{{ _("User agreement") }}</a>
                · <a
                    href="{{ url_for('front.privacy_policy', _external=True, _scheme='https') }}">{{ _("Privacy policy") }}</a><br />
            </p>
        </td>
    </tr>
</table>