{% extends 'admin/base-bs-3.html' %}
{% set menu_current = 'news' %}


{% block content %}

<h1>
    Новости
    <a href="{{ url_for('.news_edit') }}" class="btn btn-success text-lg-end"><i class="fa fa-plus-square"></i> Написать новость</a>
</h1>

<table class="table table-bordered">
{% for article in articles %}
<tr>
    <td>
        {{ article.created.strftime('%d.%m.%Y %H:%M') }}<br>
        {{ article.author.name }}
    </td>
    <td class="t">{{ article.message|safe|nl2br }}</td>
    <td>
        <a href="{{ url_for('.news_edit', article_id=article.id) }}" class="btn btn-default btn-sm">Редактировать</a>
    </td>
</tr>
{% endfor %}
</table>


{% endblock %}
