{% extends 'admin/base-bs-3.html' %}
{% set menu_current = 'footages' %}


{% block content %}
    <h2>Языки съёмки #{{ footage.id }}</h2>

    {% include('admin/footages/_tabs.html') %}

    {% if not footage.meta.get('languages') %}
        <div class="alert alert-info">В этой съёмке нет мультиязычности.</div>
    {% else %}
        <table class="table table-bordered table-list" style="width:450px" id="table-langs">
        {% for code, title in footage.meta.get('languages', {})|dictsort %}
            <tr data-code="{{ code }}" {% if code == footage.meta.get('default_lang') %} class="hl" {% endif %}>
                <td>{{ code|upper }}</td>
                <td class="t">{{ title }}</td>
                <td class="text-end">
                    {% if code != footage.meta.get('default_lang') %}
                        <button type="button" class="btn btn-xs btn-success action-set-default" title="Сделать языком по умолчанию"><i class="fa fa-check"></i></button>
                    {% endif %}
                    <a href="#modal-edit" data-bs-toggle="modal" class="btn btn-xs btn-info" title="Переименовать"><i class="fa fa-edit"></i></a>
                    <a href="#modal-delete" data-bs-toggle="modal" class="btn btn-xs btn-danger" title="Удалить"><i class="fa fa-times-circle"></i></a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <form method="post" id="form-set-default" action="{{ url_for('.footage_language_default', footage_id=footage.id) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="code">
        </form>
        <script type="text/javascript">
        (function() {
            $('#table-langs').on('click', '.action-set-default', function(e) {
                $('#form-set-default').find('input[name=code]').val($(this).parents('tr').data('code')).end().submit();
            });
        })();
        </script>
    {% endif %}

    <form method="post" class="form-inline" action="{{ url_for('.footage_language_edit', footage_id=footage.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="text" name="code" style="width:50px" placeholder="Код" maxlength="2" class="form-control">
        <input type="text" name="title" style="width:300px" placeholder="Название" class="form-control">
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>


    <form method="post" action="{{ url_for('.footage_language_edit', footage_id=footage.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="code">
        <div class="modal" id="modal-edit"><div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-toggle="modal"><span>&times;</span></button>
                <h4 class="modal-title">Переименовать язык</h4>
            </div>
            <div class="modal-body">
                    <label>Новое название</label>
                    <input type="text" class="form-control" name="title">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-bs-toggle="modal">Отмена</button>
            </div>
        </div></div></div>
    </form>
    <script type="text/javascript">
    (function() {
        var $modal = $('#modal-edit'), $form = $modal.parent('form');
        $modal.on('show.bs.modal', function(e) {
            var $tr = $(e.relatedTarget).parents('tr');
            $form.find('input[name=code]').val($tr.data('code'));
            $form.find('input[name=title]').val($tr.find('td.t').text());
        }).on('shown.bs.modal', function() {
            $form.find('input[name=title]').focus();
        });
    })();
    </script>


    <form method="post" action="{{ url_for('.footage_language_delete', footage_id=footage.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="code">
        <div class="modal" id="modal-delete"><div class="modal-dialog"><div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-toggle="modal"><span>&times;</span></button>
                <h4 class="modal-title">Удалить язык?</h4>
            </div>
            <div class="modal-body">
                <p>
                    Язык будет более недоступен в выборе языка съёмки. Переводы могут быть удалены.
                </p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ok</button>
                <button type="button" class="btn btn-default" data-bs-toggle="modal">Отмена</button>
            </div>
        </div></div></div>
    </form>
    <script type="text/javascript">
    (function() {
        var $modal = $('#modal-delete'), $form = $modal.parent('form');
        $modal.on('show.bs.modal', function(e) {
            var $tr = $(e.relatedTarget).parents('tr');
            $form.find('input[name=code]').val($tr.data('code'));
        });
    })();
    </script>



{% endblock %}
