{% extends 'prototype.html' %}

{% block content %}
<h1>Создать комнату совместного просмотра</h1>
    <form method="post" class="form-horizontal" id="form-create">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label class="col-sm-2 control-label">tour_id</label>
            <div class="col-sm-10"><input type="text" name="tour_id" class="form-control"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">title</label>
            <div class="col-sm-10"><input type="text" name="title" class="form-control"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">password</label>
            <div class="col-sm-10"><input type="text" name="password" class="form-control"></div>
        </div>
        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary" id="btn-submit">Submit</button>
            </div>
        </div>
    </form>


<script type="text/javascript">
const elForm = document.getElementById('form-create'), elSubmit = document.getElementById('btn-submit');

elForm.addEventListener('submit', (e) => {
    e.preventDefault();
    const fd = new FormData(elForm), payload = {};
    for(let i of ['tour_id', 'title', 'password']) payload[i] = fd.get(i);
    fetch(
        '/api/v3/joint?client=web&client_version=1.0',
        {
            method: 'POST',
            cache: 'no-cache',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
        }
    ).then((resp) => {
        return resp.json()
    }).then((res) => {
        console.log(res);
        if(res.errors) {
            alert(res.errors.join('\n'));
            return;
        }
        location.href = res.result.url;
    });
});
</script>
{% endblock %}