{% extends 'front/tour/index.html' %}
{% set page_title = _("Enter the password") %}
{% set corpus_class = 'about' %}

{% from '/macros/logo.html' import logo %}
{% from '/front/tour/messages_password.html' import messages_password %}

{% block head %}
{{ super() }}
{{ messages_password() }}

<link rel="stylesheet" type="text/css" href="/static/public/player/css/password.css?{{ config.get('RELEASE_VERSION') }}" />

{% endblock %}


{% block init_script %}
<script src="/static/public/player/js/password.js?{{ config.get('RELEASE_VERSION') }}"></script>
{% endblock %}