<!DOCTYPE html>
<html>
<head>
    <title>Приглашение на Форум «Цифровая трансформация строительной отрасли для устойчивого развития» в Санкт-Петербурге 18.11.2019.</title>
    <meta name="description" content="Приглашение на Форум «Цифровая трансформация строительной отрасли для устойчивого развития» в Санкт-Петербурге 18.11.2019">
    <meta property="og:image" content="{{ url_for('static', filename='public/img/share/logo1.png', _external=True) }}" />
    <link rel="shortcut icon" href="/favicon.ico">
    <style type="text/css">
        body { font-family: Arial, sans-serif; font-size: 1em; line-height: 1.4em; }
        p { margin: 2.2em 0;}
        .container { max-width: 1024px; margin: 0 auto;}
        .container-inner{ margin: 20px; }
        .place { text-decoration: underline; }
        .thanks { text-align: right; font-weight: bold; margin-top: 40px;}
    </style>
</head>
<body>
    <div class="container">
    <div class="container-inner">
        <div class="logos">
            <img src="/static/public/img/share/bim.JPG" height="125">
            <img src="/static/public/img/share/biganto.jpg" height="125" style="float: right">
        </div>
        <h1>Уважаемые Коллеги!</h1>

        <p>
            Приглашаем вас принять участие в предстоящем отраслевом Форуме «Цифровая трансформация
            строительной отрасли для устойчивого развития». Организаторы мероприятия: Минстрой России,
            Федеральный Центр Нормирования и Главгосэкспертиза России. Официальный сайт Форума:
            <a href="http://bim-fm.ru/" target="_blank">http://bim-fm.ru/</a>.
        </p>

        <p>
            Форум состоится в понедельник, <strong class="place">18 ноября 2019 года, с 9:00 до 18:00, в Санкт-Петербурге</strong>, по
            адресу: <strong>Петербургское шоссе 64к1 лит. А, ЭКСПОФОРУМ.</strong>
        </p>

        <p>
            На предстоящем мероприятии компания Biganto презентует единственный в своем роде продукт
            на российском и мировом рынках – <strong>3D-камеру нового поколения FilinCam</strong>. Благодаря собственным
            разработкам и технологиям, а также уникальному программному обеспечению, камера FilinCam от
            Biganto может стать одним из самых инновационных и долгожданных решений в области IT-
            технологий на мировой арене, особенно в сфере строительства и проектирования.
        </p>

        <h2>О 3D-камере FilinCam:</h2>
        <p>
            Профессиональная 3D-камера FilinCam сканирует пространство, в автоматическом режиме строит
            3D-модель и 2D-поэтажный план, создает виртуальные фототуры с полной свободой перемещения
            по пространству и дополнительным функционалом в виде кликабельных объектов, рулеткой для
            измерения расстояния, записью маршрута и т.д. Отличительные особенности новой камеры –
            быстрая и качественная съемка в HDR-формате и высокоточное сканирование пространства с
            максимальной погрешностью до 1 см, с целью последующего создания 3D модели с возможностью
            экспортирования в программы: 3D Max, Revit и форматы AutoCAD. Благодаря высокоточному
            лидару, дальность которого составляет 30м, съемка возможна как внутри помещения, так и
            снаружи.
        </p>

        <h2>О компании Biganto:</h2>
        <p>
            Biganto – российская IT компания, которая специализируется на разработке собственного
            программного обеспечения для последующего создания виртуальных 3D и VR-туров нового
            поколения, а также занимается разработкой и производством новых продуктов и технологий. В
            портфеле компании – десятки успешно реализованных проектов, включая крупные кейсы
            известных российских и зарубежных девелоперов. Последняя высокотехнологичная разработка
            компании – профессиональная 3D камера FilinCam, которая является новинкой на мировом рынке
            инновационных решений в области строительства и документирования всего строительного
            процесса.
        </p>

        <p>
            <strong>На предстоящем Форуме Biganto выступит со стендом</strong>, где вы сможете максимально подробно
            узнать обо всех новинках и продуктах компании.
        </p>

        <p>
            <strong>По вопросам, связанным с продуктами компании, вы можете обращаться по e-mail:
            <a href="mailto:info@biganto.com">info@biganto.com</a> или по телефону: +7 (495) 580-32-82.</strong>
        </p>

        <p>
            С портфолио реализованных проектов компании можно ознакомиться на сайте по ссылке:
            <a href="https://biganto.com/portfolio/">https://biganto.com/portfolio/</a>.
        </p>

        <p>
        <div class="thanks">
            С уважением,<br>
            команда Biganto
        </div>
    </div>
    </div>
</body>
</html>